[2016-06-03 00:32] lundmb commented on #428
Correct, the value it returns is how many triplets fit that specification.
It may be possible to base something off of that, however, and it may be
best at this point to just specify what the needed metric would do, as I
think you're right in that something can be done in a general form that
will be quick to calculate if all you're requiring is some pattern in
observations, and don't need to use t

[2016-06-03 00:34] willclarkson commented on #428
Thanks @lundmb  - OK it sounds like it's best just to change the discussion in there from calling TripletMetric explicitly. I should be able to get to that either tonight or tomorrow (06/03).

[2016-06-03 14:53] MichelleLochner opened #464 "Feedback on Transients Chapter"
### Feedback on Transients chapter 6

Here's some suggested changes for the transient chapter for @fedhere and @ebellm!
## General comments
- Overall the chapter hangs together very well. Some work still remains for the editors to smooth over the style, as there are many different voices in the chapter. This is of course true for every chapter in the white paper and will most likely come right aft

[2016-06-03 14:53] MichelleLochner commented on #436
Feedback given in #464!

[2016-06-03 14:53] #436 closed

[2016-06-03 15:04] willclarkson commented on #428
Hi @caprastro @cbritt4 @chomiuk - unless I hear otherwise from you, I will make as many of the changes as I can in Chapter 4.2 by the end of the day.

Thanks!! - Will

[2016-06-03 16:03] cbritt4 commented on #428
I think getting an OpSim run using redder filters towards the Plane is a
good idea. The periods of interest are short, even down to a couple hours.
Having a special survey where we just hammer on even just one part of the
Plane is worth considering. I agree that the bluer filters in this case
should be swapped for more frequent visits in redder ones. The sampling
pattern is, of course, crucial at

[2016-06-03 16:06] michaelstrauss commented on #421
Do we use the phrases "baseline cadence" and "universal cadence" to be synonymous or not?  It is unclear in the white paper.   Perhaps you want to restrict "universal cadence" to the observing plan for the Deep-Wide-Fast component, and "baseline cadence" for the minion_1016 realization, including the deep fields.

[2016-06-03 16:08] drphilmarshall commented on #421
Yes, you're right - they are not synonymous, and should not be used as
such.

On Fri, Jun 3, 2016 at 9:06 AM, Michael Strauss <notifications@github.com>
wrote:

[2016-06-03 16:09] cbritt4 commented on #430
Just to note, the timescales of transients like novae and dwarf novae are also discussed in 6.6.2.

[2016-06-03 16:12] michaelstrauss commented on #421
OK, but we never quite define them or their distinction.  I'm working now on
the introduction; I'll try to make this clear (assuming I said it correctly below).

						-Michael

On Jun 3, 2016, at 12:08 PM, Phil Marshall <notifications@github.com> wrote:

[2016-06-03 16:14] ebellm commented on #428
Just to be clear, I don't think you guys need to specify your preferred alternative cadence to WFD in the Plane.  I just think a few sentences outlining possible cadence tweaks will help make the case for future OpSIM tests at the project level.

[2016-06-03 16:24] willclarkson commented on #428
Thanks @ebellm and @cbritt4 - your comments came in while I was editing!

I suspect github has already informed you, but I just merged a pull request that implements @ebellm 's suggestions (pull request #465). The material on filter alternatives is at the end of the section (in Section 4.2.4).

@cbritt4 - for the medium-term (probably not the Pub Board deadline!) it would be good to know what sort

[2016-06-03 16:35] ebellm commented on #428
Looks good to me, @willclarkson!  Closing this issue.

[2016-06-03 16:35] #428 closed

[2016-06-03 16:43] willclarkson commented on #430
@cbritt4 -- thanks! I think a reference to that section would address @lundmb 's first point above.

@lundmb - I'm next going to have a chance to work on this in about five hours from now. If any more comments occur to you before 6pm EDT, feel free to write them into this issue thread.

[2016-06-03 16:50] michaelstrauss commented on #421
OK, I've made some edits on the preface and the introduction, mostly cleaning up minor wording
issues, etc.  Here are some specific concerns and notes, reading sequentially through:

  Preface: Only very minor edits; it looks fine.

  Introduction:
    -I wonder whether I should be included as a chapter editor?  I wrote a good chunk of the first
few pages.  (It's perfectly OK if I am not).

   I a

[2016-06-03 18:47] rhiannonlynne commented on #421
Thanks for catching those errors @michaelstrauss  - the WFD survey definitely takes 85% of the observations (and I'd guess about 85% of the observing *time* as well), in the baseline survey.
There are 5 DD fields in the current baseline survey, of which 4 are pre-selected fields (so the location of the 5th is subject to change).
The contents of this community page may be helpful for DD clarificati

[2016-06-03 19:01] AshishMahabal commented on #422
Making slow but definite progress on this. Things look great so far. Hope to finish later today.

[2016-06-03 20:21] rbiswas4 commented on #449
@rubind :  This looks quite good.
1. Does the chapter tell a coherent story about the science that is being planned?
Yes.
2. Each science section (such as Section 6.3) needs to briefly describe a planned science project, including the primary measurement or discovery that is being sought. How well we expect to achieve this science goal needs to be quantified by a Figure of Merit, which will depend

[2016-06-03 21:37] mtpenny commented on #450
@rhiannonlynne it seems that github merged the files when importing them from @davidpbennett's  email. I've tried attaching them here.

...fieldcenters is self explanatory
the chips files are the vertices of individual detectors for each pointing (the field has a different orientation at each equinox). The PDF visualizes everything - the circle is a rough idea of the LSST FoV.

In the csv notebook

[2016-06-03 22:42] rbiswas4 commented on #446
@drphilmarshall This looks good. I had not realized about the format till I read the instructions !

###  Does the chapter tell a coherent story about the science that is being planned?

Yes.

### Each science section (such as Section 6.3) needs to briefly describe a planned science project, including the primary measurement or discovery that is being sought. How well we expect to achieve this sci

[2016-06-04 03:22] willclarkson commented on #430
Hi @lundmb - I think I've addressed about all of your comments that I'll be able to get to today (06/03). The ones I didn't get to were the discussion of the timescales of interest, and the broader discussion on other cases also sensitive to duration and cadence.

The former I think could be addressed with a table showing typical cadences (like I think the Transients chapter has), the latter I wou

[2016-06-04 06:28] svalenti commented on #445
1) Does the chapter tell a coherent story about the science that is being planned?

Yes, the chapter tells a coherent story. The use of light curves of supernovae to do supernova cosmology is clear. A bit less clear is how we will get the Physics of SNe from supernovae light curve poor sampled. The use of SNe IIP is mentioned in the introduction, but not mention in the analysis.  Maybe it would be

[2016-06-04 19:06] jhrlsst commented on #445
@arcavi
Thank you very much for your comments. We have added about 1-2 pages which takes care of a number of comments.  Most of the version remained the same (the version you have read), but we have added a justification of needs and a little more about rolling cadence. We will make new draft available coming monday and tuesday.

Jeonghee

[2016-06-04 20:52] bethwillman commented on #429
I made some minor text edits and have a few comments, for now, on Section 4.3:

There are a large number of lists in Section 4.3.  These lists alternately use letters, numbers (both Roman and normal), bullets, and combinations thereof.  Please edit for consistency.  In places where there are just 2 items in a list, consider just presenting that information as a short paragraph.

What is the differ

[2016-06-04 20:56] bethwillman commented on #430
I tightened the text at the beginning of the chapter and also have a few detailed comments, for now:

Section 4.2 - Should clearly state that variable sources being considered will be ID'd and photometered by difference imaging, so they can still be studied (albeit with reduced photometric and astrometric precision) in confused regions.

FoM 3.1 - How good is the assumption that a proto-SN *detect

[2016-06-04 21:05] bethwillman commented on #426
Overall this chapter is looking good.  Would benefit from some text tightening and addition of details so that community members can understand the assumptions that went into the calculations.  Some specific suggestions:

1. Intro and a few other places could use some references

2. Section 3.2.1 - A title like "Discovery Criteria" could be more descriptive.

This section as written could use ligh

[2016-06-04 21:09] bethwillman commented on #416
Tim Jenness is now the chair of the Publication Board.  Has anyone talked with him about this yet?

[2016-06-04 21:14] bethwillman commented on #422
This Chapter overall is in great shape.  The jargony figure titles (even moreso throughout other chapters the White Paper) make the figures hard to quickly read and understand - e.g. CoaddM5 doesn't mean anything to the audience for this white paper.  If the Figure titles and legends don't make sense, then people won't show figures in their talks and posters.  Can these be changed?

[2016-06-04 21:15] bethwillman commented on #421
Michael - It looks like the intro hasn't been edited in a month.  Did you merge in your edits?  I'm doing a close review of the Preface and Intro as well and want to work from the most recent version.  Thanks!

[2016-06-04 21:28] rhiannonlynne commented on #422
Yes, the figure titles and legend labels can be changed. These are
generally the default titles from maf, which (hopefully!) make a lot of
sense to the people making the figures and are provided to help track which
figure came from where/what metric, etc.
However, they are pretty easily changed by a user.

Probably the opsim name should remain in figures though, as otherwise it is
way too easy yea

[2016-06-05 03:43] bethwillman commented on #422
Good point re: the OpSim name in the title, Lynne.

[2016-06-05 04:09] willclarkson commented on #429
Thanks @bethwillman ! I should be able to implement these edits early in the coming week.

[2016-06-05 06:32] michaelstrauss commented on #422
Hello all,
  Here's a detailed set of comments on Chapter 2, which I have now read through in some detail.

 First, some initial statements:

  I think we need to have more of an introduction about some basic things.  First, OpSim itself is described in only a sentence or two, with a reference to the overview paper and the science book for details.  OpSim is absolutely core to the entire white pap

[2016-06-05 06:35] AshishMahabal commented on #422
Sections 2.1 and 2.2 looks good indeed.

Some comments (most of these can be ignored and in general are not critical):

(1) Can some details of difference between the three swiss-cheese cadence be added?

(2) First line of 2.2: provide code version number for OpSim3.61 if easily available.

(3) For minion_1016, do we have max number of filter changes in a night? Many other details are given, so th

[2016-06-06 00:17] solontoi opened #469 "Feedback on Solar System"
@rhiannonlynne @davidtrilling

Great work, the section is really coming together, and here are my first pass thoughts and comments on it.

Also, Lynne, if you want I may be able to help out with the comet section to add some meat to the JFC and LPC discussion. E-mail me (lastname at gmail) if you want some words. I’m in the process of moving right now, but should be able to squeeze in some time fo

[2016-06-06 00:38] tonytyson commented on #448
Here are comments on section 11.1

It would be good to mention the plate scale in WFIRST imaging:   0.11 arcsec/pixel.

The H4RG chips have serious neighboring pixel capacitive crosstalk, which correlates noise and signals.   This is a problem when doing WL at 0.1 arcsec/pixel on galaxies with half light radii of ~0.1 arcsec.   Some mention of this systematic should be made.   For WL, WFIRST measu

[2016-06-06 00:58] tonytyson commented on #448
Here are comments on section 11.2

In the 3rd sentence of paragraph 2, "help to provide better LSST photozs" should be changed to "help to provide better LSST photozs in the shared area"

The 4th sentence is incorrect and should be removed. "A further benefit ... reduced need for LSST observations at the reddest..."   The LSST planned depth in LSST z and Y observing is very deep, and the thick CCD

[2016-06-06 06:13] AshishMahabal commented on #462
annotations sent by email @fedhere @svalenti

[2016-06-06 11:23] MichelleLochner opened #471 "Should we consider pushing the deadline for submitting to pub board forward?"
Hi all

I'd personally like a little more time to address internal referee's comments before submitting to the LSST publication board. Is there any reason why we can't push the current milestone (currently 10th of June) forward to, say the end of June? What does everyone else think?

[2016-06-06 12:31] StephenRidgway commented on #471
With all due respect for our deadline, I notice that the pub board has received a dozen or more draft SPIE papers for review in the last couple of weeks.

[2016-06-06 19:16] rhiannonlynne commented on #437
_Does the chapter tell a coherent story about the science that is being planned?_

I was only asked to review the section, not the overall chapter. However, I peeked through the rest of the chapter and it seems that while there is definitely a coherent overall theme, the different sections seem a bit disparate. To some extent, this is natural -- each chapter lays out an area of science, while each

[2016-06-06 19:25] jhrlsst commented on #433
It was not easy to review this subsection by itself without reading the entire Section 6.
I tried to quickly read the Section 6, but it is possible that I may have missed some facts.

1. Does the chapter tell a coherent story about the science that is being planned?
->I believe that this chapter address all types of supernovae while chapter
9.3 focuses on SNe Ia since they are used to probe cosmol

[2016-06-06 19:52] rhiannonlynne commented on #469
Thanks @solontoi - appreciate your comments, and we'll definitely be happy to take you up on your offer to write some words for the comet section.  I am also moving this week! But we'll try to figure out when to squeeze this in -- it sounds like there's some push to make the deadline for submission to the pub board a little later, which would be great for me.

[2016-06-06 19:53] rhiannonlynne commented on #469
(regarding text - the easiest way to do that is for you to make a personal fork this repo, make your edits there, then submit a PR back from your personal fork to this repo. make sure to add yourself into the author list if you're not already there ;-))

[2016-06-07 02:57] bethwillman commented on #435
I'm glad to see Marcelle's comments here.  Thank you!  Also tagging @tonytyson to be sure he has a chance to take as look at Section 6.5 of the White Paper as well, if he hasn't already.  Tony has been thinking a lot about possible LSST-GW synergies, and some of the challenges.

[2016-06-07 07:57] jhrlsst commented on #435
Sorry. It was just an accident (pushing a wrong button).

[2016-06-07 13:19] bethwillman commented on #447
I like the examples given in this Chapter.

This Chapter would benefit from a bit more introductory context, e.g. 1. Strengthen the statement that the NES, Plane, and low dec are not in the baseline WFD footprint and so are in the baseline as "Special Surveys" - but the details of these special surveys are TBD, 2. define DDF and present as another type of Special Survey, 3. Point to other places i

[2016-06-08 00:13] tonytyson commented on #435
A problem with this section is that it underestimates the required LSST observing because of the false alarm rate from all the other optical transients encountered during the GW EM counterpart ToO campaign.  This issue was addressed by Nissanke and Kasliwal (2013) and in a recent study I did (Doc-21432) available at
https://dl.dropboxusercontent.com/u/86228436/LSST%20GW%20Followup.pdf

[2016-06-08 18:18] ebellm commented on #435
@tonytyson If I can interject my perspective as chapter editor: I see the major goal of this section as justifying the need for TOO observations of EM/GW triggers, over and above the universal cadence, rather than determining the appropriate followup strategy for LSST.  The latter will surely require detailed study and refinement in the coming years as the LIGO era advances.  However, what OpSIM r

[2016-06-08 18:58] tonytyson commented on #435
Hi Eric,

It is unlikely in the extreme that by 2022 there will be 5 GW detectors
with a-LIGO or better sensitivity observing simultaneously. KAGRA is way
behind, and have encountered problems.  India has not committed yet, and
the technical manpower is not there. So we need to stick with what we
reasonably believe [LIGO + Virgo]: 100 sq.deg, on average.

My calculation addresses not the long term

[2016-06-08 19:30] soares-santos commented on #435
@tonytyson @ebellm I am attaching a plot made by Hsin-Yu Chen, a collaborator from U Chicago. The plot shows the median localization area as a function of enclosed confidence level for the case of two (LIGO-H,LIGO-L) and three detectors (LIGO-H,LIGO-L,VIRGO). The median area for 90% c.l. is expected to be around 60 sq-deg for the case of 3 detectors. About 40% less than quoted above.
<img width="7

[2016-06-08 20:09] ebellm commented on #435
Hi Tony,

Since LSST will only follow up a subset of LIGO triggers, we can restrict ourselves to the best-localized.  Even in the three-interferometer case, the best-localized 10% are closer to 10 square degrees than 100 (e.g., Nissanke+ 2013, Figure 5a).

Agreed that we can't be sure when KAGRA and LIGO-India will come online--but even if it's not until 2030, LSST will still have a role to play.

[2016-06-08 20:22] tonytyson commented on #435
Hi,

This will depend strongly on GW S/N.   What was the assumed S/N?  It
also depends on the GW filter. Does this have a optimal filter for some
assumed source waveform, or is it a more open filter?

Thanks,
Tony

On 6/8/16 12:30 PM, soares-santos wrote:

[2016-06-13 19:34] willclarkson commented on #471
I agree with @MichelleLochner - we would really benefit from an extension to the end of June from the Galaxy chapter as well. Has there been any movement on this issue?

Thanks!! cc @akvivas

[2016-06-14 04:17] ohadshemmer commented on #437
Thanks for the feedback @rhiannonlynne
I'll get to it within the next couple of weeks.

[2016-06-22 20:48] rhiannonlynne opened #475 "Opsim observing strategy and commissioning strategy sections disappeared!"
Looks like
555e90f46ac86f468dcf07fd2b71ae63e76f0abe
was the commit where the dirty deed was done.

Is there a reason that these sections were removed?
It makes the links on the front page README not work (i.e. you cannot "Suggest an opsim run")

@yoachim @drphilmarshall

[2016-06-22 20:56] danielsf opened #476 "Links on Readme broken"
The "suggest a new OpSim experiment" and "suggest interesting commissioning observations" links on the Readme page of this repo result in 404 errors.

[2016-06-22 21:05] drphilmarshall commented on #475
Looks like an accidental removal of some folders. @yoachim can you please make amends? Thanks!

[2016-06-22 21:05] yoachim commented on #475
yikes! That's a merge gone mad!
Looks like my local repo lost all the directories except for whitepaper.  I'll try to git-ninja it back.

[2016-06-22 21:18] yoachim commented on #475
Files restored.

Technically it was commit 4b42265f4643946f8238580cb4592dbe5c3bf3da

[2016-06-22 21:18] #475 closed

[2016-06-22 21:27] drphilmarshall commented on #475
Thanks @yoachim! :-)

On Wed, Jun 22, 2016 at 2:18 PM, Peter Yoachim <notifications@github.com>
wrote:

[2016-06-22 21:38] rhiannonlynne commented on #476
Fixed in issue https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/475

[2016-06-22 21:38] #476 closed

[2016-07-06 21:39] yoachim opened #479 "Re-calculated skybrightness: re-run metrics on the upgraded minion_1016 database?"
Hey @drphilmarshall (cc @ivezic),

We have recently run though the new potential baseline OpSim run and used a better skybrightness model and re-computed the 5-sigma limiting depths that result.  This has a pretty big impact on the y-band. The question is if we should re-run the analysis with these better values?  Right now the new values are added as new columns after the fact (just like the dith

[2016-07-07 14:54] willclarkson opened #480 "End-to-end Figure of Merit examples for the Science Collaborations"
Info request: recommended IPython maf tutorials for science collaboration members?

One of the goals of the July 13th web meeting of the Stars, Milky Way and Local Volume (SMWLV) collaboration, is to help collaboration members learn how to translate their science goals into figures of merit (FoMs) for the Observing Strategy Whitepaper. Talking to some of the SMWLV members, there still seems to be

[2016-07-08 01:56] ivezic commented on #479
Hi Phil,
another way to ask this question is: what would happen if we asked everyone
who did any MAF-like analysis for the white paper to redo their analysis using
updated (corrected) m5 values for minion_1016?

This question needs a fairly quick resolution due to a variety of other impacts
on the Project treatment of baseline cadence. Could you please contact all
the coauthors?

       Cheers, Ze

[2016-07-15 18:40] drphilmarshall opened #483 "Finishing the v1.0 White Paper, editorial meeting Weds Aug 3rd, 0800 PDT"
Dear @LSSTScienceCollaborations/observing-strategy-white-paper-editors and @LSSTScienceCollaborations/observing-strategy-white-paper-contributors :

Thank you all for your reviews and edits and patience during what has turned out to be a more extended review period than originally planned!  @bethwillman , @ivezic and I just met to discuss the white paper, having surveyed it's post-review state. Th

[2016-07-15 19:08] egawiser commented on #483
All sounds good - but do you mean Monday, August 8, 8AM PDT or Wednesday, August 10, 8AM PDT?

[2016-07-15 19:16] drphilmarshall opened #484 "Planning for the LSST 2016 Project and Community Workshop, Tucson, August 15-19"
Hi all,

@bethwillman has scheduled three observing strategy sessions for us at the upcoming LSST 2016 Project and Community Workshop in Tucson, August 15-19. As you've probably seen, the meeting is being discussed on [community.lsst.org here](https://community.lsst.org/c/sci/pcw-2016) - please do follow along and/or chip in over there. The meeting agenda page is [here](https://project.lsst.org/me

[2016-07-15 19:22] drphilmarshall opened #485 "White Paper: From Good Questions Come Interesting Conclusions"
@ivezic You mentioned that you have a set of questions that the OpSim group would like to hear answers to, for each science case. Can you please pose these questions here, as a bulleted list, so that the science case authors can answer the ones that are relevant to them in the conclusions of their sections? The chapter editors can collect them into an executive summary later. Thank you! :-)

cc. @

[2016-07-15 19:26] drphilmarshall commented on #471
As you just saw in #483, the answer to your excellent question is a resounding "yes"! I just moved the milestone back to a week after Tucson, as we have some solid cross-chapter editing to do first.

[2016-07-15 19:26] #471 closed

[2016-07-15 19:32] drphilmarshall opened #486 "Check all figures for legibility, issue fixes to authors"
Should be do-able fairly quickly, using your PDF viewer's search facility to hop from one figure to the next. You might want to change the Figure environment so the captions read "Fig." instead of "Figure" first, to avoid stepping through all 238 instances of the word "Figure" but its not necessary. Are the labels, legends, titles, points, lines etc big and clear enough to be easily read? Who'd li

[2016-07-15 19:34] drphilmarshall opened #487 "Check all figure captions for completeness"
Figure captions are important, many people just flick through papers looking at the pictures. Who'd like to hop through all the figures, testing the captions for completeness and issuing fixes?

[2016-07-15 19:35] drphilmarshall opened #488 "Consistent use of "metric", "diagnostic", "figure of merit" etc"
I wrote the definitions of these things out in the introduction, so I guess it's now my job to make sure they are being used correctly throughout the paper. Watch out for targeted issues, if I make edits that need checking...

[2016-07-15 19:42] drphilmarshall opened #489 ""We" means "we the science case investigators" unless otherwise stated"
This is another latex hop-through, albeit involving several different latex files per chapter... Best undertaken by the chapter editors in parallel I think. Please report in once you have done this check for your chapter! Thanks :-)

* [ ] Introduction @drphilmarshall

* [ ] Example Observing Strategies @ivezic @yoachim

* [ ] Solar System @davidtrilling @rhiannonlynne

* [ ] The Galaxy @akvivas @

[2016-07-15 19:45] drphilmarshall opened #490 "Check for missing citations"
We'll need the section authors to make sure that their sections include citations appropriate for a conference proceedings - but would you mind checking the sections for them please, editors? Thank you! Again, please check in when you have completed this task:

* [ ] Introduction @drphilmarshall

* [ ] Example Observing Strategies @ivezic @yoachim

* [ ] Solar System @davidtrilling @rhiannonlynne

[2016-07-15 19:46] drphilmarshall opened #491 "Move sections without quantitative MAF results to Further Work"
I made a first pass at this in the spring, and can do a reprise in August once everyone's conclusions are in place.

[2016-07-15 19:52] drphilmarshall commented on #483
Dammit. One day I will craft the perfect email. I meant **Wednesday August 3rd, 0800 PDT** - to give two weeks before the Tucson meeting. I'll edit the epic above. Thanks!

[2016-07-18 10:59] MichelleLochner commented on #483
@drphilmarshall I'm away on the third so can't attend the telecon... Please post minutes after the meeting!

[2016-07-22 20:37] jasondrhodes commented on #489
@drphilmarshall I have done this for WFIRST, but I am not sure I was looking for the right thing.  Can you give a bit more context for this issue?

[2016-07-22 20:42] lmwalkowicz commented on #489
Yeah @drphilmarshall I don't actually know what you mean by a LaTeX hop through?

[2016-07-22 20:44] lmwalkowicz commented on #483
Shoot, I am in the data science fellowship sessions on the 3rd. Please do post minutes @drphilmarshall!

[2016-07-25 20:44] drphilmarshall commented on #485
Hi @ivezic ! How's that list of questions coming on? Great if you can have it ready by our meeting next week, so we can discuss them on the call before going off and answering them. Do you need anything from us?

[2016-07-25 20:50] drphilmarshall commented on #484
Great! 19 of us at the Tucson meeting is a good group. Now, I am in charge of a 90 minute plenary session [(Thursday 11am-12:30pm)](https://project.lsst.org/meetings/lsst2016/agenda/community-workshop-plenary-0), in which we should show the assembled project and science collaboration audience some _results_ of our MAF evaluation program. Who has some nice quantitative MAF results in your chapter t

[2016-07-25 21:10] ivezic commented on #485
Dr. Phil,
I cc-ed you on all correspondence with the opsim group and (apparently erroneously)
assumed you saw that the list was ready (to be taken). In any, case I am pasting here
the final version:

=======
We invite the editors to consult with their coauthors and consider whether or not and how
each science topic in their chapter constrains the observing cadence in several specific ways.
Some of

[2016-07-26 08:50] lundmb commented on #484
I've got a paper that was published start of the year on some of the
metrics developed, as well

On Mon, Jul 25, 2016 at 1:50 PM, Phil Marshall <notifications@github.com>
wrote:

[2016-07-26 16:29] jasondrhodes commented on #490
@drphilmarshall is there a quick link that shows the preferred style we should use for references?  I did a quick check and didn't see anything in, for example, the readme

[2016-07-26 23:31] ebellm commented on #484
I'd be happy to show results from the Transients Chapter that @fedhere and I edited--we emphasized valuable science cases that are challenging to execute in the current baseline cadence.

[2016-07-27 17:07] rbiswas4 commented on #485
Hi @drphilmarshall / @ivezic Is this a discussion for the Aug 3 or the Tuscon sessions?

[2016-08-01 21:40] drphilmarshall commented on #484
Great, thanks both, @ebellm and @lundmb. What shall I list as your talk
titles?

Others: anyone else got some MAF results they'd like to show? How about
some solar system fun, @dtrilling?

[2016-08-01 22:53] willclarkson commented on #484
Hi Phil - I could talk about building simple figures of merit from
diagnostic metrics in the context of the Galaxy chapter.

What's your deadline for a title? I'd like to include stellar microlensing
if we can get the material into shape in time.

Best,

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn

On Mon, Aug 1, 2016 at 5:41 PM, Phil Ma

[2016-08-02 01:40] lundmb commented on #484
For my title, something along the lines of "Additional metrics for
exploring stellar variability" or such would be my initial title, but if
you've got a way you'd like that reworked, I'm flexible on the title.

On Mon, Aug 1, 2016 at 5:53 PM, Will Clarkson <notifications@github.com>
wrote:

[2016-08-02 01:46] rbiswas4 commented on #484
I am happy to talk a  bit about SN cosmology, but most of it will probably not be MAF based.

[2016-08-02 14:45] bethwillman commented on #484
Dear all -

Two cents from my perch: I'm particularly interested to see talks that
demonstrate (i) the definition of specific metric(s) and figures of merit,
(ii) the application of those metric(s) to simulated observing strategies,
and (iii) the lessons learned.  This will be the third year (and not the
last!) that the observing strategy will be a topic of the August meeting -
Let's push on showi

[2016-08-02 20:14] drphilmarshall commented on #483
Dear all,

Don't forget, we are meeting tomorrow (Wednesday August 3rd) at 0800 PDT, to discuss 1) the work needed to finish the v1.0 white paper and 2) the upcoming Tucson meeting. Please review the [editorial comments](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/483#issue-165851896) from @bethwillman and me, and @ivezic 's [10 questions for every science case](https://g

[2016-08-02 20:43] rbiswas4 commented on #484
My first post probably has too little information about what I was proposing, and @bethwillman provides a good  framework for the contents.

I propose to discuss a bit of (i), (ii) and (iii). But I hope to mostly discuss analogs of (ii) and (iii) some of which can later be used to justify (i).

[2016-08-02 23:10] davidtrilling commented on #484
phil -- yes, i'd be happy to talk for 5-10 minutes
about MAF and solar system and other goodies.

thanks for asking --

david

On Mon, Aug 1, 2016 at 2:41 PM, Phil Marshall <notifications@github.com>
wrote:

[2016-08-03 10:55] jhrlsst commented on #484
I will be attending the conference as well.
21. Jeonghee Rho @jhrlsst
Raul, what about including SN classification metric which was led by Michelle Lochner in Oxford (during the HACK session)?

@bethwillman
(ii) the application of those metric(s) to simulated observing strategies
-> Do you mean "simulated observing strategies" simulated by OpSim? This item is tricky for SN cosmology session, since

[2016-08-03 12:12] jhrlsst commented on #483
How can I join the editorial meeting on Weds August 3rd at 0800 PDT?
Is there a bluejean number?

[2016-08-03 13:46] StephenRidgway commented on #483
Sorry I will be away from internet and could not find an associated telephone number.

I read that each participant can add one by telephone number - if so, somebody could call me at 520-248-4408, might work.

Steve

[2016-08-03 14:34] drphilmarshall commented on #483
Morning all!

Looking forward to meeting in a bit under half an hour.  We'll meet in the usual LSST Google hangout - the link is in [this Google doc](https://docs.google.com/document/d/1M2zWWLp_5wn6OTN5kFqxbj8BVAO0UiEe1BP0nraieuc/edit?usp=sharing), and we'll use that to take notes in as well.

See you soon!

Phil

[2016-08-03 14:51] ivezic commented on #483
Yes, we can use
http://ls.st/zih

[2016-08-03 14:54] AshishMahabal commented on #483
Hi, Jeonghee,

The hangout link is included in the doc: https://docs.google.com/document/d/1M2zWWLp_5wn6OTN5kFqxbj8BVAO0UiEe1BP0nraieuc/edit#heading=h.fhdcgdiqpm5p <https://docs.google.com/document/d/1M2zWWLp_5wn6OTN5kFqxbj8BVAO0UiEe1BP0nraieuc/edit#heading=h.fhdcgdiqpm5p>

-ashish

[2016-08-03 16:24] drphilmarshall commented on #479
@LSSTScienceCollaborations/observing-strategy-white-paper-contributors @LSSTScienceCollaborations/observing-strategy-white-paper-editors

The sims team has produced a new baseline cadence (`minion_1016`) with re-calculated sky brightness - see the message from @yoachim below. It sounds like we need to re-run our metrics on this new database, and update our results - or if we don't, state clearly t

[2016-08-03 16:26] drphilmarshall commented on #480
@willclarkson How did the July 13th SMWLV meeting go in the end? Did you show any FoM examples in notebook form?

[2016-08-03 16:29] drphilmarshall commented on #485
This great, thanks Zeljko. The chapter editors agreed to issue their science section teams with answering these questions as a bulleted list.

[2016-08-03 16:29] #485 closed

[2016-08-03 16:39] drphilmarshall opened #494 "Science case conclusions: 10 questions to answer"
Chapter Editors: can you please issue each of your science section writing teams with the following task? Thanks!
- [ ] Solar System @davidtrilling @rhiannonlynne
- [x] The Galaxy @akvivas @willclarkson
- [x] Variable Objects @AshishMahabal @lmwalkowicz
- [x] Eruptive and Explosive Transients @ebellm @fedhere
- [x] AGN @ohadshemmer @tanguita
- [x] Cosmology @MichelleLochner @egawiser
- [x] Special

[2016-08-03 16:45] drphilmarshall opened #495 "Start Chapter Summaries"
Chapter Editors: at the editorial meeting, we identified the need for each chapter to present a very short executive summary at its beginning, that draws on each science case's conclusions and makes it easy to see the main issues facing your chapter's science theme. @egawiser suggested that we start writing these sections sooner rather than later, and so use them to identify the science sections t

[2016-08-03 16:48] drphilmarshall commented on #491
The chapter editors suggested that I distinguish between "analyses in preparation" and "proposed analyses", in order to provide a better home for science sections that have been worked on a fair bit but still lack quantitative or MAF analysis. I will look out for this, and think about how to present them.

[2016-08-03 16:55] drphilmarshall commented on #483
All: thanks for joining at today's meeting, and apologies for any connectivity issues! Note to self: Google hangouts can still only support 10 people at a time, and we won't always be lucky enough to get exactly 10 people attending...

I have tidied up our [notes](https://docs.google.com/document/d/1M2zWWLp_5wn6OTN5kFqxbj8BVAO0UiEe1BP0nraieuc/edit#) and issued the chapter editors with getting the

[2016-08-03 16:55] #483 closed

[2016-08-03 17:06] drphilmarshall commented on #484
@jhrlsst I think Beth is referring to metric analysis of *any* opsim output. Most important is to evaluate `minion_1016`, the baseline cadence with the new sky brightness model, but comparisons between this and other cadences would be very interesting.

So, we have the following list of plenary speakers:
* Humna Awan - Large Scale Structure
* Eric Bellm - Transients
* Mike Lund - Stellar Variabili

[2016-08-03 17:10] drphilmarshall commented on #484
Here are our notes on hack session planning from today's meeting:

### Hack Session Activities:

* Sims team-supported MAF coding
* FoM design, roadmaps to MAF metrics
* Work on running metrics, approximations etc. How to cope with long CPU times? How to cope with largescale science simulations that are needed?
* What to do with newbies? Phil suggests joining in, pair-coding etc. Action: explain t

[2016-08-03 17:15] drphilmarshall commented on #489
Ah, sorry! More explanation:

In the introduction to the white paper we will make the following statement:

That means that all of the rest of the paper must be consistent with that statement. So, in each chapter, we need to go through every line of latex searching for the string " we " (using our editor's case insensitive search facility) and make sure that all sentences containing the word we co

[2016-08-03 17:38] willclarkson commented on #480
Hi @drphilmarshall - I believe @jgizis was going to circulate his notes from that meeting, I don't know if that's happened. Here's a quick read:

1. @jgizis has set up and circulated a brief survey for the SMWLV collaboration, to get yes/no input on whether the current WP version adequately covers their science cases, and if not, what's missing;

2. We made another plea to SMWLV to contribute to t

[2016-08-03 20:40] bethwillman commented on #479
Dear All -

Perhaps I'm misunderstanding - I think it will be too confusing if
different chapters in this workshop report present results using different
baseline cadences - Is there agreement on which will be used?

Cheers
Beth

On Wed, Aug 3, 2016 at 10:13 AM, Phil Marshall <notifications@github.com>
wrote:

--
Beth Willman
LSST Deputy Director
Associate Astronomer, Steward Observatory
933 North

[2016-08-03 20:56] ivezic commented on #479
We wanted to see if there are strong
drivers to use updated m5 (the main
issue: we know that the values are too
bright  by 0.2 mag on average, and more
in the y band). If not, we should stick to
the (original, too shallow) baseline.
         Z.

Sent from phone

[2016-08-03 22:06] rhiannonlynne commented on #479
For clarity- the reference run / baseline run that should be used is minion_1016. If any metrics are based on enigma_1189 (the old reference run), those definitely should be updated to minion_1016.

We are not talking about changing the sequence of observations in minion_1016 here.

Instead, what we have available, if agreed upon, is a reprocessed version of minion_1016 where the skybrightness val

[2016-08-03 22:07] rhiannonlynne commented on #479
I do agree that it may be hard to get everyone to rerun their analysis again.
It would be great to get all metrics pushed back to sims_maf_contrib so we can just run these in a big batch of updates.

[2016-08-04 18:14] bethwillman commented on #484
Dear All -

I'm going to go ahead and get this list posted on the agenda for this
plenary.

Cheers
Beth

On Wed, Aug 3, 2016 at 10:37 AM, Phil Marshall <notifications@github.com>
wrote:

--
Beth Willman
LSST Deputy Director
Associate Astronomer, Steward Observatory
933 North Cherry Avenue
Tucson, Arizona 85721
520-318-8473

[2016-08-04 18:42] drphilmarshall commented on #484
Thanks Beth!

On Thu, Aug 4, 2016 at 11:14 AM, Beth Willman <notifications@github.com>
wrote:

[2016-08-04 20:01] ebellm opened #496 ""Bolting things to MAF"/lightcurves discussion"
Hi @yoachim: at the Tuscon Workshop, @drphilmarshall has encouraged us to discuss(with Rahul and others who are interested) how users can approach more sophisticated analyses using MAF.

For example, many of us in the Transients working group in particular are interested in working with realized lightcurves in a more sophisticated way than is currently possible.  The general workflow we're looking

[2016-08-04 20:55] jhrlsst commented on #496
Currently, Type II SNe light curves are not included in the white paper (as far as I can tell; if I miss this in the current version, please let me know) we may want to generate SN II light curves,  in order to visit optimal observing strategy for them.

[2016-08-04 22:46] willclarkson opened #497 "Science case conclusions: 4.2 (The Galaxy: Disk populations)"
Dear WP section 4.2 team (@caprastro, @chomiuk, @cbritt4 and @willclarkson):

To help produce conclusions in a form suitable for tradeoffs to be assessed, the chapter editors have been asked (issue #494) to task our writing teams with providing short (~1-2 sentence) answers to a list of 10 questions produced by @ivezic, about the material in our chapter sections.

I think this is probably best don

[2016-08-04 22:54] willclarkson opened #498 "Science case conclusions: 4.3 (The Galaxy:Astrometry)"
Dear WP section 4.3 team (@dgmonet, @DanaCD, @jgizis, @caprastro, Mike Liu, @yoachim and  @willclarkson):

To help produce conclusions in a form suitable for tradeoffs to be assessed, the chapter editors have been asked (issue #494) to task our writing teams with providing short (~1-2 sentence) answers to a list of 10 questions produced by @ivezic, about the material in our chapter sections.

I th

[2016-08-04 22:58] willclarkson opened #499 "Science case conclusions: 4.4 (The Galaxy: The Halo)"
Dear WP section 4.4 team (@akvivas, @ctslater, @dnidever and @bethwillman):

To help produce conclusions in a form suitable for tradeoffs to be assessed, the chapter editors have been asked (issue #494) to task our writing teams with providing short (~1-2 sentence) answers to a list of 10 questions produced by @ivezic, about the material in our chapter sections.

I think this is probably best done

[2016-08-04 23:17] bethwillman commented on #499
If this is assigned to me, then I can say with 100% confidence that it
won't get done for a few weeks :)

On Thu, Aug 4, 2016 at 3:58 PM, Will Clarkson <notifications@github.com>
wrote:

--
Beth Willman
LSST Deputy Director
Associate Astronomer, Steward Observatory
933 North Cherry Avenue
Tucson, Arizona 85721
520-318-8473

[2016-08-04 23:19] bethwillman commented on #499
Also - on a less cheeky note - I haven't participated in writing any of
this observing strategy workshop report.  Because of this, and to help
clarify the point that this is a community document, and not a Project
document, I plan to take my name off of any chapters where it might
currently appear (although I'll sign the Preface and possibly and End Note
if one is written).  I'm still happy to con

[2016-08-05 21:57] yoachim commented on #496
Hi @ebellm,

Yes, that is something that should be pretty easy to do--I think @rbiswas4 managed to drop in his own personal favorite SN lightcurves into the TransientsMetric.  I would say just have your metric include a method for generating your personal favorite lightcurve (or have it call extenal code).  Then the metric run method can do the Monte Carlo work of generating a population of transi

[2016-08-05 22:48] ebellm commented on #496
Hi @yoachim,

What I'm wondering about is whether we can get away from repeating lightcurves back-to-back-to-back as in TransientMetric; that's what I suspect puts more stress on the MAF infrastructure.  But let's talk.

[2016-08-05 23:32] rhiannonlynne commented on #496
Also consider a user points slicer, where the points are the locations of
the transients. To make it more efficient, maybe we need to figure out
something that narrows down the time range to match in opsim as well, but
we could see if it was necessary first.

On Fri, Aug 5, 2016, 3:48 PM Eric Bellm <notifications@github.com> wrote:

[2016-08-06 00:39] rbiswas4 commented on #496
@ebellm @yoachim

Replacing the sinusoidal light curve of `TransientMetric` is possible: I think examples of  this have been done by @svalenti and @fedhere in discussions with @yoachim in what is called the `TransientAsciiMetric` https://github.com/LSST-nonproject/sims_maf_contrib/blob/master/mafContrib/transientAsciiMetric.py. I have used that before, but we can also do what @yoachim pointed out

[2016-08-06 00:53] willclarkson commented on #497
@cbritt4 has provided some initial answers -- thanks Chris!! All - feel free to edit.

[2016-08-07 16:37] yoachim commented on #496
Yup, I think @rhiannonlynne is right--the two obvious ways to do things are either run a little Monte Carlo at each spatial point, or generate your population and then use the userPoint slicer.  I'll make a toy model of that scenario too.

[2016-08-07 21:39] jhrlsst commented on #479
We can easily regenerate the metric for our chapter. We need to replace only two (or 3) light curves and the number of simulated LSST data points shouldn't be changed.
Is the new version of minion_101 available?
Please let us know the name of new version. If new version is correct, we should redo soon (since we don't want to make the last minute changes) and we will find out how much it is changed

[2016-08-07 21:42] jhrlsst commented on #445
We did implement all comments raised by @svalenti.
Please check the new version and If we miss anything, please let me know.

[2016-08-08 15:39] rbiswas4 commented on #479
I agree that this change is important (at least for SN cosmology) and so we should redo the metrics. I assume this m5 corrected output will be made available as something with a different name.

[2016-08-08 19:05] yoachim commented on #496
Here's an example of doing a fancier lightcurve analysis with MAF:
https://github.com/LSST-nonproject/sims_maf_contrib/blob/master/science/Transients/TransientMontewUPS.ipynb

The general steps:
1) write a function that can generate a lightcurve given time and some shape parameters
2) Write a metric that can decide if a lightcurve is observed well enough to count as detected
3) Generate a bunch of

[2016-08-08 19:28] rhiannonlynne commented on #479
We can make it available as something with a different name or with the
same name ... if it's the same name, you don't have to change anything
about your MAF analysis (but do have to keep track of which sqlite file
you're using ... we did add a comment into the sqlite file itself that the
skybrightness and m5 was updated, so it's not completely opaque), but if
you want a different name, you'd have

[2016-08-08 19:39] egawiser commented on #479
I think it would be extraordinarily confusing for both versions to be called minion_1016, which is as far as most people follow these details.  I wouldn't oppose the new one being called minion_1016_newsky however - something that OpSim people would realize refers to minion_1016 but the rest of us can also parse as distinct.

[2016-08-08 19:42] rhiannonlynne commented on #479
Actually, the thing I would most like to know is:
if we make this new version with new skybrightness available, will EVERYONE
please rerun their metrics to use it? It's the mix of using the old and new
skybrightness values throughout the paper that would also be confusing.

On Mon, Aug 8, 2016 at 12:39 PM Eric Gawiser <notifications@github.com>
wrote:

[2016-08-08 22:39] fedhere commented on #494
what is the due date? (i am getting back into my editing responsibilities
after a iatus... perhaps i should know. sorry)

On Wed, Aug 3, 2016 at 12:22 PM, Phil Marshall <notifications@github.com>
wrote:

--

 /\|/\
   |*  Please consider the environment before printing this e-mail

[2016-08-08 22:50] drphilmarshall commented on #484
Hi all,

@tonytyson suggested that @jmeyers314 would make a good addition to our plenary talk, with his recent MAF results on the impact of the observing strategy on weak lensing. Josh, would you be willing to give a 5 minute talk on these results next week, please?

Plenary speakers @ivezic @ebellm @willclarkson @lundmb @rbiswas4 @davidtrilling @humnaawan : I have made [a set of Google slides her

[2016-08-08 23:05] tonytyson commented on #484
add @tonytyson

[2016-08-08 23:07] jmeyers314 commented on #484
Sure, @drphilmarshall .  I think the WL results are a bit preliminary compared to some of the others, but I'd be happy to show what we've got.

[2016-08-08 23:29] drphilmarshall commented on #484
Thanks, Josh! It's no bad thing showing a bit of diversity: the main thing
is that the audience sees real quantitative results from our community
program, that the Project can make good use of going forward. It should be
very clear by the end of our plenary session that we are all about
quantitative metric analysis, with diagnostics leading to Figures of Merit,
in science cases we really care abou

[2016-08-09 17:11] jhrlsst commented on #485
Here is answer of the question 2.

2) Can you place constraints on the trade between uniformity of sampling and frequency of
sampling? For example, a rolling cadence can provide enhanced sample rates over part or all
of the survey part of the time, at the cost of reduced sample rate the rest of the time (while
maintaining the nominal total visit counts).

A: For Type Ia SNe science, light-curve sa

[2016-08-09 17:27] jhrlsst commented on #485
Bottom line is that the sky coverage and coadded depth remain the same as those of current baseline cadence when we count observations for a year (or longer). However, if you count only for 2 months (i.e. for a short term), the sky coverage is 1/3 but the depth is 3 times as those from the current baseline cadence.

[2016-08-09 17:36] jhrlsst commented on #485
We will clarify this in our chapter.

[2016-08-09 18:20] jasondrhodes commented on #495
@drphilmarshall let me know if my pull request to do this was successful.

[2016-08-10 18:10] yoachim commented on #496
And here's the notebook that runs a Monte Carlo at each spatial point:
https://github.com/LSST-nonproject/sims_maf_contrib/blob/master/science/Transients/transientMonteMetric.ipynb

[2016-08-10 23:51] drphilmarshall commented on #496
Great stuff! Thank you @yoachim :-) I look forward to seeing everyone
profit next week - this looks like an excellent starting point for some
Thursday hacks and discussion.

[2016-08-11 00:12] willclarkson commented on #495
I have added an executive summary to the beginning of the Milky Way chapter (was pull request #502).

@caprastro , @ctslater, @cbritt4 and @chomiuk , can you do me a favor please and take a look at this summary, and let me know if there's anything missing there about your ongoing efforts that you'd add?

Thanks!! Will
cc @akvivas

[2016-08-11 11:23] MichelleLochner commented on #489
The "we"s in Cosmology look ok to me.

[2016-08-11 11:39] MichelleLochner opened #503 "Author contributions"
@jhrlsst has pointed out that for the supernova section (and probably many other sections too), we have received contributions of many different forms (from advice, to help with OpSim, to code etc.) from several different people that we'd like to correctly acknowledge.

We could include them in the author list and use the standard paper approach of letting author order dictate amount of contributi

[2016-08-11 12:33] MichelleLochner commented on #445
I believe we've addressed all comments for this round of editing.

[2016-08-11 12:33] #445 closed

[2016-08-11 12:37] MichelleLochner commented on #196
@humnaawan and @egawiser any progress on this? Is this maybe something to focus on getting done at the workshop if you're both going to be there?

[2016-08-11 12:43] MichelleLochner opened #504 "Science Case Conclusions: 9.2 (Cosmology: Large scale structure)"
Dear WP section 9.2 team (@HumnaAwan,  @egawiser, @PeterKurczynski, @rhiannonlynne ):

Shamelessly copying Will Clarkson's idea and post, I'm issuing the section authors in exactly the same way to collect responses to this. Once we have responses from each section, @egawiser and I can collate them into a chapter summary.

To help produce conclusions in a form suitable for tradeoffs to be assessed,

[2016-08-11 12:45] MichelleLochner opened #505 "Science Case Conclusions: 9.3 (Cosmology: Weak Lensing)"
Dear WP section 9.3 team (@jmeyers314,  @tonytyson @StephenRidgway):

Shamelessly copying Will Clarkson's idea and post, I'm issuing the section authors in exactly the same way to collect responses to this. Once we have responses from each section, @egawiser and I can collate them into a chapter summary.

To help produce conclusions in a form suitable for tradeoffs to be assessed, the chapter edit

[2016-08-11 12:47] MichelleLochner opened #506 "Science Case Conclusions: 9.4 (Cosmology: Photometric redshifts)"
Dear WP section 9.4 team (@MelissaGraham, @SamSchmidt, @connolly, @ivezic ):

Shamelessly copying Will Clarkson's idea and post, I'm issuing the section authors in exactly the same way to collect responses to this. Once we have responses from each section, @egawiser and I can collate them into a chapter summary.

To help produce conclusions in a form suitable for tradeoffs to be assessed, the chap

[2016-08-11 12:49] MichelleLochner opened #507 "Science Case Conclusions: 9.5 (Cosmology: Supernova Cosmology and Physics)"
Dear WP section 9.5 team (@MichelleLochner, @jhrlsst, @rbiswas4, @sethdigel ):

Shamelessly copying Will Clarkson's idea and post, I'm issuing the section authors in exactly the same way to collect responses to this. Once we have responses from each section, @egawiser and I can collate them into a chapter summary.

To help produce conclusions in a form suitable for tradeoffs to be assessed, the ch

[2016-08-11 12:50] MichelleLochner opened #508 "Science Case Conclusions: 9.6 (Cosmology: Strong Lensing Time Delays)"
Dear WP section 9.6 team (@drphilmarshall, @rhiannonlynne, @tanguita)

Shamelessly copying Will Clarkson's idea and post, I'm issuing the section authors in exactly the same way to collect responses to this. Once we have responses from each section, @egawiser and I can collate them into a chapter summary.

To help produce conclusions in a form suitable for tradeoffs to be assessed, the chapter edi

[2016-08-11 19:09] drphilmarshall commented on #484
Plenary speakers @ivezic @ebellm @willclarkson @lundmb @rbiswas4 @davidtrilling @humnaawan @jmeyers314 : please let me know if you are having trouble editing the [Google slide set](https://docs.google.com/presentation/d/14JH9eGElBI6CYzSy2aPcTQByoA1DSm12GDls6ghOlJQ/edit?usp=sharing). It's commentable by all, but only editable by us. I will be showing my introductory slides to the Science Advisory C

[2016-08-12 01:01] willclarkson commented on #484
Hi @drphilmarshall - I have roughed up some slides for the milky way chapter into the google slide set. The broad outlines of what I present on Wednesday are unlikely to change much from this.

Cheers -- Will

[2016-08-12 16:41] jasondrhodes opened #512 "WFIRST microlensing questions"
@drphilmarshall  I have asked @mtpenny and David Bennett to do the following:

-update the WFIRST microlensing section with a new survey strategy based on simulations being run by @mtpenny right now

-include answers to the questions Zeljko asked.

-push the latex changes by next week, with the caveat that the final numbers may changed as the simulations are finished and analyzed.

Hope this is ok

[2016-08-12 16:43] jasondrhodes opened #513 "WFIRST SN questions"
@drphilmarshall I have asked @rubind to provide me with text for the WFIRST SN section based on the questions Zeljko asked recently.  I'll incorporate that text when I get it and update the WFIRST section.

[2016-08-12 20:51] jhrlsst commented on #479
Although we did run using minion_1016, we find the results (light curves) are not different from the ones using enigma_1189. The current chapter has the figures from enigma_1189. We cannot tell the difference in our eyes. But when it is necessary, there is no problem to switch the plots.

I think although everyone cannot run with the new version of opsim run, it is important to explore how much th

[2016-08-13 00:31] drphilmarshall commented on #484
Thanks all for your slide contributions so far! I have put in my [introductory slides](https://docs.google.com/presentation/d/14JH9eGElBI6CYzSy2aPcTQByoA1DSm12GDls6ghOlJQ/edit#slide=id.g1623fa38cf_0_41) and you can see a lot of what @ivezic is planning to say as well. Comments welcome!

[2016-08-14 20:26] tonytyson commented on #505
Michelle,
You need to add me as an assignee so I can edit.
Tony Tyson

On 8/11/16 5:45 AM, MichelleLochner wrote:

[2016-08-14 21:44] willclarkson commented on #498
Update to all: if you're finding you cannot edit the issue with your response, you should be able to upload your answers as a comment to this thread - or you could just email me directly. For some reason GitHub is only making a small subset of the authors available to actually assign this issue. Thanks all! Will

[2016-08-14 21:45] willclarkson commented on #499
Update to all: if you're finding you cannot edit the issue with your response, you should be able to upload your answers as a comment to this thread - or you could just email me directly. For some reason GitHub is only making a small subset of the authors available to actually assign this issue. Thanks all! Will

[2016-08-14 21:45] willclarkson commented on #497
Update to all: if you're finding you cannot edit the issue with your response, you should be able to upload your answers as a comment to this thread - or you could just email me directly. For some reason GitHub is only making a small subset of the authors available to actually assign this issue. Thanks all! Will

[2016-08-14 22:28] drphilmarshall commented on #505
Hi @tonytyson - I just sent you an invitation to the "Editors" team, who have write access to this repository. By default, people make contributions by "forking" the repository, pushing changes to this fork, and then submitting a "pull request" from this fork to the base repository. The nice thing about this way of working is that it shows your colleagues very cleanly what you have done. In the in

[2016-08-15 01:43] jasondrhodes commented on #494
WFIRST HLS (weak lensing) done, waiting for input on supernova and microlensing

[2016-08-15 07:20] rhiannonlynne commented on #504
Best not to assign this to me. I have another chapter I'm more responsible
for, plus I'm on maternity leave. Plus, the large scale structure thing is
more directly @egawiser's baby.

On Thu, Aug 11, 2016 at 5:43 AM MichelleLochner <notifications@github.com>
wrote:

[2016-08-15 09:57] MichelleLochner commented on #505
@drphilmarshall I think Tony was referring to being able to edit the issue itself. Sorry @tonytyson, I thought I had assigned you but I obviously missed you. Are you able to edit it now?

[2016-08-15 18:45] drphilmarshall opened #515 "AGN chapter discussion in Tucson"
Hey AGN people, @AstroVPK suggested that we meet up to discuss observing strategy for the AGN science cases. I said I'd be happy to join you for an hour one evening this week, whenever is convenient for you. Who is here in Tucson? @gtrichards @cmp346 @tanguita @nielbrandt @ohadshemmer ? Please mention others in your reply if you think they'd like to join - and maybe you can suggest a good time, Vi

[2016-08-15 18:49] drphilmarshall commented on #512
Thanks Jason, that sounds good to me. @mtpenny you can see Jason's own answers to Zeljko's questions in his WFIRST HLS section - the project are looking for actionable conclusions, and the thought is that these questions might draw these out. Thanks for helping with this!

[2016-08-15 18:51] gtrichards commented on #515
I get in about midnight tonight and leave after breakfast on Thursday. -- Gordon

[2016-08-15 18:52] drphilmarshall commented on #503
Hi Michelle - I think either way of splitting section co-authors could work. I'd say that the lead author(s) of each team should make a suggestion, and then if there are any disputes, the chapter editors should be able to resolve them. I would say that section author lists should be short, though: try and capture direct contributions only (eg new text, new ideas, new implemented metrics etc). Soun

[2016-08-15 18:52] #503 closed

[2016-08-15 18:54] drphilmarshall commented on #496
@yoachim We are now both in Tucson! Let's meet up and talk about what could be useful to do in the hack session on Thursday. A short demo of what you have made possible, followed by some discussion of how best to use MAF, could be useful to many people I think.

[2016-08-15 18:56] tanguita commented on #515
I'm here (but busy today) and leaving on Friday morning so Gordon's
constraints are within mine.

Cheers,

Timo

El lun., 15 de ago. de 2016 11:51, Gordon Richards <notifications@github.com>
escribió:

[2016-08-15 18:58] nielbrandt commented on #515
I am here until Thurs evening.

On 8/15/16 11:45 AM, Phil Marshall wrote:

--
-------------------------------------------------------------------------------
Niel Brandt; Department of Astronomy and Astrophysics; The Pennsylvania
State University; 525 Davey Lab; University Park, PA 16802 USA
Phone: (814) 865-3509; FAX: (814) 863-3399; Office room number: 514A;
AIM: Niel Brandt; WWW: http://www.ast

[2016-08-15 19:14] tonytyson commented on #505
Yes I can edit now and will insert our WL 10 replies tonight.
-Tony

Sent from my iPhone

[2016-08-15 19:21] AstroVPK commented on #515
I'm here all week and can meet on any evening. I'm stuck in DM related
stuff so I won't be at any of the workshops. I'm going to send this to
Scott Daniel as well since I think it's a good idea to have him join us as
well.

-Vishal

            Vishal Kasliwal
 Dept of Physics & Astronomy,
The University of Pennsylvania
                    and
Dept of Astrophysical Sciences,
        Princeton Univ

[2016-08-15 19:23] danielsf commented on #515
I cannot do Monday evening (the Project Sims team is having "official fun").  I'm free pretty much any other evening.  I can also do lunch on Monday, Tuesday, or Wednesday.

[2016-08-15 20:01] ebellm commented on #496
@yoachim : those example notebooks look great.  Looking forward to hacking on them on Thursday.

[2016-08-15 20:43] cathypetry opened #516 "New OpSim Reference Run, minion_1016"
A new Operations Simulator (OpSim) Reference Simulated Survey, minion_1016, has been approved and placed under change control.  This simulated survey should be used as the baseline cadence instead of enigma _1189 or other older simulations. More information can be found on the [LSST website](https://www.lsst.org/scientists/simulations/opsim/opsim-survey-data).

[2016-08-15 21:52] mtpenny commented on #512
I have created a pull request with the answers to Zeljko's questions that Dave Bennett wrote, and @rpoleski and I modified slightly. I have not updated the text with the new survey strategy, so this shouldn't be resolved yet.

[2016-08-15 22:51] willclarkson commented on #496
@yoachim @ebellm -  I agree, those notebooks will be very helpful. I'm looping @caprastro, @chomiuk and @cbritt4 into this discussion, as population recovery through variability is also important to their science (e.g. Chapter 4.2). Cheers - Will

[2016-08-15 22:52] drphilmarshall commented on #505
Great, pleased to hear it.

In case it wasn't clear, the answers to your questions will make excellent
content for the conclusions section of your science case latex file!

On Mon, Aug 15, 2016 at 12:14 PM, tonytyson <notifications@github.com>
wrote:

[2016-08-15 23:00] tonytyson commented on #505
Good idea.

Sent from my iPhone

[2016-08-16 00:45] tonytyson commented on #505
just updated comment with our 10 replies.

[2016-08-16 15:08] AstroVPK commented on #515
It looks like we are all free on Wednesday evening. Shall we meet for an
hour after the talk? Depending on what they have to snack on, we could go
get some dinner...

Vishal

On Aug 15, 2016 12:23 PM, "danielsf" <notifications@github.com> wrote:

[2016-08-16 15:32] bethwillman commented on #515
FYI - The public outreach event is Wednesday evening - With 7-8 pm talk by
Lucianne, and everyone invited to participate in a public-LSST mixer
afterwards (w/ free snacks and soft drinks).

Project team members need to attend a Project team meeting from 5-6:30 pm
on Wednesday.

- Your dedicated LSST schedule master

On Tue, Aug 16, 2016 at 8:08 AM, Vishal Kasliwal <notifications@github.com>
wrote:

[2016-08-16 18:08] AstroVPK commented on #515
Hi Dr Nathan De Lee, Dr Gerard Williger, and Dr Yusra AlSayyad,
     Here's the email chain that I mentioned when we spoke. Please let the
other people on the email chain know what works best for you.

Thanks,
Vishal

            Vishal Kasliwal
 Dept of Physics & Astronomy,
The University of Pennsylvania
                    and
Dept of Astrophysical Sciences,
        Princeton University

On Mon,

[2016-08-16 20:44] tonytyson commented on #505
i'm now going to edit the wl.tex to add a conclusions section

[2016-08-16 23:33] michaelstrauss commented on #515
I am here as well, and happy to join.  I have few hard commitments through the meeting (I'm here through late on Friday), so almost any time is good for me.

					Thanks,  Michael

On Aug 16, 2016, at 2:08 PM, Vishal Kasliwal <notifications@github.com> wrote:

[2016-08-16 23:35] nielbrandt commented on #515
Hi,

I generally have good flexibility also - though I cannot go past
8pm in the evening since I am staying on an East Coast sleeping
schedule.

Thanks, Niel

On 8/16/16 4:33 PM, Michael Strauss wrote:

--
-------------------------------------------------------------------------------
Niel Brandt; Department of Astronomy and Astrophysics; The Pennsylvania
State University; 525 Davey Lab; Universit

[2016-08-16 23:58] yoachim commented on #484
Hey everyone,

For the hack session on Thursday afternoon I've made a tutorial notebook to show how to work with samples of objects, based on discussion in #496.  I could spend 0.5 hours walking people through this as part of the session if that's helpful.
https://github.com/LSST-nonproject/sims_maf_contrib/blob/master/science/Transients/TransientMontewUPS.ipynb

[2016-08-17 00:58] tanguita commented on #515
OK.....

How does everyone feel about Thursday 9AM?

Cheers,

Timo

El mar., 16 de ago. de 2016 16:35, William Nielsen Brandt <
notifications@github.com> escribió:

[2016-08-17 01:08] AstroVPK commented on #515
Sounds great!

Vishal

On Aug 16, 2016 5:58 PM, "Timo Anguita" <notifications@github.com> wrote:

[2016-08-17 05:15] danielsf commented on #515
I, personally, have no problem with meeting at 9am Thursday.  I could imagine some people we want in this conversation might want to attend the plenary.  Could we do a lunch meeting on Wednesday?

[2016-08-17 13:52] nielbrandt commented on #515
Thurs at 9 am works for me.

Wed lunch also works for me.

On 8/16/16 5:58 PM, Timo Anguita wrote:

--
-------------------------------------------------------------------------------
Niel Brandt; Department of Astronomy and Astrophysics; The Pennsylvania
State University; 525 Davey Lab; University Park, PA 16802 USA
Phone: (814) 865-3509; FAX: (814) 863-3399; Office room number: 514A;
AIM: Niel Br

[2016-08-17 13:59] tonytyson commented on #515
I will join if I can.
Tony

Sent from my iPhone

[2016-08-17 14:21] drphilmarshall commented on #515
OK AGN people: Gordon has to leave after breakfast (ie 9am) on Thursday,
and in general we should avoid clashing with plenaries on principle (thanks
for catching this, Scott). So, let's meet at

**Lunchtime Today (Wednesday)**

And then anyone who cannot make it can be filled in at breakfast time on
Thursday. Let's look for each other, and whoever is there first try and
grab a table for ourselves.

[2016-08-17 14:39] AstroVPK commented on #515
Dear All,
     Tonight (Wednesday) or tomorrow (Thursday) after conference sessions
end would be good
for me.
Regards,
Gerry Williger (U. Louisville/KARL)

On Tue, Aug 16, 2016 at 11:07 AM, Vishal Kasliwal <vishal.kasliwal@gmail.com

[2016-08-17 15:04] drphilmarshall commented on #479
Many plots in the current version of the white paper use enigma_1189, but
also a lot use minion_1016, the baseline cadence. Each MAF-enabled science
case should be first evaluating the baseline cadence (which is defined in
Chapter 2) before then investigating other cadences, and I am willing to
issue the work to update from enigma_1189 where it is needed. However,
waiting for all science cases to

[2016-08-17 15:05] drphilmarshall commented on #515
Thanks Gerry! We'll meet at lunchtime and then report to you when we see
you, either Weds or Thurs evening. Enjoy the meeting today!

On Wed, Aug 17, 2016 at 7:39 AM, Vishal Kasliwal <notifications@github.com>
wrote:

[2016-08-17 23:26] tanguita commented on #515
Hi All,

I think it was a good short meeting. We did get people in charge of answering the ten questions:

@gtrichards: AGN census
@AstroVPK: Instrinsic variability
myself: Disk Extrinsic

As soon as this is up, @ohadshemmer and/or myself should be able to write an executive summary at the beginning

[2016-08-18 05:27] drphilmarshall commented on #484
That's great, thanks Peter! At the start of the session I will spend 5 minutes welcoming people and explaining how the session will work, and say that for the first  part of the session one option will be to join you at the projector for a walkthrough of your tutorial followed by discussion of how to build similar metrics that involve populations of objects. Thank you very much for doing this! :-)

[2016-08-18 05:37] drphilmarshall commented on #484
PS. The plenary slides are looking in good shape! :-)

[2016-08-18 18:31] fedhere opened #522 "Section clarifying how our science cases will be used by the LSST Project"
It would be very helpful to make **extremely obvious and transparent** the (current) plan to evaluate the science cases and metric to ultimately decide on a survey strategy.
This would help convincing people to get involved as its crucial to know what the rules and objective of a game are as one starts playing.

This in practice entails edits to chapter 2.

[2016-08-18 18:42] fedhere opened #523 "add units in fig 6.3"
Add units to x axis fig 6.3 (needed because the left plot is in hours and the right one in days)

[2016-08-18 19:18] ebellm opened #524 "Leave out rolling cadence sims from the first version of the whitepaper?"
I know the sims team has produced some early "swiss-cheese" rolling cadence OpSim runs.  However, they don't yet appear at https://www.lsst.org/scientists/simulations/opsim/opsim-survey-data

@ivezic, are these first rolling cadence sims blessed by the project for evaluation in the whitepaper?  I do see some initial discussion of them in Chapter 2.5, but it's not clear how they are configured or w

[2016-08-18 21:21] willclarkson opened #525 "OpSim ideas for inner-Plane "mini survey""
It's becoming clear from the discussion at #lsst2016 that we need to propose a tractable number of OpSim runs including the inner plane, to help get beyond first-order differences in strategy.

Rather than deluge the OpSim proposals page with countably infinite ideas, let's use comments on this issue to gather the ideas first. We can then select a few to propose to the OpSim team.

For interest: @

[2016-08-18 21:22] willclarkson commented on #525
Idea #1: Like astro_lsst_01_1004 (i.e. Wide-Fast-Deep extended to the inner plane) but not including the north spur of the galactic plane.

[2016-08-18 21:34] willclarkson commented on #525
Idea 2: like **astro_lsst_01_1004** but with half the exposures in u-band.

[2016-08-18 23:13] AshishMahabal opened #526 "Variables: inputs needed for summary"
Hello @lundmb, @keatonb, @phartigan, @pmmcgehee, @ShashiKanbur,

Can you please answer Zeljko's question [(#494)](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/494) as they pertain to your metrics and objects of interest as applicable? Answer as many as possible though not all may pertain to your case(s). That will help us with the summary of what has been accomplished so f

[2016-08-18 23:25] knutago opened #527 "Magellanic Clouds chapter needs a figure showing the proposed survey area"
The text describes two proposed mini-surveys:

A mini-survey covering the 2700 deg^2 with DEC < -60 to the standard LSST single-exposure depth and to 10-sigma stacked depths of ugriz~25, with cadence sufficient to detect and measure light curves of RR Lyrae stars

A mini-survey covering ~250 deg^2 of the main bodies of the Clouds with cadence sufficient to detect exoplanet transits and other varia

[2016-08-18 23:29] knutago opened #528 "Update the list of measurements/techniques in magclouds.tex"
The current list mostly repeats the science goals, rather than describing the measurements that will be used.

[2016-08-19 00:06] connolly opened #530 "A shallow LSST survey that will maximize the overlap with Euclid"
LSST can survey to a 20 degree altitude. Push north would increase the overlap with the 15,000 sq degree survey of Euclid. Pushing to dec +30 degrees with the Euclid bounds in Galactic
latitude (|b| > 20) and Ecliptic Latitude (|b| > 15) would maximize the overlap.

![figure_1-1](https://cloud.githubusercontent.com/assets/1108163/17794615/de5a7e36-6565-11e6-98f8-565c7fcbe1d4.png)
The additional LS

[2016-08-19 00:52] jmeyers314 opened #532 "Deblending metric"
The distribution of the best seeing will affect our ability to deblend objects.  To start to probe this, @pmelchior and I looked at the spatial distribution of the best seeing.  For example, here's a figure showing the 10th percentile best seeing in the i-band over the wide-fast-deep footprint.

![minion_1016_10th ile_fwhmgeom_propid_54_and_r_heal_skymap](https://cloud.githubusercontent.com/assets

[2016-08-19 01:22] keatonb commented on #526
Hi @AshishMahabal

I strongly agree with @StephenRidgway's responses, adding one comment that I repeat here from the email exchange last week regarding question 3:

Best,
Keaton

[2016-08-19 01:31] pmmcgehee commented on #526
I'll have a look at the PMS issues, including how LSST can (or not) recover
color variations in irregular variables.

Greetings to the Tucson hordes.
Peregrine

On Aug 18, 2016 16:13, "Ashish Mahabal" <notifications@github.com> wrote:

[2016-08-19 02:31] fedhere opened #533 "OPSIM/MAF hack uncoference hackpad link"
this is the link

https://hackpad.com/OPSIMSMAF-HACK-UNCONFERENCE-g7MdGpLUtL9

[2016-08-19 04:10] tonytyson commented on #526
This helps photometric redshifts as well.
Tony

Sent from my iPhone

[2016-08-19 07:17] phartigan commented on #526
I replied to this on August 12. Here is a copy of what I sent:

Dear Anish,

My comments on your bullet points for young stars variability. Much of this
already covered in our writeup, but a few were not, so I've added some
comments.

Regards,

Pat Hartigan

1) Can you place constraints on the tradeoff between the sky coverage
and coadded depth?
For example, should we maximize the sky coverage (to

[2016-08-19 13:10] ShashiKanbur commented on #494
I agree with many of the comments previously made.

[2016-08-19 15:30] willclarkson opened #534 "Main-survey microlensing FoM; chapter 4.2 para for WP v1"
Actions following Weds 2016-08-18 unconference on main-survey microlensing:
- [ ] @lundmb and @willclarkson to implement figure of merit for "typical" microlens lightcurve detection. Cases:
- [ ] LSST as trigger for free-floating planets everywhere in the plane;
- [ ] LSST to characterize slow microlensing events (right? or is this triggering too?)
- [ ] @lundmb, Rachel & Radek to determine best p

[2016-08-19 17:13] AstroVPK opened #535 "Section 8.3 Disc Intrinsic Variability needs reviewing"
Hey @drphilmarshall ,
     Can you please have someone review Section 8.3 Disc Intrinsic Variability?

[2016-08-19 17:13] AstroVPK opened #536 "Section 8.4 AGN Size & Structure needs reviewing"
Hey @drphilmarshall ,
     Can you please have someone review Section 8.4 AGN Size & Structure?

[2016-08-19 17:14] AstroVPK opened #537 "Section 8.5 Future Work needs reviewing"
Hey @drphilmarshall ,
Can you please have someone review Section 8.5 Future Work?

[2016-08-19 17:16] AstroVPK opened #538 "Section 8.6 Discussion needs reviewing"
Hey @drphilmarshall ,
Can you please have someone review Section 8.6 Discussion?

[2016-08-19 23:46] michaelstrauss commented on #525
idea #3: implement deep drilling proposals in the Magellanic Clouds and/or at low Galactic latitudes.

On Aug 18, 2016, at 5:21 PM, Will Clarkson <notifications@github.com> wrote:

[2016-08-20 16:29] pmmcgehee commented on #526
Hi Ashish and all,

I am following up on Pat's recent repost concerning young stars,
specifically the outlined proposed dense coverage (section 5.4.3). YSO with
ongoing disk accretion exhibit irregular magnitude and color variations on
time scales of a few days or shorter. While the nominal LSST cadence will
suffice for detection of this class of objects, characterization is greater
enhanced by ha

[2016-08-20 18:45] phartigan commented on #526
All,

On YSO issues...
It is definitely worthwhile to have reliable colors. For YSO's there
is no evidence that 'simultaneous' needs to be closer than an hour. But they
should be done on the same night if we can. In the u, r, z plan we
described in the
document and Peregrine reiterated below, I had assumed that the intensive
monitoring phase would be a week where each of u, r, and z were followed

[2016-08-20 19:33] pmmcgehee commented on #526
Pat,

Thanks for expanding on the possible filter change timing. That's also an
important point concerning Target of Opportunity follow-up of eruptive YSOs
(FuOR/ExOR). I note that the only discussion in the Observing Strategy
document of using LSST in a ToO mode is in the content of Gravitational
Wave event follow-ups, so presume that other resources will be brought to
bear for star formation stu

[2016-08-22 16:44] drphilmarshall commented on #516
Thanks very much, Cathy! In the Tucson workshop unconference session last
Thursday the group decided that we *should* present results for at least
`minion_1016` in whichever sections MAF is employed - I'll be issuing this
in various places over the coming week, as required. I see that the page
you linked to contains a path to the OpSim 3.3.5 benchmark surveys:

https://www.lsst.org/scientists/simu

[2016-08-22 17:46] drphilmarshall commented on #484
Hi all! Thanks for all your contributions and attention during last week's meeting sessions - I think all of the plenary, hack session and unconference went really well. I'll issue my notes and we'll go from there.

I realized too late that I should have enabled BlueJeans for the plenary but did not (I had not realized that I was my own technical support for that session!)  - apologies to those wh

[2016-08-22 17:46] #484 closed

[2016-08-22 17:49] drphilmarshall commented on #522
Thanks @fedhere ! There was much talk in Tucson about a "project section" explaining how our science cases will be used by the PST and SAC. I think this needs to go in Chapter 1, and also be referred to by a "Foreword from the Project" . I will make space for these, and then work with @michaelstrauss to make sure we are transmitting the words of the director and the PST accurately.

[2016-08-22 17:52] drphilmarshall commented on #524
Hi @ebellm - I've asked for the Tier 2 OpSim runs to be posted on the web for us, in person last week and in #516 just now, so please keep an eye on both threads. I'll point Cathy Petry at this request of yours too, as evidence! Thanks :-)

[2016-08-22 17:54] drphilmarshall commented on #516
PS. @cathypetry see #524 for some clamoring for the Tier 2 run data :-) Thank you!

[2016-08-22 18:17] MelissaGraham commented on #506
Responses by Melissa Graham, Andy Connolly, and Sam Schmidt.

1) Can you place constraints on the tradeoff between the sky coverage and coadded depth? For example, should we maximize the sky coverage (to ~30,000 sq. deg., as e.g. Pan-STARRS) or the number of detected galaxies (the current baseline with 18,000 sq. deg.)?

Our answer comes here: Since increasing the areal coverage comes at the expen

[2016-08-22 18:22] drphilmarshall commented on #530
Very nice, Andy! Looking at your PR in #531 now.

On Thu, Aug 18, 2016 at 5:06 PM, Andrew Connolly <notifications@github.com>
wrote:

[2016-08-22 18:27] drphilmarshall commented on #530
Does 1% of the observing time make it a "mini survey"? Also, by how much would the overlap increase with this additional proposal? From 50% to X%? Could be nice to add these flourishes to the now-visible [markdown file](https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/master/opsim/Proposal_Euclid.md).

[2016-08-22 18:27] rhiannonlynne commented on #524
The original Swiss cheese experiments should not be used. They have inconsistent sky brightness, seeing and m5 values with newer runs (and even different schema). We could try to replicate them, or replace. This is an issue for @kemcook to look at.

[2016-08-22 18:28] rhiannonlynne commented on #516
We should not use the old Swiss cheese runs. Please see comment in PR 524.

On Mon, Aug 22, 2016, 10:54 AM Phil Marshall <notifications@github.com>
wrote:

[2016-08-22 18:31] drphilmarshall commented on #532
Very interesting. Great stuff!  @pmelchior <https://github.com/pmelchior> would
you be interesting in adding a few words as well as this figure to the WL
science case in the white paper? I think it belongs there, since in the end
both the rotational dithering and the best seeing stacks will affect the WL
figure of merit, whose proxy is likely to be some sort of shear systematic
statistic I guess.

[2016-08-22 18:55] ebellm commented on #524
Thanks, @rhiannonlynne!  @drphilmarshall, maybe we let this slide until "real" rolling cadences are available in Opsim v4 (and hence v2 of the whitepaper)?

[2016-08-22 18:57] drphilmarshall commented on #524
Sounds like a good idea! I have not seen many people try to use them
anyway. The brief analysis in Ch 2 can stay but well need to put a caveat
in the text about using the db's.

On Mon, Aug 22, 2016 at 11:55 AM, Eric Bellm <notifications@github.com>
wrote:

[2016-08-22 19:01] ebellm commented on #524
Agreed.  I think along with the project-contributed timeline we should include a corresponding  plan for the whitepaper, so readers of v1 know to expect rolling cadence evaluation in v2.

Closing out this issue for now.

[2016-08-22 22:06] samschmidt commented on #506
Hi, I believe you have the wrong Sam Schmidt!

Good luck with your work.

[2016-08-23 16:35] jhrlsst commented on #524
I am not sure if "Section 2.5 Temporarily Denser Time Sampling: Rolling Cadence" belongs there or not. This section doesn't present opsim runs as the rest of Section 2 presents opsim run.
This is more likely conclusion of our white paper, but it was written without referring each section (for example, of Section 2.5.4 which did not cite the SN cosmology Section 9.5).  As @ebelim, @drphilmarshall h

[2016-08-23 16:40] ivezic commented on #524
I agree that we should comment out that text until v2 - initially, we hoped
that we'd have rolling cadence runs too for v1, but we don't.

[2016-08-23 18:58] tanguita commented on #536
Hi @AstroVPK,

This has been reviewed by George Chartas. I have already input his comments.

[2016-08-23 19:20] drphilmarshall commented on #524
Sounds good to me. Re-opening and renaming this issue, and self-assigning the editing work. Good catch, @jhrlsst !

[2016-08-23 19:27] drphilmarshall commented on #506
Whoops! Sorry @samschmidt - we meant to mention @sschmidt23 ... Unfortunately you'll keep getting emails from this thread until you [view it on GitHub](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/506#issuecomment-241566154) and click the "unsubscribe" button - I can't edit the thread's participant list, I'm afraid. Sorry about that! It's easy though - just [click here](ht

[2016-08-23 22:58] drphilmarshall commented on #536
Great, thanks @tanguita !

[2016-08-23 22:58] #536 closed

[2016-08-24 01:11] StephenRidgway commented on #524
As the possible author of that section, I would say that it was written before 90% of the white paper, and before it was clear that there would be no rolling cadence simulations for a year.  I agree that this section mith be deleted in favor of having rolling cadence a recommendation of the white paper, or might be recast as part of the conclusion.

[2016-08-26 21:33] cathypetry commented on #524
Hi @drphilmarshall - I just re-read some of these threads and I would like to verify that you have access to the runs that you need.  I did match the data access page on lsst.org to the runs listed in Chapter 2, but if this has changed or if you need updated runs could you please reiterate that here?  Also, I was not clear what you meant by "Tier 2" runs. Thanks!

[2016-08-28 05:11] pmelchior commented on #532
@drphilmarshall: I can add an explanation to why the seeing variation matters. It's not just the effective depth, which changes the statistics budget, but the shear calibrations depend strongly on seeing. The more homogenous the observed seeing is, the easier it will be to apply accurate calibrations (from deeper reference fields or simulations) to the observations.

What's the timescale for versi

[2016-09-06 03:53] jasondrhodes commented on #513
@drphilmarshall I just got the following from @rubind .  Is there time to include this in the white paper?

1) Can you place constraints on the tradeoff between the sky coverage and coadded depth?
For example, should we maximize the sky coverage (to ~30,000 sq. deg., as e.g. Pan-STARRS)
or the number of detected galaxies (the current baseline with 18,000 sq. deg.)?
We will only get good LSST light

[2016-09-06 19:26] drphilmarshall commented on #513
Excellent! If one of you could paste this content into a conclusions
subsection of the WFIRST SN section that would be perfect. Thanks!

On Mon, Sep 5, 2016 at 8:54 PM, jasondrhodes <notifications@github.com>
wrote:

[2016-09-07 00:18] jasondrhodes commented on #513
Thanks Phil.  David, could you paste those into the Sn section please?

Jason

From: Phil Marshall [mailto:notifications@github.com]
Sent: Tuesday, September 6, 2016 12:27 PM
To: LSSTScienceCollaborations/ObservingStrategy <ObservingStrategy@noreply.github.com>
Cc: Rhodes, Jason D (3268) <jason.d.rhodes@jpl.nasa.gov>; Author <author@noreply.github.com>
Subject: Re: [LSSTScienceCollaborations/Obser

[2016-09-09 11:33] MichelleLochner opened #542 "Section 9.2 figures"
@egawiser @HumnaAwan can you update the figures in your section please? They're definitely not legible in some cases and the captions need updates to close issue #486. Thank you!

[2016-09-09 11:38] MichelleLochner opened #543 "Section 9.4 figures"
@connolly @sschmidt23 @janewman could you please increase the size of the labels and axes in your figures please? This will address #486

[2016-09-09 11:38] MichelleLochner commented on #198
We now have the beginnings of a great photo-z section! Thanks for the hard work everyone!

[2016-09-09 11:38] #198 closed

[2016-09-09 11:41] MichelleLochner opened #544 "Section 9.5 figures"
@rbiswas4 @jhrlsst I think figures 9.12, 9.13, 9.18 have too small labels to read easily (and 9.18 needs to be bigger anyway). Please fix this when you have a chance to address #486

[2016-09-09 11:42] MichelleLochner opened #545 "Section 9.6 figures"
@drphilmarshall @tanguita your figures are quite small and hard to read, please fix when you have a chance (addresses #486)!

[2016-09-09 11:44] MichelleLochner commented on #486
Made a first pass for cosmology.

[2016-09-09 20:18] sschmidt23 commented on #543
@MelissaGraham has done the bulk of the work putting this together, including the figures, I want to make sure that she gets the credit for the work.  She's also the one who has the scripts to update the figures, Melissa, can you increase the label sizes on the Photo-z section plots and replace them in the document?

[2016-09-14 17:36] MelissaGraham commented on #543
I've updated the figures and created a pull request to integrate the new figures. I also made two small, relevant changes to the photoz.tex file and created a pull request for that, to (#547). Together, these should satisfy these requests?

[2016-09-16 12:19] MichelleLochner commented on #543
That's a significant improvement, thanks very much @MelissaGraham!

[2016-09-16 12:19] #543 closed

[2016-09-16 12:19] #505 closed

[2016-09-21 18:09] keatonb commented on #418
The pull request has was accepted a while ago.  This issue can be closed.

[2016-09-26 19:04] bethwillman commented on #522
Dear Fed -

Thank you for making this important point - This issue was also discussed
at the Science Advisory Committee meeting in August, and the Project has
received a recommendation from our SAC to provide something along these
lines.  I agree 100% that its important to clarify these questions to the
community, to the extent that is now possible.

The radio silence on this for the last month is

[2017-01-13 19:48] jhrlsst opened #552 "Publishing LSST Observing Strategy White paper in astroph or somewhereelse"
Hi,
I would like to find out the time scale of LSST Observing Strategy White paper in astroph.
The people who worked hard on this deserve credits. I know that people who did not involve this white paper starts to talk about the LSST SN Cadence and may try to get credits (hope that this is not the case).
https://sites.northwestern.edu/lsstcsupernovae17ciera/invited-speakers/
Cadence of LSST Observa

[2017-01-15 19:07] bethwillman commented on #552
Dear Jeonghee -

Thank you for raising your concerns; I certainly understand the
frustrations of you (and many others) in the very slow progress in getting
the observing strategy workshop proceedings posted (I think of this as
proceedings from the observing strategy workshops, more than a white
paper).  One challenge is that supporting the community's publication of a
workshop proceeding beyond th

[2017-01-16 20:07] jhrlsst commented on #552
Dear Beth,
Thank you very much for your great answers. They all make sense. Our SN group (e.g. DESC-SN group) will contact LSST's Publication Manager (Tim Jenness). Renee Hlozek who is the current leader of DESC-SN group has made a suggestion to publish the chapter of the observing strategy optimized for SN cosmology (but this also applies to any types of supernovae) as a Journal paper, and many o

[2017-01-24 17:25] #552 closed

[2017-01-24 17:27] drphilmarshall commented on #512
I'm going to close this out - your answers looked in pretty good shape to me. @ivezic and the OpSim team can always issue you with clarifying questions as they look through them. Thanks! :-)

[2017-01-24 17:27] #512 closed

[2017-01-24 17:29] drphilmarshall commented on #504
@MichelleLochner I'm going to close this issue and the WL one because their conclusions are done. You and @egawiser can always open new issues if you need clarification when composing your chapter summary. Thanks!

[2017-01-24 17:29] #504 closed

[2017-01-24 17:51] drphilmarshall commented on #522
Hi @bethwillman , @connolly

How's it going with thinking through how the findings in the Observing Strategy white paper will be taken forward and used by the project? Beth and I talked yesterday about how both the timeline and the policy / mechanism are important. I guess the timeline need not be too fine-grained, it would just be good to know roughly when decisions about eg the year 1 and 2 base

[2017-01-27 20:11] willclarkson commented on #497
I have synthesized this into a stab at the 10 questions in the summary for Section 4.2. This pull request has been merged with the main branch so should be visible to all readers (answers are in blue font).

[2017-01-27 20:12] cbritt4 commented on #497
Thanks Will! I’m still reading over it, it looks good!

[2017-01-27 21:37] willclarkson commented on #498
Update: I have input answers to these 10 questions, in MW_Astrometry.tex . Astrometry co-authors will shortly be contacted to request comments and edits.

[2017-01-28 21:47] willclarkson commented on #498
Update - comments from co-authors are coming in... Expect updates to WP chapter 4.3 conclusions by this evening (Sat Jan 28th 2017)...

[2017-01-30 20:35] willclarkson commented on #498
Update 3:30pm Mon Jan 30th - Dana's input incorporated into conclusions Answer 1.

[2017-01-31 01:11] drphilmarshall commented on #498
Excellent! I see it all, Will. Feel free to close out once you have changed
the text color back to black! Thanks for your efforts on this.

On Mon, Jan 30, 2017 at 12:35 PM, Will Clarkson <notifications@github.com>
wrote:

[2017-01-31 18:33] willclarkson commented on #498
I am closing this issue for now. Co-authors, please feel free to provide comments at any time.

[2017-01-31 18:33] #498 closed

[2017-01-31 18:33] willclarkson commented on #497
I'm closing this issue for now - comments are of course still welcome!

[2017-01-31 18:33] #497 closed

[2017-01-31 23:02] jhrlsst commented on #507
OK. Here is my draft of answers for the 10 questions, but I would like to check with SN cosmology group for a couple places I marked as "*" (within 1 or 2 days). Since most of answers are here, I am putting the contents here (instead of white paper). I also think making all these answers in one chapter is better (so one can compare one to the other for the same questions. This will also help to av

[2017-01-31 23:18] StephenRidgway commented on #507
Hello,

Item #10 comments on the need for consistent scaling of images for differencing. Presumably this is a requirement for all difference image science, and would probably require numerical scaling for precise matching of brightness even if variable exposures were activated.  I’m thinking that “no” for #10 would be OK and less ambiguous.

Stephen

[2017-01-31 23:29] jhrlsst commented on #507
You may be right. Just simply "no" to the question (10) can reduce any complication of misunderstanding. The project will take care of the difference images.

[2017-02-01 01:16] sethdigel commented on #507
The responses look well considered.  I cannot say that I have studied the answers from the other science thrusts but the phrasing "Can you place constraints on" suggested that quantitative statements, or metrics, were being requested.  Easier said than done, of course.

Regarding the response to #6, "Observing the DDF every night or every the other night for short time (10-15 min) at least..." doe

[2017-02-01 22:58] ebellm opened #564 "Section 6.4 conclusions"
for Zeljko

[2017-02-01 23:01] #564 closed

[2017-02-02 00:33] drphilmarshall commented on #564
Thanks, Eric!  @ivezic, git pull again! :-)

On Wed, Feb 1, 2017 at 3:01 PM, Eric Bellm <notifications@github.com> wrote:

[2017-02-02 17:28] StephenRidgway opened #567 "Answer Zeljko questions for Variables and Transients chapters"

[2017-02-02 17:45] StephenRidgway commented on #567
Working on several incomplete answer sets.
Posted for 6.6.2 CVs, 5.5.2 Planets, 6.6.1 TDEs.
In progress: 5.2 Cepheids, 5.5.1 Pulsating variables.

[2017-02-03 22:46] StephenRidgway commented on #567
@drphilmarshall @ivezic This week, incorporated cadence answers into a half-dozen sections in chapters 5 and 6.

[2017-02-03 22:46] #567 closed

[2017-02-03 22:50] ivezic commented on #567
Great, thanks! Am about ready to start perusing these additions.

[2017-02-03 22:52] drphilmarshall commented on #567
Brilliant! Thanks Steve :-)

On Fri, Feb 3, 2017 at 2:50 PM, Zeljko Ivezic <notifications@github.com>
wrote:

[2017-02-03 23:18] AshishMahabal commented on #567
There is also older text that people had provided that may not have been fully incorporated. It can be found on this thread: https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/526

Also, yesterday at the TVS call we reiterated for section leaders to provide further inputs on the ten questions.

[2017-02-03 23:46] StephenRidgway commented on #567
OK, great.

Today was Phil’s requested deadline, and coauthors of the sections I worked on were mostly not aware of the questions or the deadline - some did not know who Phil is.

I guess communications are not perfect.

Steve

[2017-02-04 00:25] jhrlsst commented on #507
Hi Phil,
I did not realize the deadline is today, and still I was going to wrap up the answers around today so Zeljko can make conclusion. However, DESC-SN team wants to discuss more about this during the group Telecon on next Tuesday. Can I deliver the answers on next Tuesday or Wed?

[2017-02-04 01:18] StephenRidgway commented on #507
This discussion will continue throughout the survey.

Remember, “perfect is the enemy of good”.

: )

[2017-02-04 04:35] ivezic commented on #507
Yes, next Wed would be ok - but as Steve said, at some point we need to converge!

[2017-02-06 13:00] drphilmarshall commented on #567
Hmm - interesting. I didn't know we had a community beyond GitHub! We
should encourage them to watch the repo, so that they get the email
notifications, but I realize not everyone likes getting all the messages...
The solution to that is to make sure that everyone who is contributing is
in the "Observing Strategy White Paper Contributors" team, so that when we
@mention that team name (just start t

[2017-02-06 16:37] StephenRidgway commented on #567
Paula: szkody@u.washington.edu
and Keivan: keivan.stassun@vanderbilt.edu

with whom I’ve recently corresponded do not seem to be in that list.

Most of the contributors listed in the Chapter 6 header are not on the list, and some of the contributors in the Chapter 5 header also.  But if the list only includes those who have submitted to gethub, maybe that is not surprising.

[2017-02-06 16:54] StephenRidgway commented on #567
Hi, I thought that perhaps I could integrate the material here from #526 <https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/526>  into the document, but I find that the contributions are kind of “stream of consciousness” and not organized by section so I don’t think I can do them justice.  I suggest that everybody read the draft answers for the sections that interest them and m

[2017-02-08 02:52] jhrlsst commented on #507
Here are answers from the consensus of DESC-SN working group. (I will include them in the white paper shortly).

1) Can you place constraints on the tradeoff between the sky coverage and coadded depth?
For example, should we maximize the sky coverage (to ~30,000 sq. deg., as e.g. Pan-STARRS) or the number of detected galaxies (the current baseline with 18,000 sq. deg.)?

For supernova observations

[2017-02-08 18:35] jhrlsst commented on #507
Hi Phil,
I can not push the tex file because of the permission problem.
I haven't updated the files for a few months so the permission is disconnected.
git config --global user.username jhrlsst
[MERAK:ObservingStrategy/whitepaper/cosmology] jrho% git push
remote: Permission to LSSTScienceCollaborations/ObservingStrategy.git denied to jhrlsst.
fatal: unable to access 'https://github.com/LSSTScience

[2017-02-08 18:38] jhrlsst commented on #507
But I see the pdf file is updated. So this is done. The conclusion is updated with answers of 10 questions.

However, please check the permission issue for me. Thanks.

[2017-02-08 18:52] jhrlsst commented on #507
In fact, the file is still not updated. I was confused with the file I compiled. I want to keep the promise of Wed. deadline.

[2017-02-08 19:10] drphilmarshall commented on #507
Hi @jhrlsst - I just merged the PR that @rbiswas4 made, containing your conclusions text ( #570 ), so your text is now include in [the latex file](https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/master/whitepaper/Cosmology/supernovacosmology.tex#L883). Rahul submitted this PR from his fork, because he only has "Read" access to the repository. In fact, as of sometime in the fall

[2017-02-08 19:10] #507 closed

[2017-02-08 19:21] jhrlsst commented on #507
I see that things have changed. You approve one by one. Yes, it is good to close this out.

[2017-02-08 19:24] jhrlsst commented on #507
Why did I get that permission issue? Did I miss a step?

[MERAK:ObservingStrategy/whitepaper/cosmology] jrho% git push
remote: Permission to LSSTScienceCollaborations/ObservingStrategy.git denied to jhrlsst.
fatal: unable to access 'https://github.com/LSSTScienceCollaborations/ObservingStrategy.git/': The requested URL returned error: 403

Did you fix the permission today or yesterday? I don't wan

[2017-02-08 19:37] drphilmarshall commented on #507
Sorry, I should have been clearer. Everyone except the chapter editors had their permissions changed from "Write" to "Read" access, to help contain the modifications to the repo as we get ready to submit the white paper. So, you can't push to a branch on the base repo, but you can push to your fork and submit a pull request from there.

[2017-02-08 19:57] jhrlsst commented on #507
I see. Thanks for clarification.

[2017-02-09 02:34] willclarkson commented on #499
@akvivas - I have made an attempt at the ten questions for Section 4.4 and merged to the master branch (Pull Request #572). Please take a look and make any edits you think necessary.

[2017-02-14 23:35] drphilmarshall commented on #508
Answers to the 10 questions, plus figures and metrics merged in #573 ! 0.25% precision in H0 *if* we can do the multi-filter analysis - and it looks like we are indeed analysis-limited...

[2017-02-14 23:35] #508 closed

[2017-02-16 23:11] reneehlozek opened #574 "guidelines for authorship"
Just a note that it states that the guidelines for getting involved are in the preface, but that only contains a link to sec:guidelines, rather than the info directly (or rather, the preface linked from the readme seems to end before the guideline section itself).

[2017-02-17 15:39] drphilmarshall commented on #574
Yep, some clean-up required here. Thanks for issuing! We could use a lot more help like this, fixing up the details before we submit.

[2017-02-17 15:54] drphilmarshall commented on #495
Dear @LSSTScienceCollaborations/observing-strategy-white-paper-editors

Hope you're all doing well! Quick update on the white paper: Zeljko is working hard to synthesize the answers to his questions that so many sections have now provided, and Beth is working on the "policy" part of the introduction ( #522 ) that will describe how the white paper will function as a communication channel to the pro

[2017-02-17 15:59] drphilmarshall opened #575 "Everyone: make sure our author lists are complete"
Hi @LSSTScienceCollaborations/observing-strategy-white-paper-editors @LSSTScienceCollaborations/observing-strategy-white-paper-contributors

There are a few people who have contributed to the science sections that are not currently listed as authors, because they have not been using GitHub but instead have been providing valuable input by email etc. If there are people who need to be accredited fo

[2017-02-17 16:49] ehneilsen opened #576 "Create a GW followup section in the cosmology section, coordinating with the authors of 6.5"
GW followup of kilonovae has important cosmological applications; the GW signal allows measurement of distance independent of the "distance ladder" or indeed any calibration of standard candles. If LSST can identify host galaxies, redshifts can be obtained, and H0 measured. So, section 6.5 should at least be referenced in the cosmology section; perhaps a new cosmology subsection should be created

[2017-02-23 01:10] drphilmarshall commented on #494
Hi all, @ivezic is putting the finishing touches on his summary of summaries: I'm going to start a PR from a branch for him to dump his work into. I'm thinking it can go at the start of a "Conclusions, Tensions and Tradeoffs" chapter, where we update Steve's existing text with some discussion of Zeljko's findings. Hope this sounds OK, @connolly @StephenRidgway ! I'll alert you to the PR once its g

[2017-02-28 19:53] rhiannonlynne commented on #533
Regarding the existing DD implementation, it's based on the whitepapers submitted previously. You can see a summary of these (and links to the actual whitepapers) at https://community.lsst.org/t/deep-drilling-whitepapers/732

Please note that in these whitepapers, deep u band coadds were indeed requested! 5 of the fields were actually requested to a deeper u band depth than others; some science co

[2017-03-06 21:26] drphilmarshall commented on #524
Returning to this after some time: Many science sections refer to "rolling cadence" so I think we do actually need an introduction to the concept in chapter 2. No-one actually ever used the experimental (and flawed!) "swiss cheese" opsim runs though, so I commented out this part of the section in chapter 2. PR is on the way.

[2017-03-06 21:41] drphilmarshall opened #580 "Finishing v1.0 of the LSST Observing Strategy White Paper"
@LSSTScienceCollaborations/observing-strategy-white-paper-editors
@LSSTScienceCollaborations/observing-strategy-white-paper-contributors

Hi all,

I'm working on getting v1.0 of the white paper to the LSST Science Advisory Committee by the end of this week: I just merged in Zeljko's summary of your science case conclusions, which makes a very nice addition to Chapter 12 (take a look!). This is the

[2017-03-06 21:41] #580 closed

[2017-03-06 21:42] #524 closed

[2017-03-06 21:55] drphilmarshall commented on #513
Hi @rubind @jasondrhodes - It looks like you did not enter these conclusions into the `WFIRST_supernovae.tex` file before Zeljko's deadline a few weeks ago, so his overall conclusions (now in Chapter 12) don't refer to them. However, his conclusions are strongly influenced by the needs of the other supernova groups, so I don't think they would have been changed much anyway! So, I'm going to close

[2017-03-06 21:55] #513 closed

[2017-03-06 21:58] drphilmarshall commented on #516
Looks like almost all analyses use minion_1016 over enigma_1189 now - good enough.

[2017-03-06 21:58] #516 closed

[2017-03-06 22:04] drphilmarshall opened #581 "Patchy useage of `\opsimdbref{}` macro"
In many places OpSim databases are referred to but not using the `\opsimdbref{}` macro that provides a hyperlink back to Chapter 2. I could try and fix these, via a global search for each of the runs in the following list:
[code]

[2017-03-06 22:09] drphilmarshall opened #582 "Fix author list"
The "addresses as footnotes" scheme is not working, as we have so many authors. The Science Book included an author list as a table in an appendix - we could do this too. Or we could put that table up front, after the preface. Alternatively, we adopt one of the journal's schemes for printing author names and institutions, and make that work - but it'll mean some latex coding.

[2017-03-06 22:13] drphilmarshall commented on #522
Hi @bethwillman - Last week when we were talking about SAC presentations you mentioned the possibility of including a timeline in the white paper introduction, as part of your white paper Section 1.3 "Influencing the LSST Observing Schedule." Let me know if you want help latex-ifying such a table/figure/chart/list!

[2017-03-06 22:15] drphilmarshall commented on #495
Looks like the call for chapter summaries got only a few responses; I will leave in the ones that were written, and comment out the placeholder text in the other chapters before closing this out.

[2017-03-06 22:33] drphilmarshall commented on #494
Thanks for all your answers to Zeljko's 10 questions. His summary of them is now merged, as the first section of Chapter 12 (now "Conclusions, Tensions and Tradeoffs"). We got answers from most science cases, with just the Special Surveys and Solar System chapters missing. I think this is OK: the special surveys cases don't, to first order, affect the main survey's strategy, and I saw Zeljko provi

[2017-03-06 22:33] #494 closed

[2017-03-06 22:35] drphilmarshall opened #584 "Clean up Magellanic Clouds chapter"
At present we just have an introduction and a Further Work section; this is fine, but the "generic list of things we want to measure" would be better just written into the introduction text.

[2017-03-06 22:50] #495 closed

[2017-03-07 01:43] drphilmarshall commented on #575
I know the SN cosmology section author list was found to be incomplete two weeks ago - is it now fixed, @rbiswas4 ?  The section header lists:

Others: can you please double check your sections to make sure that everyone is correctly accredited for their work? Thank you!

[2017-03-07 01:53] #581 closed

[2017-03-07 01:54] #574 closed

[2017-03-09 16:03] rbiswas4 commented on #575
@drphilmarshall I have addded a name, a few addresses and removed a name on request along with some text updates in a commit (which is being reviewed by others). I will issue a PR as soon as that is confirmed.

[2017-03-09 16:41] drphilmarshall commented on #575
Great, thanks Rahul. I hope that everyone else is happy with their author
lists - and that your unmentioned colleagues are also happy!

[2017-03-10 01:51] StephenRidgway commented on #524
I see that an introduction to rolling cadences still exists in chapter 2.  Could you be more specific about what is missing?

[2017-03-10 14:24] drphilmarshall commented on #524
Hi Steve! Not sure what you mean by "missing" - I commented out the
description of the swiss cheese runs, but left the general introduction to
rolling cadence so that all the science sections (and the conclusions) can
refer to the term. For me, the question is: does the white paper read OK
how it is now, with the shortened RC section in chapter 2? I think so.

[2017-03-10 15:02] StephenRidgway commented on #524
I agree, sorry for misreading you rcomment.

[2017-03-10 16:10] #542 closed

[2017-03-10 16:46] drphilmarshall commented on #524
Great! Thanks for taking a look. I think your tradeoffs discussion works
well after Zeljko's conclusions too - thanks for producing that :-)

[2017-03-10 18:02] #584 closed

[2017-03-10 18:17] ivezic commented on #524
Agreed - I think Steve's pieces are very thoughtful!

[2017-03-11 16:05] drphilmarshall opened #593 "Make v0.99 release, including PDF"
The PDF from this version is what we'll give to the SAC. The release itself won't contain the PDF, though, unless I set up auto PDF generation in an orphan `pdf ` branch - so that's what I'll do. (I should have done this ages ago anyway).

[2017-03-11 16:06] drphilmarshall opened #594 "Include version information on cover page"
This should include the current release number, but also the commit ID. It can go on the front page.

[2017-03-11 16:07] drphilmarshall opened #595 "Check, finalize Preface"
This can probably be streamlined.

[2017-03-11 16:18] #522 closed

[2017-03-11 16:33] rhiannonlynne opened #596 "Update PHA section"
When writing the LSST NEO paper, we found some problems with the input PHA population we were using previously (and used in this whitepaper). We fixed the problems; I need to update the results here too.

[2017-03-11 16:34] rhiannonlynne commented on #596
Done with PR https://github.com/LSSTScienceCollaborations/ObservingStrategy/pull/591

[2017-03-13 17:20] #596 closed

[2017-03-14 18:13] drphilmarshall commented on #595
Closed by #599 !

[2017-03-14 18:13] #595 closed

[2017-03-15 06:12] drphilmarshall commented on #594
As of #600, the [auto-built PDF](https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/pdf/whitepaper/LSST_Observing_Strategy_White_Paper.pdf) now shows the commit ID as part of the version number - the first part of which is set "by hand" in the `Makefile`.

[2017-03-15 06:12] #594 closed

[2017-03-15 07:01] drphilmarshall commented on #593
@michaelstrauss @ivezic @bethwillman

Please find the v0.99 white paper at its release page here:

https://github.com/LSSTScienceCollaborations/ObservingStrategy/releases/tag/v0.99

This is ready for review by the Science Advisory Committee - you can either send them to the release as above, or you can pass them this [direct link](https://github.com/LSSTScienceCollaborations/ObservingStrategy/raw/

[2017-03-15 07:02] #593 closed

[2017-03-15 12:56] #496 closed

[2017-03-15 12:59] drphilmarshall commented on #416
@ivezic is going to contact Tim Jenness about LSST pub board review of v0.99 chapters 1, 2 and 12 - let us know how that goes, Zeljko!

[2017-03-15 13:04] drphilmarshall commented on #425
Closed by #599 !

[2017-03-15 13:04] #425 closed

[2017-03-15 13:05] drphilmarshall commented on #196
I think this was closed by #550 #590 and #601 - thanks all!

[2017-03-15 13:05] #196 closed

[2017-03-15 13:11] #515 closed

[2017-03-15 13:20] drphilmarshall commented on #479
Looking through the v0.99 white paper, the end result of all this discussion of `minion_1016` seems to be that we are close to uniform usage of `minion_1016` (not with the new sky model), with just a few science cases drawing conclusions based on `enigma_1189`. My sense is that these conclusions are still high enough level that the difference between these old and new baseline cadences is not very

[2017-03-15 13:20] #479 closed

[2017-03-15 19:56] ivezic commented on #416
Done, see
https://jira.lsstcorp.org/browse/PUB-42

[2017-03-16 03:13] jhrlsst commented on #479
Hi,
I was thinking to rerun the metric with the opsim output using new sky model. But no one seems to know where the new file was. This explains that a new column was added to the same file, minion_1016. If the name is the same (minion_1016), we don't know if we are using original version or updated one. If you release new version, I suggest to release with a new name.

[2017-03-16 14:58] drphilmarshall commented on #416
Great, thanks Zeljko! I started a conversation with Tim about how we should implement changes during review - once we converge, I'll inform the writing team here.

[2017-03-16 14:58] #416 closed

[2017-03-16 15:01] drphilmarshall opened #604 "Fix arxiv references to contain the arxiv ID"
Preferably also with a hyperlink to the paper on astroph...

See request from Tim Jenness on jira [here.](https://jira.lsstcorp.org/browse/PUB-42?focusedCommentId=73990&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-73990)

[2017-03-16 17:18] rbiswas4 commented on #604
@drphilmarshall Do you already have a bst file which hyperlinks them to the numbers?

[2017-03-16 17:20] drphilmarshall commented on #575
Hi all - as you saw, we've now submitted v0.99 of the white paper to the SAC for review, but during the review period we can continue to fix things like author lists. If you have not updated your section/chapter author list yet, please do submit a PR ASAP! Thanks :-)

[2017-03-16 17:33] drphilmarshall commented on #479
Hmm. Thanks for flagging this, Jeonghee! I fully agree.

All: the assumption that all of our readers will have is that plots made
using the `minion_1016` database will use the old sky model, as per the
description of the baseline cadence in Chapter 2. We must *not* use the new
sky model and then label the resulting plots as `minion_1016`. If there is
a new column in the `minion_1016` database, I s

[2017-03-17 23:00] drphilmarshall commented on #604
I suspect the problem is that we are using `apj.bst`, which doesn't display
the ID or URL. Perhaps we should try and hack this?

On Thu, Mar 16, 2017 at 10:18 AM, rbiswas4 <notifications@github.com> wrote:

[2017-03-17 23:19] rbiswas4 commented on #604
OK ... I put the bst file I usually use and shows the arxiv number only in https://github.com/rbiswas4/ObservingStrategyOld/tree/trydiffbst . Two things (a) I don't know what you would like to display before the number like 'arxiv' ? (b) I had some errors compiling the latex on my computer before I changed the bst file, as well as after.

[2017-03-21 18:56] drphilmarshall commented on #604
Thanks Rahul! :-)

a) I think I'd like it to say "astro-ph/1104.56782" with hyperlink to the
arxiv abs page

b) Let's deal with those once you have opened the PR. Would you mind,
please? Thanks very much!

[2017-03-21 19:13] rbiswas4 commented on #604
(a) (Even though astro-ph does not appear in the newer arXiv references which look like   arXiv:1703.06139 [pdf, other] while the older ones look like  arXiv:astro-ph/0608007 [pdf, ps, other]). Sure, I can make it look that way.

[2017-03-21 19:38] drphilmarshall commented on #604
Ah. Hmm. Maybe `arXiv:1703.06139` and `arXiv:0608007` is a better scheme
then. Thanks!

On Tue, Mar 21, 2017 at 12:13 PM, rbiswas4 <notifications@github.com> wrote:

[2017-04-07 19:30] lgalbany opened #610 "my name twice in the authors list..."
...for some reason. I guess this is a minor problem but it has to be fixed before submission.

[2017-04-16 13:24] michaelstrauss opened #611 "Comments on Chapters 1, 2 and 12"
Hello all,
 A PDF scan of my hand-written comments is attached.  This is the first posting from the SAC review of the whole white paper.  These chapters are an introduction (1), conclusion (12), and a discussion of the OpSim runs (2).  Apologies that this is not split into separate small issues.
Overall, they are well-written and clear, and many of my comments are minor suggestions on wording, etc

[2017-04-16 13:27] michaelstrauss opened #612 "Comments on solar system science, from Renu Malhotra"
From Renu Malhotra (a member of the SAC):
Dear All,

Here is my homework - a review of chapter 3 and section 10.2

Overall, this is a quite comprehensive description of solar system science and strategy.  I have only some relatively minor comments.

Since LSST will be its own follow-up machine with respect to detection and confirmation and orbit linkage for minor planets, I wondered if a brief sum

[2017-04-19 14:19] michaelstrauss opened #613 "Comments from Niel Brandt on AGN Chapter"
This is part of the SAC review of the observing strategy white paper.

[AGN-cadence-chapter-feedback01.pdf](https://github.com/LSSTScienceCollaborations/ObservingStrategy/files/935074/AGN-cadence-chapter-feedback01.pdf)

(Gordon Richards adds these two small comments:

* I've been trying to get Vishal to increase the font size in Figure 8.2 for years (indeed, in every plot he has ever made).   So,

[2017-04-19 14:20] michaelstrauss opened #614 "Comments on special surveys chapter from Niel Brandt"
This is part of the SAC review of the white paper.  He writes:

There is some potentially great stuff in this chapter, and it was
good to re-read it. But overall it reads as a bit of a hodgepodge
presently, and there is a lot of work to be done here.

[special-surveys-chapter-feedback01.pdf](https://github.com/LSSTScienceCollaborations/ObservingStrategy/files/935084/special-surveys-chapter-feedbac

[2017-04-19 19:22] timj commented on #604
I've just made a change like this to the LSST bst file: lsst/lsst-texmf#26
You may also be able to use the `urlbst` tool from @nxg from http://ctan.sharelatex.com/tex-archive/biblio/bibtex/contrib/urlbst/urlbst.pdf

Both these pick up the `eprint` and `archiveprefix` entries used in ADS bibtex files.

[2017-04-21 15:11] drphilmarshall commented on #611
This is _great_, thank-you Michael! :-) I will look through these comments with @bethwillman and @ivezic and issue the fixes you recommend. If we have questions we'll use this thread. Thanks again!

[2017-04-21 15:13] drphilmarshall commented on #610
I agree. The author list in general needs a thorough going over - I believe I am issued this task in #582 (or at least, I should be :-) ). I'll watch out for excess Galbany when I get there. Thanks!

[2017-04-21 15:13] #610 closed

[2017-04-21 15:13] drphilmarshall commented on #582
Note to self: as @lgalbany points out in #610 , he should only appear once in the author list.

[2017-04-21 15:14] lgalbany commented on #582
Note that this also happens to more people!

2017-04-21 11:13 GMT-04:00 Phil Marshall <notifications@github.com>:

--
Lluís Galbany++++++++++++++++++++++++++++++++++++++++++++++
Pittsburgh Particle Physics, Astrophysics, and Cosmology Center (PITT PACC).
Physics and Astronomy Department, University of Pittsburgh, Pittsburgh, PA
15260, USA.
e-mail: llgalbany@pitt.edu    tel.: +1-412-499-2961
webpag

[2017-04-21 15:15] drphilmarshall commented on #612
Thanks Michael - and please do pass on our thanks to Renu for this review!

@rhiannonlynne @davidtrilling Please take a look at Renu's comments on your Solar System chapter.  I think it should be straightforward to respond to them - perhaps you could issue the work to yourselves or others as appropriate? Thanks!

[2017-04-21 15:20] drphilmarshall commented on #613
Thanks Michael - and thanks very much @nielbrandt and @gtrichards for the feedback! It's much appreciated.

@ohadshemmer @tanguita Looks like we've got some very helpful feedback here, from Niel and Gordon. Could you please take a look through it, and issue tasks to address their comments? It could be that you both could just do it, but I'm not sure - you may need the section leads to take on some

[2017-04-21 15:25] drphilmarshall commented on #614
Thanks Michael. I can't argue with @nielbrandt 's overall assessment! I'll talk to @bethwillman and @ivezic about how to address the hodgepodge nature of the chapter, and report back to this thread. I suspect we can come up with a more coherent structure now we know more about the overall timeline of the observing strategy process, and how "mini-surveys" fit in to that.

[2017-04-21 15:27] drphilmarshall commented on #535
Niel just did this, tasked by the SAC :-) See #613 !

[2017-04-21 15:27] #535 closed

[2017-04-21 15:28] drphilmarshall commented on #537
Niel just did this, tasked by the SAC :-) See #613 !

[2017-04-21 15:28] #537 closed

[2017-04-21 15:28] drphilmarshall commented on #538
Niel just did this, tasked by the SAC :-) See #613 !

[2017-04-21 15:28] #538 closed

[2017-04-21 20:32] michaelstrauss opened #615 "Comments from Jason Kalirai (SAC) on preface"
- The Preface jumps right into the content of the paper and assumes that the reader is familiar with a lot of terminology ("Project members", "Collaboration", "OpSim", etc..  This is a major publication following the LSST science book and deserves some type of extended "Executive Summary".  This is especially important for the many scientists in the community that haven't been following LSST close

[2017-04-21 20:32] michaelstrauss opened #616 "Comments from Jason Kalirai (SAC) on introduction"
- The format of the text in the bullets is not standard.  Some of them list science themes ("dark energy and dark matter") and others are written in a format such as to tackle science themes "Exploring", ""Studying", etc.

[2017-04-21 20:33] michaelstrauss opened #617 "Comments from Jason Kalirai (SAC) on Chapter 7 (Magellanic Clouds)"
- I suggest moving the grouping of the 6 science themes to be before the list of the themes.  I think this comes across clearer if you first create the bin of "Galaxy formation and evolution" and define it, and then input items 1-3 under it.  These are all aimed at learning about the MCs themselves.  Then, create the second bin of "Stellar Astrophysics and Exoplanets" and list items 4-6 under that

[2017-04-21 20:34] michaelstrauss opened #618 "Comments on Section 10.4 (M67 mini-survey) from Jason Kalirai (SAC)"
- I like the core science in this chapter (fundamental stellar astrophysics), but the idea of doing one cluster with LSST seems odd.  The kinds of effects that are being measured are things that will vary with age and mass, so you really want to survey a range of clusters with different ages.  There are other clusters that satisfy the selection criteria (low extinction, well populated, nearby) tha

[2017-04-21 20:35] michaelstrauss opened #619 "Comments from Jason Kalirai (SAC) about Chapter 11 (WFIRST)"
- 11.1 – should update the WFIRST filter and grism wavelengths.  The filter set now includes a filter extending from 0.5 – 0.75 microns and the grism covers 1-2 microns

- Given the breadth of the LSST science program, it would be nice to have more balance in the discussion here.  The dark energy and microlensing programs are two examples of surveys that benefit from overlapping LSST-WFIRST data s

[2017-04-21 20:36] michaelstrauss opened #620 "Comments from Jason Kalirai (SAC) on Chapter 4 (Milky Way)"
- overall, this is a really great effort.  I like the organization of a broad set of Milky Way science cases into three bins; populations that are only found within the plane, a wide range of astrometry applications, and mapping of structures in the halo.  Although this doesn't capture all of the science cases in the Science Book, it is a reasonable approach to represent a significant fraction of

[2017-04-21 21:27] drphilmarshall commented on #615
Thanks, Michael! (And please pass on our thanks to Jason as well for his review :-) )

I've self-assigned this for now: I think the executive summary is a good idea and would indeed be much appreciated. We'll need an abstract for the arxiv posting too...  I'm not sure that the Executive Summary is exactly the right place to define terms (that seems more like the introduction's job), but I'll defin

[2017-04-21 21:53] drphilmarshall opened #621 "Responding to Pub Board and SAC Reviewers' Feedback"
tl;dr: We've got a lot of high quality feedback on the LSST Observing Strategy White Paper coming in from the Science Advisory Committee, and it's up to the Chapter Editors to respond (delegating as needed). Let's get everything squared away by May 26th and be on the arxiv in June!

Hi @LSSTScienceCollaborations/observing-strategy-white-paper-editors !

As you'll have noticed, the comments from th

[2017-04-21 23:01] drphilmarshall commented on #611
Whoever addresses Michael's comments on the introduction could also fix issue #616

[2017-04-21 23:15] drphilmarshall commented on #617
@dnidever @knutago Here's some good feedback for your Magellanic Clouds chapter! Can you take a look, and formulate a response, please? Thanks!

[2017-04-21 23:19] drphilmarshall commented on #618
@RuthAngus Here's some thoughtful feedback on your team's M67 section in the LSST Observing Strategy White Paper. Can you please take a look and formulate a response, please? We can use this thread for discussion - and feel free to @mention other people to come join us. Thanks! :-) CC: @ivezic

[2017-04-23 15:52] slosar opened #622 "Comments from Anže Slosar (SAC) on Section 11 (WFIRST)"
I'm uploading this directly to save Michael Strauss some work.

In general, the chapter is good, albeit it could do with some polishing. See also Issue #619. In particular:

 * The paper on all possible synergies between surveys (Jain et al) should be cited and introduction expanded by listing synergies. However, I feel there is no need to be excessively verbose since majority of the synergies do

[2017-04-23 20:40] jasondrhodes commented on #622
@slosar  and @michaelstrauss thanks for these comments.  I have addressed most of them. Jain reference and short discussion added. The discussion of GO programs is left out, but I agree it is a fruitful one to pursue.  Please don't hesitate to contact me about how we might best coordinate.  Regarding the possibility of y/z integration reduction, this can be worked jointly, especially in the overla

[2017-04-24 14:50] michaelstrauss opened #624 "Comments on dithering section of cosmology chapter, from Timo Anguita (SAC)"
Very good section. I don’t really have much to add. My main concern here is not with the section but whether these dithering patterns will be added to the OpSim. It would be very interesting to have an OpSim output with dithering to measure how other science cases will be affected.

The acronym “OS” for observing strategy is not used through-out the whitepaper. I would remove it here for consisten

[2017-04-24 14:51] michaelstrauss opened #625 "Comments on strong lensing section of cosmology chapter, from Timo Anguita (SAC)"
Very interesting and advanced metrics. I do have some comments that I believe will help the non-expert reader.

The section needs a bit more detail on some concepts:
For example, on how the metrics (A, P, f) are actually calculated. It is true that the interested reader will refer to Liao et al. 2015 and the future publication with the TDC2 results, nevertheless a bit more self containment would b

[2017-04-25 14:54] drphilmarshall commented on #617
Knut reports that he will do what he can and try to delegate what he can’t.  (This month is going to be very busy for him)

@knutago Looks like the task is mainly reorganization and adding explanatory text - hopefully this shouldn't take too long! Thanks :-)

[2017-04-26 00:53] willclarkson opened #626 "Chapter 4 (Milky Way) - Static science case before arXiv posting?"
@akvivas @cbritt4 @vpdebattista @caprastro @yoachim @pmmcgehee @jgizis @knutago @dnidever and all MW-interested co-authors:

Prompted partly by Jason's review of the MW chapter (see github issue #620 ), I would like to develop at least a skeleton "static science" case and figure of merit for Chapter 4, before the WP gets posted to the arXiv if possible.

I have self-assigned this "issue," but all

[2017-04-26 01:04] willclarkson commented on #620
Good comments!

I've opened up a new issue ( #626 ) to address the static science issue, help is very much welcome.

The comment on the 2000 sq deg WFIRST opportunity is very interesting... would anyone like to provide more information on this? @jasondrhodes - I see you've thought about this overlap from the cosmological point of view (chapter 11.2), are yourself or any others doing any work on th

[2017-04-26 15:40] drphilmarshall commented on #626
Can you say briefly what motivates this figure of merit? As in, which key
model parameters' precision will scale with this FoM? I guess it's probably
many, but it'd be good to lay out some examples. It sounds like this is
probably obvious to all of you, but it may not be to your cosmologist/solar
system/transient readers :-)

[2017-04-26 17:32] willclarkson commented on #626
Thanks @drphilmarshall - what I personally have in mind is the uncertainty in age determination for each of multiple spatially-overlapping populations towards the inner Milky Way. Eventually I'd like the community to be able to make a statement like "strategy X will lead to uncertainties in the timing and duration of each star formation epoch in the bulge of Y and Z Gy respectively, and in the num

[2017-04-26 17:38] yoachim commented on #626
I think we've got all the tools to do that. The questions I have:
1) Is the overall goal to map the bar? I'm not clear on the justification for varying the distance of the fiducial star.
2) The photometric and crowding uncertainties are going to be calculated for each observation (since they both depend on the seeing). I think right now the crowding metric uses the best seeing and assumes DM will

[2017-04-26 17:50] willclarkson commented on #626
Thanks Peter (@yoachim) -

1. What I have in mind is to use model stars along the bar as a reference, yes. I'm trying to come up with a figure of merit that doesn't require a full-blown population simulation, and "fraction of fields that can be well-measured for bar-like populations" seems to be a good place to start. At least, I would expect the results of a full-blown simulation to scale with th

[2017-04-26 18:05] yoachim commented on #626
Right now, we have the Coaddm5Metric which assumes Gaussian errors and combines the depths of multiple images accordingly. Looks like the crowding metric uses the best seeing in the group of observations to compute the crowding uncertainty.

For the astrometry metrics, the depth of each image is used in the computation. The uncertainty in the proper motion is treated as computing the uncertainty o

[2017-04-26 18:26] willclarkson commented on #626
Thanks Peter - it sounds like those of us interested in this issue should take another look at [Olsen, Blum & Rigaut 2003](http://adsabs.harvard.edu/abs/2003AJ....126..452O), there may be some useful recommendations in that paper. Although at first glance the seeing:confusion interplay may seem like a second-order issue, I can imagine it becoming a main limitation for surveying crowded regions wit

[2017-04-26 19:03] pmmcgehee commented on #626
Hi Will,

That's a wonderful science case, and better showcase for Galactic structure
and archeology than the multiple GC populations scenario I had suggested.
It shares many of the same concerns, though.

Best regards,
Peregrine

On Wed, Apr 26, 2017 at 11:26 AM, Will Clarkson <notifications@github.com>
wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2017-04-26 19:54] willclarkson commented on #626
Thanks @peregrine - would you mind writing a couple sentences about the GC-populations case you have in mind here, so that any readers of this issue not on the lsst-milkyway-etc mailing list (and who thus missed your earlier suggestion) can see?

[2017-04-26 23:29] pmmcgehee commented on #626
Will et al,

Sure thing. Here's a portion of what I posted on
https://community.lsst.org/t/working-towards-crowded-field-science-requirements/1798
.

Example science case - population studies in NGC 5272 (M3):

Here is an example science case for thinking about crowded field studies.
While it's neither in the bulge or the disk, it caught my interest. Others
may have alternate scenarios... whatever

[2017-04-27 01:04] drphilmarshall commented on #626
Thanks Will - you should include that high level text at the start of your
FoM subsection. Good luck!

On Wed, Apr 26, 2017 at 4:29 PM, Peregrine M McGehee <
notifications@github.com> wrote:

[2017-05-05 12:27] michaelstrauss opened #627 "Comments from Mansi Kasliwal (SAC): Chapters 1 and 2"
# Section 1.3:
Survey Strategy Committee - as we had discussed in March, it may not be the best idea for the LSST PS to chair this committee. Was this discussed further after we sent the minutes? The document has not been updated.

# Also add to Section 1:
Some mention of what timescale will the survey strategy be reviewed and possibly revised during operations (1 year? 2 years? Not at all?)

# Al

[2017-05-05 12:27] michaelstrauss opened #628 "Comments from Mansi Kasliwal (SAC): Chapter 6"
#Section 6.2:
- The proposed metric for median time difference between first epoch and last epoch in a given night is confusing - perhaps they meant maximum time difference?
- A zoom-in to Figure 6.4 right panel may highlight the importance of 1-day cadence instead of 3-day cadence to discover young transients (as the slopes are mag/day).  Add a sentence to answer A2?
- It is not clear why they sa

[2017-05-05 12:28] michaelstrauss opened #629 "Comments from Mansi Kasliwal (SAC): Chapter 12"
#Section 12
Missing in A2: Discovering transients also requires rolling cadence. In particular, a simulation with faster cadence in bluer filters in a shorter rolling window and slower cadence in redder filters in a longer rolling window may help address many of the trade-offs in TDA.

[2017-05-05 12:29] michaelstrauss opened #630 "Comments from Nelson Padilla (SAC) on weak lensing section of Cosmology chapter"
First of all, this is an extremely carefully written section, I found it very clear and thorough and therefore I only have a few comments about explaining further some details, perhaps illustrating metrics with simple figures, and making some more quantitative estimates to back the weak lensing requirements.

- Page 215, after equation: My impression here is that there is either too much detail wh

[2017-05-05 12:30] michaelstrauss opened #631 "Comment from Charles Liu (SAC) on AGN chapter: "regular (non-quasi) periodicity""
I've read through the AGN chapter now - a few times, actually - and I don't have anything substantive to add to the comments that Niel Brandt has already shared - I saw a few additional typos here and there but I'm sure those will be fixed in a future iteration.  What I can't shake, though, is a nagging feeling that at least one significant observing mode has been left out; I just am not sure how

[2017-05-05 17:48] StephenRidgway commented on #629
A very promising cadence idea - I suggest formulating it in sufficient detail to propose a simulation experiment: https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/master/opsim/README.md <https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/master/opsim/README.md>

[2017-05-05 17:59] mschwamb commented on #612
@drphilmarshall can you also assign this to me as well.  I'm taking on @rhiannonlynne's co-chair  position on the SSSC.  (thanks Lynne for your dedicated service to the SSSC)

[2017-05-07 19:30] dkirkby opened #632 "Comments from David Kirkby (SAC) on Chapter 1, incl: Table of Metrics"
My only high-level comment on this chapter is that it would be useful to have an executive summary of findings so far, accompanied by a summary table of the currently implemented metrics.

Minor editorial corrections / suggestions:
p.12: "...is not slaved to..." -> "is not limited to..."
p.13: "...for each projects, ..." -> "...for each project, ..."
p.13: "...many of them, we hope, ...": "hope" s

[2017-05-07 19:38] dkirkby opened #633 "Comments from David Kirkby (SAC) on 9.4 (Photometric Redshifts)"
Looks good overall.  A few comments / suggestions below:

9.4.1:
 - Specifications could be more precise.  For example, is the average bias (3) calculated including the catastrophic failures (2)?  Are the requirements integrated over some n(z) or in predefined z bins?
- Add reference for Mahalanobis distance?

9.4.2:
- I guess the "interquartile range" identifies the catastrophic outliers, but thi

[2017-05-07 19:49] dkirkby opened #634 "Comments from David Kirkby (SAC) on 9.5 (Supernova Cosmology)"
This looks good overall.

My only general comment on this section is that it is not always clear (to a non expert) which types of SNe are being referred to in different subsections: all types / Ia only / Ia + IIp / ...

Minor editorial comments / suggestions:
p.231: "a low and medium redshift *sample*..."
p.231: "...from supernova light *curves* in *conjunction* with..."
p.232: "...visible over *r

[2017-05-11 17:46] MelissaGraham commented on #633
Hi David,
Thanks so much for this feedback. I made some changes based on your comments, and also some broader updates to reflect the progress that has been made on this project outside of this white paper. Responses to your comments are below, and I'll shortly initiate a pull request to integrate my changes.
Melissa

In the "Specifications" section we have now written these as slightly more genera

[2017-05-18 15:50] drphilmarshall commented on #632
Thanks, David! I agree that a table of metrics would be a very good addition to the paper. We'd talked about this before but balked at the idea of adding a layer on top of the `sims_maf_contrib` repo that did not auto-update. Perhaps we'd better just bite the bullet and agree to curate a summary table.

[2017-05-18 15:51] drphilmarshall commented on #632
@rhiannonlynne @yoachim What do you think? What's the cleanest way to link the available metrics into the observing strategy white paper?

[2017-05-18 15:57] drphilmarshall commented on #633
Thanks, both! I'll close this and head over to PR #635 to see if @dkirkby of @sschmidt23 has any further comments.

[2017-05-18 15:57] #633 closed

[2017-05-18 15:59] drphilmarshall commented on #626
Hi all - when you make your pull request with the new MW static science case, can you please make sure you refer back to this issue so we can close it out? Thanks!

[2017-05-18 16:01] drphilmarshall commented on #634
Thanks David! @jhrlsst would you like to take a shot at addressing David's comments please? Thanks!

[2017-05-18 16:03] dkirkby commented on #632
The table could be auto-generated if the code for each metric had an accompanying simple yaml (or similar) file, or you could add a virtual function `get_summary_table_row()` to the metric API ;-)

[2017-05-18 20:02] drphilmarshall commented on #624
Thanks Michael. @humnaawan @ajc do either of you know if/when dithering will be added to OpSim? Looks like a useful sentence to add to the LSS science case of the white paper. Humna, great if you could take a minute to unpack the "OS" acronym, too - thanks! :-)

[2017-05-18 20:04] drphilmarshall commented on #616
I'll fix this - thanks!

[2017-05-18 20:06] drphilmarshall commented on #631
Thanks Michael.

@ohadshemmer Can you or one of your team please comment on Charles' question please? Might be worth a note in the AGN chapter intro, or a longer paragraph in the "Further Work" section. Thanks!

[2017-05-18 20:17] drphilmarshall commented on #575
Hi everyone! As you can see, we have received lots of good feedback from our SAC and LSST Project reviewers, which is being farmed out to be addressed by the end of May. Thanks very much for helping out with this in the next couple of weeks! While you are editing your files, you might also double-check your section and chapter author lists. Thank you!

[2017-05-18 20:17] #575 closed

[2017-05-18 20:22] drphilmarshall commented on #619
Thanks Jason! (via Michael)

@jasondrhodes I agree with Kalirai (above) that the WFIRST chapter comes across a bit lop-sided - because the WFIRST team arrived, full of ideas for useful synergy but naturally starting from the WFIRST dataset. I'm not sure what to do about this: it's perhaps an indication that only a few people feel that the WFIRST data will "belong" to them. It would be great if we

[2017-05-18 20:23] drphilmarshall commented on #630
Thanks Nelson (via Michael)!

@jmeyers314 Would you mind taking a few minutes to work through Nelson's comments on the WL section and submit a quick PR with a revised version? Thank you! :-)

[2017-05-18 20:28] drphilmarshall commented on #622
Thanks for addressing Anze's comments, @jasondrhodes - I merged in your commits from #623.

Matt, David - here are Jason's queries for you again. Great if you can submit a quick PR each with any required fixes! Thank you :-)

[2017-05-18 20:29] jasondrhodes commented on #619
I will make the changes to the filter wavelengths and put in some introductory text encouraging the community to think about ways of leveraging the combined WFIRST/LSST data.  however, my understanding of the purpose of this white paper and the WFIRST section was NOT to talk about WFIRST/LSST synergy but to suggest ways that the LSST cadence or sky coverage could be modified to enhance benefits wi

[2017-05-18 20:30] drphilmarshall commented on #627
Thanks Mansi (via Michael)!

@ivezic I think you are probably best placed to address Mansi's comments - would you mind submitting a quick PR with the required fixes and then raising any remaining problems on here with (say) Beth and/or Andy? Thanks!

[2017-05-18 20:32] drphilmarshall commented on #620
Thanks Will. Jason R is taking a look at more of Jason K's comments in #619, but a note on WFIRST synergy in the Galaxy Chapter somewhere (Further Work?) woudl be good - if only to let the readers know what is possible. Regarding the other comments: if you have edits to address them, please do go ahead with a PR, or close this out! Thanks :-)

[2017-05-18 20:35] drphilmarshall commented on #628
Thanks Mansi (via Michael)!

@fedhere @ebellm Can you please take a look at Mansi Kasliwal's review of the Transients chapter, and address her comments and queries in a PR? Think of it as a miniature referee report! :-) Thank you!

[2017-05-18 20:37] drphilmarshall commented on #629
Hi Steve! I'm not sure Mansi will get back to this in time for submission of the white paper to the arxiv at the end of this month - would you mind instead adding a note in Chapter 12 along the lines she suggests, so that it is there in the text to inspire further work? Thank you!

[2017-05-18 20:38] yoachim commented on #632
No need to make extra yaml files, we already have the docstrings!
[code]
outputs `Calculate the mean of a simData column slice.` Now we get to see how well we've done writing docstrings as we went.

I'd say the MAF metrics should go in one table and any sims_contrib ones go in a second.

[2017-05-18 20:47] willclarkson commented on #620
Thanks Phil - what is the deadline to implement the static Figure of Merit
in our response to Jason's comments? If it's soon, then it might be better
to write in as a specification.

Best

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn
--
Students: please put your course number in the title of messages to me

On Thu, May 18, 2017 at 9:33 PM

[2017-05-18 20:47] drphilmarshall commented on #420
See also discussion of metrics table in #632 ...

[2017-05-18 20:49] drphilmarshall commented on #621
Hi all!

We're now a bit over a week away from our May 26th deadline for addressing all our SAC and Project reviewers' comments. Lots of pull requests have been coming in, thank you! Please keep them coming so we can get the white paper onto the arxiv in June as planned.

To find all the issues from the v1.0 submission milestone that are assigned to you, start from [this link](https://github.com/L

[2017-05-18 20:54] drphilmarshall opened #636 "Address Stubbs' feedback on Chapter 12 (Conclusions)"
Chris Stubbs provided feedback on the LSST Jira [here](https://jira.lsstcorp.org/browse/PUB-42?focusedCommentId=76123&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-76123) - @StephenRidgway @ivezic Would you be able to respond to any of Chris's 17 points? Let me know, by PR if you are feeling energetic! :-)

Thanks, Chris :-)

[2017-05-18 20:57] drphilmarshall opened #637 "Address Thomas' feedback on Chapter 1 (Introduction)"
Sandrine Thomas provided project feedback on Chapter 1 via the LSST Jira [here](https://jira.lsstcorp.org/secure/attachment/29363/WP_Section1Comments_ST.pdf). I can have a go at addressing this. Thanks, Sandrine! :-)

[2017-05-18 21:04] yoachim commented on #632
As I feared, we are a little under-documented. But it shouldn't be too painful to go through and add the strings. We can also use `pandas.DataFrame.to_latex`.

[2017-05-18 21:09] StephenRidgway commented on #636
I’m pretty grid-locked but will try to do it tomorrow.

What is PR  - another messaging system?

[2017-05-18 21:14] StephenRidgway commented on #621
OK, tomorrow.  I have not edited for some time.  Is the current doc in the same place on github and I use the same process for editing as always?

Steve

[2017-05-18 21:57] drphilmarshall commented on #612
Meg, I would be delighted to! I just sent you an invitation to the editors team, which has write/push access to this repo. Don't let the delay in assigning you this issue slow down your production of a pull request in response to Renu's comments! :-) Glad to have you on board - and congrats on the new position! :-)

[2017-05-18 22:00] rhiannonlynne commented on #632
My only comment is that this is long, as the docstrings *should* be extensive and include parameter settings. The MAF core metrics make up most of the metrics available. I guess putting a static table of them into the paper, rather than linking to a webpage, means that you will get the list of metrics available at the time of the paper. There should be a clear to-do for updating this table as the

[2017-05-18 23:24] drphilmarshall commented on #619
Good, OK - I think some notes in the introduction from you will help reposition the chapter well enough. Over time, and as LSST simulations appear that include improved coverage of the WFIRST area and campaign period, we can expect other science cases to begin to refer to synergy with WFIRST. Thanks, Jason!

[2017-05-18 23:27] drphilmarshall commented on #620
The only deadline we have as a group is Friday 26th May, to complete v1.0
of the white paper so it can be posted to the arxiv. Any analysis that
can't be done by then should be spec'ed, and then issued for later, exactly
as you say. Thanks!

[2017-05-18 23:28] drphilmarshall commented on #636
Thanks Steve! Apologies for the jargon: a "PR" is a "pull request", which
is how I've been encouraging people to make changes so that they can be
most easily visualized. If you prefer, you can also simply push to master
and let us know when you are done. Thank you!

[2017-05-18 23:29] drphilmarshall commented on #621
Yes please! Thanks very much for making time for this, Steve. Do please
make sure you do a `git pull` before you start editing your local files.

[2017-05-18 23:36] drphilmarshall commented on #632
@rhiannonlynne If the docstrings are in `numpy` format, we should be able to just take the first line of each one... @yoachim woudl you like to have a go at making the two tables you refer to, `sims_maf` and `sims_maf_contrib`? To address Lynne's point about keeping these Tables up to date, I guess we need a script that lives in the white paper folder that is called via `make metric_tables` ... Al

[2017-05-19 18:25] jasondrhodes commented on #619
I have addressed these issues and created a pull request.

[2017-05-19 21:16] drphilmarshall commented on #619
Thanks Jason! PR now merged.

[2017-05-19 21:16] #619 closed

[2017-05-20 00:16] StephenRidgway commented on #636
Hi, pulled the current draft and updated.  Not clear to me if push worked.

Steve

[dhcp-3-217:~/github/ObservingStrategy/whitepaper] Steve% git commit -am "Fix points from ChrisS/MansiK"
[master 65abef0] Fix points from ChrisS/MansiK
 1 file changed, 38 insertions(+), 49 deletions(-)
[dhcp-3-217:~/github/ObservingStrategy/whitepaper] Steve% git status
On branch master
Your branch is ahead of 'ori

[2017-05-20 00:24] rhiannonlynne commented on #636
Master is protected and you cannot push directly to master. You need to
push on a branch. Do you want some help with that? Alternative is that Phil
could unprotect master long enough to let you push, and then put it back.
On Fri, May 19, 2017 at 5:16 PM StephenRidgway <notifications@github.com>
wrote:

[2017-05-20 02:36] StephenRidgway commented on #636
Well, I followed the exact commands that worked for several years - must have been unprotected all that time - it did seem a little odd.

I’ll wait for somebody to tell me wat to do or to volunteer to do it for me.

steve

[2017-05-20 23:56] drphilmarshall commented on #636
Ah yes - sorry! I turned on protection for the master branch once we moved into this review/response phase: its easier to see what's changed in a pull request, but you do need to be familiar with branches to do that. Try the following, Steve:
[code]
I *think* this should create a branch called `ridgway-ch12-response` in the repo at GitHub, and we can then start a pull request from there. If this d

[2017-05-21 00:09] StephenRidgway commented on #636
No problem.

I executed the command you gave me:

[Stephen-Ridgways-MacBook-Pro:~/github/ObservingStrategy/whitepaper] Steve% git push origin master:ridgway-ch12-response
Counting objects: 8, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (8/8), done.
Writing objects: 100% (8/8), 1.52 KiB | 0 bytes/s, done.
Total 8 (delta 6), reused 0 (delta 0)
remote: Resolving deltas: 1

[2017-05-21 00:16] drphilmarshall commented on #636
Excellent, thanks Steve! PR is now open in #639. I'll take a look on Monday.

Regarding the "tracer population" confusion - I think @ivezic can clear this up quickly, it looks as though he left a piece of case-specific jargon in when summarizing all the responses to his Q5:

[2017-05-23 16:51] mtpenny commented on #622
Hi Phil, Jason,

Sorry, I've not been checking email too much while travelling and its hard to spot the important LSST github ones. Look for a pull request today or tomorrow.

Cheers,
Matthew

[2017-05-23 16:56] drphilmarshall commented on #622
Excellent, thanks very much Matthew!

Pro-tip: I filter my email threads for the string `@drphilmarshall` - this
helps me catch "important issues" ie the ones I am mentioned in.

[2017-05-23 21:02] yoachim commented on #632
OK, I've added in a script on a new branch. I'm not sure if it'll actually work if called from the `Makefile` due to all the stack `$PATH` requirements.

I'll let you decide how best to deal with text/tables overrunning lines/pages :)

I gave up trying to make hyperlinks when I ran into objects with no `__file__` and didn't know that could happen.

[2017-05-23 22:43] drphilmarshall commented on #632
Thanks Peter! Did you check in the tex that the script produces, too? At
this point we only need you to run the script, not me...

On Tue, May 23, 2017 at 2:02 PM, Peter Yoachim <notifications@github.com>
wrote:

[2017-05-24 13:41] willclarkson opened #641 "missing "thisversion.tex"?"
Hi @drphilmarshall -- compiling the WP gives a "file missing" error for file "thisversion.tex" .

I notice "thisversion.tex" is in the .gitignore for the repository. Is this an error, or should \include{thisversion.tex} be commented out in LSST_Observing_Strategy_White_Paper.tex ?

thanks - Will

[2017-05-24 20:26] akvivas commented on #620
Galaxy chapter has now a brief mention to WFIRST synergy in section 4.4. Some references were added accordingly. This is pull request #644

[2017-05-24 20:30] ivezic commented on #506
Added photo-z conclusions, where relevant, to the "Summary of Cadence Constraints"
section in Chapter 12.

[2017-05-24 20:30] #506 closed

[2017-05-24 20:37] ivezic commented on #614
Good comments, and it shouldn't take too much work to address them.
It seems that we should make sure that the following coauthors are aware of these comments:
- David Trilling and Lynne Jones @davidtrilling @rhiannonlynne
- Chris Stubbs @astrostubbs
- Suzanne Hawley, Ruth Angus, Jim Davenport @suzannehawley @RuthAngus @jimdavenport

[2017-05-24 20:39] ivezic commented on #618
We need to make sure that the following coauthors are aware of these comments:
Suzanne Hawley, Ruth Angus, Jim Davenport @suzannehawley @RuthAngus @jimdavenport

Please can any of you confirm that you can address Jason's comments before the deadline?

[2017-05-24 20:47] #459 closed

[2017-05-24 20:52] #460 closed

[2017-05-24 20:55] #461 closed

[2017-05-24 20:56] #462 closed

[2017-05-24 20:57] #432 closed

[2017-05-24 21:00] ivezic commented on #636
I addressed the "tracer population" comment and pushed to master using
git push origin master:ivezic-ch12-response

[2017-05-24 21:01] #434 closed

[2017-05-24 21:23] ebellm commented on #628
I think the current text in 6.4 mostly covers Mansi's points--I added a minor clarification.  I agree that improving the metrics is important but practically it will need to wait for a later whitepaper version.

[2017-05-24 22:59] ivezic commented on #627
I addressed all these comments. And updated the schedule table (fig. 1.1)
I just did:
git push origin master:ivezic-627-response

[2017-05-24 22:59] #627 closed

[2017-05-24 23:28] mtpenny commented on #622
I have submitted the pull request. @rpoleski and Dave Bennett should review the changes (they can be seen on my fork while waiting for the pull request to be accepted: https://github.com/mtpenny/ObservingStrategy).

[2017-05-25 00:31] willclarkson commented on #641
Hi Phil - I'm using "pdflatex" to compile the whitepaper, here's a few lines of output:

<begin output:>
(./LSST_Observing_Strategy_White_Paper.out)
(./LSST_Observing_Strategy_White_Paper.out)

LaTeX Font Warning: Font shape `OT1/cmr/bx/sc' undefined
(Font)              using `OT1/cmr/bx/n' instead on input line 28.

! LaTeX Error: File `thisversion.tex' not found.

Type X to quit or <RETURN> to p

[2017-05-25 00:40] willclarkson commented on #641
Aha, yes - there I see the compilation instructions in the whitepaper/README.md file, I *was* doing it wrong. When I simply type "make" as instructed, the document compiles fine. I'm closing this issue.

Sorry for the frivolous issue!!

[2017-05-25 00:40] #641 closed

[2017-05-25 05:46] drphilmarshall commented on #641
Not at all! Glad the documentation fixed the problem. I wouldn't be
surprised if this came up again though...

On Wed, May 24, 2017 at 5:31 PM, Will Clarkson <notifications@github.com>
wrote:

[2017-05-25 14:42] MichelleLochner commented on #634
@dkirkby Thanks so much for your comments! I'm submitting a pull request now which should deal with them. @rbiswas4 can you update the cadence plots with fewer decimal points on the RA and DEC?

"p.240: Why are the u-band observations clustered? Add units to both axes."
 -> To my knowledge this is a quirk of OpSim, u band is prioritised under certain conditions. Perhaps OpSim people can comment mo

[2017-05-25 14:52] MichelleLochner commented on #630
@jmeyers314 how's this going? Consider this a friendly prod from chapter editor. :)

[2017-05-25 14:53] MichelleLochner commented on #625
@drphilmarshall do you also need editor prodding? ;)

[2017-05-25 14:54] MichelleLochner commented on #624
@humnaawan or @connolly do you have a minute to quickly fix the use of OS and submit a PR?

[2017-05-25 17:18] humnaawan commented on #624
@MichelleLochner I just issued a PR with the abbreviation fix. Please let me know if there are any problems.

@drphilmarshall as far as I know, all the translational dithers are currently available through MAF Stackers; only one kind comes with the OpSim database automatically (as a result of an afterburner on the simulator output). I did some work with @SimonKrughoff and @rhiannonlynne to extend

[2017-05-25 17:31] connolly commented on #624
I'll take a look and update the text based on where the scheduler is going
with dithering (and what is currently there).

On Thu, May 25, 2017 at 10:18 AM, humnaawan <notifications@github.com>
wrote:

[2017-05-25 18:07] jmeyers314 commented on #630
Thanks @MichelleLochner --  I'll try to have a look at this tomorrow or early next week. :)

[2017-05-25 20:41] raffaellamargutti commented on #435
Hi all
thanks for all the comments to the little piece that we wrote for the white paper. The goal of the gravitational wave section is just to show that if we want LSST to play a role in the world of EM counterparts to GW, then a ToO capability is needed. I was at a workshop at Columbia 10 days ago  and I was happy to hear discussions led by Tony about the actual strategy to use to maximize the s

[2017-05-26 00:55] drphilmarshall commented on #636
Closed via #639!

[2017-05-26 00:55] #636 closed

[2017-05-26 04:24] davidtrilling commented on #614
i'm on it and will coordinate with lynne.

david

On Wed, May 24, 2017 at 1:37 PM, Zeljko Ivezic <notifications@github.com>
wrote:

[2017-05-26 04:24] davidtrilling commented on #612
i'm on this as well and will coordinate with lynne. tally-ho!

david

On Fri, Apr 21, 2017 at 8:16 AM, Phil Marshall <notifications@github.com>
wrote:

[2017-05-26 04:25] #435 closed

[2017-05-26 07:57] rbiswas4 commented on #634
@dkirkby thanks for your comments:

- p.235: 6 sig. digits on RA, DEC values in cadence plots seems overkill : `fixed`
-  p240: Why are the u-band observations clustered? Add units to both axes : `fixed`. About the u band observations: The current way of dealing with the 5 filter slots and 6 filters is that grizy is in place most of the time. In contrast, around new moon, only u band is up in the

[2017-05-26 15:40] drphilmarshall commented on #612
That's the spirit, David! Thank you! :-)

[2017-05-26 15:41] drphilmarshall commented on #625
Yes, yes I do. Thank you Michelle!

[2017-05-26 15:49] drphilmarshall commented on #622
I merged @mtpenny 's PR ( #646 ). Today is deadline day, @rubind ! Can you please edit the WFIRST tex file to address your reviewer's comments on section 11.3 please? Here they are again:

* Sentences like "(DR still working on...)" need to go.
* Spell out acronyms (CC=core collapse, LC=light curve?).
* I think discussion of why things were abandoned for WFIRST due to slew speed, etc, need not be

[2017-05-26 15:51] #634 closed

[2017-05-26 16:41] drphilmarshall opened #652 "Check `kraken_1059` u-band depth gain: 0.18 or 0.6 mag?"
@ivezic While merging in Michael Reuter's comments in #609 I found a small discrepancy in the write up of `kraken_1059` (now re-labelled everywhere as `db:DoubleUbandExptimeSameVisits`. We write that doubling the u-band exposure time while retaining the Baseline number of visits would improve the coadd depth in this filter by 0.6 mag. However, the analysis seems to show that "the main survey coadd

[2017-05-26 16:47] drphilmarshall commented on #621
HI all! Today is our deadline day for responding to our LSST reviews :-) Thanks very much for all your pull requests so far - I'll be working on merging these as they come in, as well as working on my own issues...

To see what's left for you to do, please do filter by assignee

* [all issues marked "LSST Review"](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues?q=is%3Aissue+i

[2017-05-26 16:50] willclarkson commented on #355
This seems to have been left open since last year, closing.

[2017-05-26 16:50] #355 closed

[2017-05-26 16:51] willclarkson commented on #430
I *think* all the above comments were addressed (since June 4, 2016) so am closing this issue. Thanks all -- Will

[2017-05-26 16:51] #430 closed

[2017-05-26 16:53] willclarkson commented on #375
Seems to have been addressed; closed.

[2017-05-26 16:53] #375 closed

[2017-05-26 17:00] willclarkson commented on #626
The science case is now specified Section 4.5 in the latest pull request (PR 643) - once @drphilmarshall approves that pull request, it will be in the main paper branch. I'm moving _**implementation**_ of this science case  to the "Version 2.0 Development" milestone.

[2017-05-26 17:08] pmmcgehee commented on #626
Great! Thanks for the notification.

On May 26, 2017 10:00, "Will Clarkson" <notifications@github.com> wrote:

[2017-05-26 19:12] drphilmarshall commented on #626
Good plan, thanks Will. I edited the issue title to match, feel free to change it.

[2017-05-26 19:19] willclarkson commented on #626
No, that's great, thanks!

Do you need anything more from me on Pull Request #643 (addressing Jason's
comments for Chapter 4)?

Cheers

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn
--
Students: please put your course number in the title of messages to me

On Fri, May 26, 2017 at 3:12 PM, Phil Marshall <notifications@github.com>
wrote:

[2017-05-26 20:27] connolly commented on #624
There is a PR with text on OpSim dithering plans

[2017-05-26 23:40] #448 closed

[2017-05-29 15:35] MichelleLochner commented on #625
@drphilmarshall also don't forget the figures as in #545! :)

[2017-05-29 15:36] MichelleLochner commented on #544
I think these look ok in the latest version.

[2017-05-29 15:36] #544 closed

[2017-05-29 21:10] ivezic commented on #652
Yes, there was a problem due to the fact that meanwhile MAF learned how to
properly account for the impact of readout noise. In the end, the text is simpler
now (also, we had kraken_1045 and kraken_1059 switched!).  I just did
git push origin master:ivezic-PR652-response

[2017-05-29 21:10] #652 closed

[2017-05-31 15:30] RuthAngus commented on #618
Hi all,

Thank you for these comments and I apologize for the delayed response! I have asked for some feedback from the rest of the group regarding this comment. We agreed that we would like to study multiple clusters however the reason we focused on M67 in the special survey section was because it is very slightly outside of the nominal footprint of the survey and because it would be a great deep

[2017-05-31 18:51] drphilmarshall commented on #618
Hi Ruth - Sounds like you should explain that in the text; you cold also
say that this science case could evolve into a DDF white paper, and refer
to the table in the introduction chapter. Thanks!

[2017-06-01 21:40] wmwv opened #662 "Fix Wood-Vasey author name."
@MichelleLochner
Could you kindly fix my name in `whitepaper/authors.tex` to "W. Michael Wood-Vasey".
Somehow my first initial got inserted as a middle initial in 6dab9791

[2017-06-02 09:49] fedhere opened #663 "broken link to formal requirements in intro"
Section 1.1 science requirements is linked to non-existing page
https://www.lsstcorp.org/docushare/dsweb/Get/LPM-17

www.lsstcorp.org/ is deprecated for project.lsst.org, but i think the latter is password protected

[2017-06-02 09:50] fedhere commented on #523
@eric I can take care of the other open tickets for chapter 6 but this I do not have all three sqlite.db to redo the figures (with this notebook https://github.com/LSSTTVS/WhitepaperNotebooks/blob/master/notebooks/time_gaps.ipynb)

[2017-06-02 15:17] rhiannonlynne commented on #612
In PR #660

--renu wrote:

"Since LSST will be its own follow-up machine with respect to detection and confirmation and orbit linkage for minor planets, I wondered if a brief summary of that effort by the project would be useful in this chapter."

David added a paragraph in S3.1 which i think might be okay, but i haven't
tried to make a "brief summary of that effort by the project". perhaps
this i

[2017-06-03 13:43] fedhere commented on #464
addressed most of 6.3, except

Section 6.3.1 is really interesting. Could you add a little more detail on how you did your simulations? For example, you state you generate several populations, but in what fields do you place the SNe in the OpSim run? What rates do you assume? Do you have a look at the difference between the deep drilling fields and the main survey?

I did not have the time to look

[2017-06-03 16:15] willclarkson opened #667 "Address final minor comments by Chapter 4 co-authors"
Just to put this on the radar of the overall WP editors: @willclarkson to finish minor edits to Chapter 4 following final comments by co-authors.

cc @drphilmarshall

[2017-06-03 16:17] willclarkson opened #668 "Correct Chapter 4 author affiliations"
The author affiliations for Chapter 4 still need updating. @willclarkson assigned.

cc @akvivas

[2017-06-03 16:37] willclarkson commented on #668
Whoops - I didn't see that @akvivas already did this, and it's the address-as-footnotes scheme that isn't working. Closing this issue, sorry @akvivas !

[2017-06-03 16:37] #668 closed

[2017-06-04 16:33] fedhere commented on #628
@svalenti can you respond to the 6.2 comments and push the changes to the branch where I added the figure master:bianco-ch6-response:

[2017-06-04 18:38] svalenti commented on #628
I don't think I agree with the  first comment:
"The proposed metric for median time difference between first epoch and last epoch in a given night is confusing - perhaps they meant maximum time difference?"
We do not want to take the maximum time difference between two visits, we are interested in the median time difference between two visits

[2017-06-04 18:58] svalenti commented on #628
"A zoom-in to Figure 6.4 right panel may highlight the importance of 1-day cadence instead of 3-day cadence to discover young transients (as the slopes are mag/day). Add a sentence to answer A2?"
Instead of a zoom-in in Figure 6.4, I think figure 6.5 (right panel) is the right point to stress how much one day cadence is important. but, I think we need to change the answer to A2: "Two visits/night

[2017-06-04 19:16] svalenti commented on #628
"It is not clear why they say that such a search should avoid the ecliptic plane (I would guess the ecliptic latitude is irrelevant). The statements here are confusing."
I think we should rephrase the sentence:

"This criteria could be limited to the extragalactic sky,  away from both the ecliptic plane and the galactic plane, where recovery of Solar System objects puts less strain on the cadence

[2017-06-04 20:04] svalenti commented on #628
The suggestion on deep drilling fields is not clear as there is no calculation of rates to support this statement.
We do not speak about rates, but we only mention that a cadence of 4-5 days (the DDF cadence today) is good only for transients that vary on a time scale larger than 4-5 days.

I suggest a small change in the text:
"Furthermore, we note that the currently envisioned deep drilling cade

[2017-06-05 01:39] fedhere commented on #628
incorporated stefano's response, I am closing this

[2017-06-05 01:39] #628 closed

[2017-06-05 01:40] fedhere commented on #523
done and pull request reviewed.

[2017-06-05 01:40] #523 closed

[2017-06-05 01:41] #433 closed

[2017-06-05 14:49] willclarkson opened #671 "Which branch for pre-arXiv corrections & updates?"
Hi @drphilmarshall - I've made a number of edits to Chapter 4 following recent comments from co-authors, which I would like to be included in the arXiv submission version. I have submitted those so far as pull request #665 to the **master** branch. I believe they need review before merging (I don't currently have merge privileges).

However I'm now worried I've sent these to the wrong branch, as I

[2017-06-06 04:32] #582 closed

[2017-06-06 04:32] #662 closed

[2017-06-07 00:27] fedhere opened #673 "fig 6.10 x label is cropped"
the X-label of for 6.10 is cropped (the g's look like o's) and it is very low res. Can we replace it w a high res version cropped properly? (also, color is not necessary for this figure. I think  gray would be more easily readable.)

[2017-06-09 17:25] ebellm commented on #673
Fixed in #645, which is still awaiting a review and merge...

[2017-06-09 17:25] #673 closed

[2017-06-11 14:59] #632 closed

[2017-06-11 15:01] drphilmarshall opened #675 "Make all refs to metrics be hyper refs to metrics table"
A nice scripting task, to be done after all other PRs are merged (to minimize conflicts).

[2017-06-12 04:21] #611 closed

[2017-06-12 04:21] #615 closed

[2017-06-12 04:21] #616 closed

[2017-06-12 04:21] #637 closed

[2017-06-12 05:09] #499 closed

[2017-06-12 05:21] #663 closed

[2017-06-12 05:52] #604 closed

[2017-06-12 05:53] drphilmarshall commented on #604
Thanks for the link, @timj. I ended up going with [yahapj.bst](https://github.com/AASJournals/yahapj), for its more compact hyperlinks in the references list. Good that you pushed for this, it's much better to have the links in there.

[2017-06-12 05:54] drphilmarshall commented on #612
Thanks, Lynne!

[2017-06-12 05:54] #612 closed

[2017-06-12 05:55] drphilmarshall commented on #624
Thanks all! Let's close this out then.

[2017-06-12 05:55] #624 closed

[2017-06-12 05:57] #667 closed

[2017-06-12 05:58] drphilmarshall commented on #671
Thanks Will! I think I did the right thing by merging your PR (#665) just now.

[2017-06-12 05:58] #671 closed

[2017-06-12 06:04] #545 closed

[2017-06-13 13:08] RuthAngus commented on #618
Hi Phil, sure - I'll update the text. What is the deadline on this? I have a busy couple of weeks coming up!

[2017-06-27 22:51] ebellm commented on #464
I addressed the bulk of these comments in the PR; @fedhere, can you review for me?

[2017-08-12 04:56] drphilmarshall commented on #621
Apologies for the slew of issue notifications that's about to start! I have finally found some time right before the Tucson meeting to close out the final review issues and get the v1.0 white paper submitted. I think I can just do it, and Beth and Zeljko have signed off, so here we go - I'll close this one out when the review issues are all closed, and then find somewhere else to post the arxiv li

[2017-08-12 05:03] #417 closed

[2017-08-12 05:03] #418 closed

[2017-08-12 05:03] #419 closed

[2017-08-12 05:03] #421 closed

[2017-08-12 05:03] #422 closed

[2017-08-12 05:03] #423 closed

[2017-08-12 05:03] #424 closed

[2017-08-12 05:03] #426 closed

[2017-08-12 05:03] #427 closed

[2017-08-12 05:03] #429 closed

[2017-08-12 05:03] #437 closed

[2017-08-12 05:03] #438 closed

[2017-08-12 05:03] #439 closed

[2017-08-12 05:03] #443 closed

[2017-08-12 05:03] #444 closed

[2017-08-12 05:03] #446 closed

[2017-08-12 05:03] #447 closed

[2017-08-12 05:03] #449 closed

[2017-08-12 05:03] #450 closed

[2017-08-12 05:03] #451 closed

[2017-08-12 05:03] #464 closed

[2017-08-12 05:03] #469 closed

[2017-08-12 05:03] #527 closed

[2017-08-12 05:03] #528 closed

[2017-08-12 05:03] #534 closed

[2017-08-12 05:03] #173 closed

[2017-08-12 05:03] #184 closed

[2017-08-12 05:03] #398 closed

[2017-08-12 05:03] #403 closed

[2017-08-12 05:03] #405 closed

[2017-08-12 05:45] #420 closed

[2017-08-12 05:45] #431 closed

[2017-08-12 05:48] drphilmarshall commented on #463
I think it's only the Galaxy chapter that numbers its FoMs - I think we can punt this to v2.

[2017-08-12 05:48] drphilmarshall commented on #384
Swiss cheese is old hat, closing.

[2017-08-12 05:48] #384 closed

[2017-08-12 06:06] drphilmarshall commented on #617
OK, I implemented Jason's reorganization, and then pasted his review comments into the appropriate places in the tex, to be fixed in v2.

[2017-08-12 11:59] drphilmarshall commented on #613
Thanks both - I just went through Niel's feedback in the remaining parts of the chapter and either addressed them or noted them in the latex as comments, for you to address in v2. I'll leave this issue open there, with a red label so you can find it easily.

[2017-08-12 12:58] #625 closed

[2017-08-12 13:04] #631 closed

[2017-08-12 13:05] drphilmarshall commented on #631
OK, I added a comment at the end of the chapter discussion, as part of an invitation to think about more AGN science cases :-)

[2017-08-12 13:18] drphilmarshall commented on #630
Thanks Josh! I've pasted in Nelson's remaining feedback into the comments of the tex file, to be considered during v2 development, and will label accordingly. The overlap with WFIRST in the early years is something that needs more work in general.

[2017-08-12 13:27] #618 closed

[2017-08-12 13:29] drphilmarshall commented on #618
OK, I added Jason's review feedback as a comment in the latex, and added a note in the text based on Ruth's message. The work to extend the science case to multiple clusters needs issuing as part of v2 development - I'll leave that to the section authors!

[2017-08-12 13:37] drphilmarshall commented on #629
@StephenRidgway I inserted Mansi Kasliwal's comment about blue and red rolling cadence into the rolling cadence item in the Conclusions chapter, as follows:

I think we may need to propose the OpSim experiment ourselves, can you make a note to track this when rolling cadence simulations are being designed, please? Thanks!

[2017-08-12 13:39] #629 closed

[2017-08-12 13:41] drphilmarshall commented on #620
Looks like this Jason's review has been addressed - thanks both!

[2017-08-12 13:41] #620 closed

[2017-08-12 13:48] #622 closed

[2017-08-12 13:48] drphilmarshall commented on #622
Clean-up was indeed straightforward, Jason had done a good job. Thanks all!

[2017-08-12 14:27] drphilmarshall commented on #614
I see David and Lynne's changes, thanks! I added some explanatory text at the start of the chapter to mitigate hodgepodginess, and cross-referenced the twilight solar system survey with Stubbs' more general twilight observing section. I think this should pass muster now! Thanks everyone.

[2017-08-12 14:28] #614 closed

[2017-08-12 15:12] #675 closed

[2017-08-12 23:44] jmeyers314 commented on #630
Hey Phil,  I just realized that it seems like I haven't actually merged my fork of this back into origin.  What's the procedure for doing that?

[2017-08-12 23:52] jmeyers314 commented on #630
Think I figured it out.  There's now a PR waiting for somebody to approve/merge.

[2017-08-13 21:55] drphilmarshall commented on #630
Thanks Josh - ill take a look while preparing the arxiv submission!

On Aug 12, 2017 16:52, "Josh Meyers" <notifications@github.com> wrote:

Think I figured it out. There's now a PR waiting for somebody to
approve/merge.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/630#issuec

[2017-08-14 02:21] StephenRidgway commented on #629
Phil, I am continuously tracking progress on simulations, with special interest in rolling cadences.  As the number of parameters  increases (esp different cadences for different filters) the order of complexity increases also - it will be essential to guide the requested simulations as it will not be possible to explore all of parameter space.

[2017-08-14 10:15] #621 closed

[2017-08-14 10:38] drphilmarshall opened #679 "Report to SAC on white paper v1.0 release"
v1.0 of the LSST Observing Strategy white paper has now been released and submitted to the arxiv! Thanks very much for all your hard work on this project - it's been a long haul to get to here, but your work will be advertized on astro-ph in Tuesday's posting (I think - I'll post the arxiv link in this thread and on the README when I've got it).

Notes:

* I made a [v1.0 release](https://github.co

[2017-08-15 04:14] drphilmarshall commented on #679
Dear all,

Two quick updates on the report I gave the SAC this morning:

* The LSST Observing Strategy white paper is now on the arxiv at https://arxiv.org/abs/1708.04058

* We heard at the open Science Advisory Committee meeting today that a single call for proposals (for DDFs and mini-surveys) _might_ make sense - we can just update the timeline figure and introductory text if that is the chosen

[2017-08-15 04:14] #679 closed

[2017-08-17 13:03] MichelleLochner opened #680 "Add this reference to the introduction"
https://arxiv.org/abs/astro-ph/0407201

[2017-08-22 11:47] rlcs1 opened #681 "Comments on 6.2 (Young Transients) and relationship to 6.4 (GRBs)"
Initially I noted that the cadence/filter wishlist for 6.2 differed from that in 6.4 and thought it was inconsistent.
It took me another read-through to see that GRB afterglows (6.4) are not treated in the Young Transients section (6.2), although are mentioned in the second sentence of that section and we do want to get onto them while they are young, so perhaps that needs a statement to clarify/e

[2017-08-22 18:55] drphilmarshall commented on #681
Thanks very much for the feedback, Rhaana!

@fedhere @svalenti @ebellm Looks like there's a few small things that need clarifying in sections 6.2 (young transients) and 6.4 (GRBs). Would you mind please taking a look and lightly editing to the point where past Rhaana woudl not have been confused? Thanks!

[2017-09-11 21:34] danielsf opened #683 "Poll: can we drop Python 2 support in LSST Simulations code?"
I apologize for using this repo for my own nefarious purposes, but this seemed like the best way to reach you all.

By 2020, most of the third-party packages we know and depend on (Jupyter, astropy, etc.) will have officially dropped support for Python 2 and will release in a Python 3-only mode.

http://www.python3statement.org/

We (LSST) are also discussing dropping support for Python 2 in the n

[2018-04-03 12:59] fedhere opened #686 "change link to DDF 2011 proposals"
Section 2 footnote 3 links to url{https://community.lsst.org/t/deep-drilling-whitepapers/732} which is a discussion board featuring a link to the DDF proposals which is now  defunct (RIP)
Since it may not be easy to change the community post (which is a discussion with Q/A) we should directly include the link to the DDF 2011 proposals that are now hosted at https://project.lsst.org/content/whitepa

[2018-04-04 07:58] rpoleski opened #687 "Masses of planets detected by WFIRST"
LSST observations of WFIRST microlensing field give unique opportunity to directly measure masses of free-floating planets. These observations will give us additional information on bound planets as well.

[2020-02-20 00:42] rhiannonlynne commented on #683
This has been done. Python 3!

[2020-02-20 00:42] #683 closed

[2021-07-02 11:52] egawiser commented on #128
Closing this ancient issue, although the idea is worth revisiting now that we know the final focal plane arrangement, since this will depend on CCD QE as well as filter gradients.

[2021-07-02 11:52] #128 closed

[2021-07-02 11:56] egawiser commented on #576
Closing this ancient issue, which has now been addressed in various white papers.

[2021-07-02 11:56] #576 closed