[2015-11-19 22:15] drphilmarshall opened #173 "What were the Deep Drilling Field / Special Survey proposals in the Tier 1 OpSim Runs?"
Chapter 2 needs updating to document the DDF/SS proposals that were included in the set of OpSim runs we are using (the ones in the table in Ch. 2). Kem says that this is all included in the "confluence page" so this issue should be easy to resolve! Assigning to @ivezic but will re-assign to Kem if I can find his GitHub address.

[2015-11-19 23:08] drphilmarshall opened #175 "Deep Drilling Field / Special Survey Re-organization"
* [x] Comment out DDF chapter @drphilmarshall
* [x] Put discussion of the existing DDFs into each science section - how useful are they for your science? Needs diagnostic metrics by science teams. This seems to have happened naturally!
* [X] Commissioning discussion in each section? No. Few sentences in introduction @michaelstrauss

Optional extras:
* [ ] Extend Special Surveys chapter to cover pr

[2015-11-19 23:26] drphilmarshall opened #177 "Magellanic Clouds in its own chapter"
After discussion with @knutago and @dnidever , we conclude that this is worth a look. There are enough MC science projects to justify a chapter, and they may have figures of merit in the baseline cadence that are not so terrible as to avoid computing them until a special survey is included in an OpSim run. So, let's define MC science metrics, run them on  `enigma_1189` and see how bad they are - a

[2015-11-19 23:27] AshishMahabal opened #178 "Rolling cadence on the cheap ... will this work?"
Is it possible to use OpSim to generate different rolling cadence in different parts of the sky? If yes, we could combine that with CatSim and model light-curves to recover a set of different types of objects through their realized light-curves at all those different cadences in one go.

The all-sky metrics won't make sense for such a simulation, but they don't have to (we won't use them).

@fedhe

[2015-11-19 23:47] ebellm commented on #67
Okay, I have drafted some text and will now turn to a zeroth order MAF analysis.  Because these are cosmological the maf.metrics.TransientsMetric is not really the right way to do this (time dilation matters, brightnesses change, rates evolve with redshift), but it's at least achievable by tomorrow.

[2015-11-20 00:19] willclarkson opened #182 "Re-ordering of Milky Way chapter 2015-11-19"
Outcome of discussion at Tucson (Thurs 2015-11-19): re-ordering of Milky Way chapter around science cases that are relatively well-developed by this point, and (in principle) straightforward to turn into metrics. Many metrics will likely call on those developed by Variability chapter team (both periodic and non-periodic). @akvivas @cbritt4 @ctslater @willclarkson @bethwillman @caprastro @dnidever

[2015-11-20 00:33] akvivas commented on #182
Ok... new skeleton for the chapter is in place. There are individual files for each subsection in the MilkyWay subdirectory. You can start editing!

[2015-11-20 00:35] willclarkson commented on #182
Kathy - excellent, thanks!!!

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn
Students: please put your course code in the
title of emails to me
(ASTR330 or PHYS 150 lab or discussion).

On Thu, Nov 19, 2015 at 7:33 PM, Kathy <notifications@github.com> wrote:

[2015-11-20 00:43] fedhere commented on #67
outstanding!

On Thu, Nov 19, 2015 at 4:48 PM, Eric Bellm <notifications@github.com>
wrote:

--

 /\|/\
   |*  Please consider the environment before printing this e-mail

[2015-11-20 00:48] drphilmarshall commented on #177
@dnidever Can you please look over the new-look Magellanic Clouds chapter, and its cross-linking to the special surveys chapter? If you're happy with this re-org, you can close this out.

[2015-11-20 00:51] #41 closed

[2015-11-20 00:55] willclarkson commented on #182
Hi @cbritt4 @caprastro - just FYI, we have a backup copy of the older MW_Plane.tex that Jay and Chris have worked on, and which was committed again by Chris just before the refactoring. One of my jobs is to update the refactored section 4.3 with parts of those science cases. So we have not lost all your work! Cheers -- Will

[2015-11-20 00:55] drphilmarshall opened #184 "Magellanic Clouds chapter needs science sections, figures of merit"
@knutago @dnidever I just closed the old issue about sections in the special surveys chapter ( #41 ) , because we now have this new MC chapter to work in. It still needs sections, though!

For each of your science projects (which I think are not actually written down accurately in the chapter at this point, please make a copy of the `section_template.tex` file and fill in the subsections. Most imp

[2015-11-20 01:10] drphilmarshall commented on #182
Good good! I notice that one of your sections (Mapping the Milky Way with Positions, Proper Motions, and Parallax) is not like the others (Disk, Bulge, Halo, Local Volume). Presumably the content of the old chapter 5 will get divided among the other 4 science sections, and a fraction of it will get quantified with metrics? I will go ahead and remove Chapter 5.

[2015-11-20 01:17] #150 closed

[2015-11-20 01:18] #148 closed

[2015-11-20 01:19] drphilmarshall commented on #48
Looks like this is getting addressed in #182. Closing here!

[2015-11-20 01:19] #48 closed

[2015-11-20 01:19] #31 closed

[2015-11-20 03:17] drphilmarshall commented on #40
Big decision today: abandon the DDF chapter! Individual science sections will analyze the implemented DDFs, and the special surveys chapter will include discussion of further proposed DDF projects. Let us know your thoughts, @nielbrandt !

[2015-11-20 03:17] #40 closed

[2015-11-20 05:01] nielbrandt commented on #40
Hi,

This seems reasonable to me. Please do consider all the DDF ideas
in the DDF white papers, and not only those that have currently been
implemented in OpSim. A lot of effort went into the good ideas in
those white papers, and sadly they have been underutilized in my
opinion.

And, as I've mentioned several times before, it will be helpful to
have some clarity when possible about how future dec

[2015-11-20 05:55] drphilmarshall opened #191 "IMPORTANT: All forks and clones need deleting and remaking ASAP"
Hi @LSSTScienceCollaborations/observing-strategy-white-paper-editors @LSSTScienceCollaborations/maf-workshop-organisers,

I've seen a couple of very nasty conflicts today, resulting from the necessary deep removal of the PDF file. I had to redo this excision, and some fiddling around to repair some damage caused by (I think) a `git push --force`. To avoid this sort of thing happening again, can yo

[2015-11-20 06:05] willclarkson commented on #191
Thanks Phil - one question:

"If you are working in a fork:
1. Delete your fork (in its "Settings" menu)
2. Make a new fork
3. Clone this to your local machine, renaming (or better, replacing
completely) your old clone. Work in that."

By "Delete your fork," am I correct that this is the "Delete this
Repository" button in the "Danger Zone" at the bottom of the fork
"Settings" page? The warnings th

[2015-11-20 06:11] drphilmarshall commented on #191
I know, it sounds bad, but it has to be done. If you have files in your
fork (and hence also on your local machine) that have uncommitted or
unpushed changes, you'll need to re-edit those in manually once you have
made a fresh fork and clone - that's why you need to rename your local repo
to something like "ObservingStrategy-broken" or something before making the
new clone. As long as you have you

[2015-11-20 09:34] moniez commented on #68
Hi Knut,

please find the LaTeX  ingredients (one .tex file plus 4 pdf figures). I intended to insert them as a section according to
the latest Phil’s mail, but if you think this is more efficient, I can interact later for finalization. I think that the synergies sub-section
probably deserves to be developed.
	Yours.       Marc

PS: remember the time difference between Paris ans USA, to account fo

[2015-11-20 15:56] StephenRidgway commented on #154
Added a short section of "future directions", suggesting several metrics that could be useful in diagnosing the effectiveness of rolling cadences.

[2015-11-20 16:43] MichelleLochner opened #196 "Large scale structure section"
@egawiser @rhiannonlynne @other authors... I think quite a lot of work on the large scale structure section and metric has already been done (Awan et al. in prep it says), can you try and put some of this in the white paper today? Particularly the metric description and the figures referenced in that section. Can we get Humna Awan on github to do this?

[2015-11-20 16:50] MichelleLochner opened #197 "Weak lensing section"
@StephenRidgway et al. Please update the white paper with any work you guys have done on the weak lensing metrics. What are the most important issues still remaining here and who can we get to help with them?

[2015-11-20 16:55] MichelleLochner opened #198 "Photometric redshifts and/or clusters section"
Should we add a section on clusters in the white paper and if so, what metrics (if any) do we need for this section? Who will write it? Also, should we add a photometric redshift section and metric? I personally think this is missing from the white paper as it affects basically all cosmology cases and I think can be quite strongly affected by observing strategy. What do others think?

[2015-11-20 17:33] drphilmarshall commented on #191
Hi all,

So far so good this morning - I have only heard one report of a terrible conflict when pulling from the base repository. I think the problem was actually caused by a regular push (not forced), but from a polluted repository that had the old PDF history still in it. The lesson for us now is: *please don't push directly to the base repository until you have first tried to pull from it!* If

[2015-11-20 17:33] #191 closed

[2015-11-20 17:36] AshishMahabal commented on #178
During the discussion last night it was suggested that while such a thing could be done in principle, it may be better to do full-fledged proper Sims for each cadence we are interested in, rather than do multiple ones in the same Sim distributed across the sky.

[2015-11-20 17:37] #178 closed

[2015-11-20 17:53] willclarkson opened #201 "Galaxy chapter 4.3: populations in the plane"
@caprastro @cbritt4 - Can one of you take a look please at the strawman metrics currently suggested in Section 4.3.2? We also need to come up with figures of merit (scalings based on assumed populations)... do those exist for the compact binary populations currently in there? The list of science cases I selected for "plane populations" science can be found at the beginning of Section 4.3.1.

Thank

[2015-11-20 17:55] drphilmarshall commented on #197
@jmeyers314 Has been the main contributor from WL. The main issue is to
define an overall figure of merit (ie a proxy for dark energy parameter
accuracy) which captures all the important aspects of observing strategy.
Key things to think about will be: photo-z accuracy (metric to be created!)
and Neff at least. Neff is important for checking that the WL precision
stays high, as the main survey get

[2015-11-20 17:59] willclarkson opened #202 "Galaxy chapter 4.3: Figure of merit for Dust"
@pmmcgehee - Can you take a look at the strawman metric for Dust currently in Section 4.3.2 please?

Additionally, we need a figure of merit at least to first-order for the ISM dust... it sounds like something as simple as magnitude and color precision across the filters, propagated through into errors in derived parameters as you suggest, would be a reasonably straightforward figure of merit.

Is

[2015-11-20 17:59] StephenRidgway commented on #197
I contributed paragraphs on randomization of optics angles, which is in, but nothing since.

[2015-11-20 18:00] drphilmarshall commented on #198
I agree that photo-zs are very important to include. The WL and LSS groups
(and basically everyone else in DESC) should be highly motivated to check
that the proposed strategy will deliver the required photo-z accuracy,
including after 1 year, 3 years etc, and also in the WFIRST, Euclid and
other redshift survey areas that might be being considered for photo-z
calibration. It would be bad if these

[2015-11-20 18:05] connolly commented on #198
@sschmidt23 and @janewman I'm working on an accuracy vs m5 depth photoz
performance calculation. Hope to have something interesting later today.
Would be good to decide if we want to modify the current metrics for photoz
(scatter, bias, fraction of outliers) and their thresholds.

cheers
Andy

On Fri, Nov 20, 2015 at 10:00 AM, Phil Marshall <notifications@github.com>
wrote:

[2015-11-20 18:09] willclarkson opened #203 "Variables / Galaxy overlap: existing framework for periodic variable recovery"
@lmwalkowicz and @AshishMahabal - We (@akvivas, @willclarkson and the Milky Way folks) would like to know a bit more about the framework you currently have for recovery of periodic variables, since a number of our metrics will likely depend on them. (We expect that many of our metrics would call your metrics, see e.g. the current version of Section 4.3.2 for examples.)

When you get time, could yo

[2015-11-20 18:11] willclarkson opened #205 "Explosive Transients / Milky Way overlap"
Hi @bellm and @fedhere - We (@akvivas, @willclarkson and the Milky Way folks) would like to know a bit more about the framework you currently have for recovery of nonperiodic variables, since a number of our metrics will likely depend on them. (We expect that many of our metrics would call your metrics, see e.g. the current version of Section 4.3.2 for examples.)

When you get time, could you poin

[2015-11-20 18:25] willclarkson opened #206 "Galaxy chapter 4.1: Intro/big picture"
@akvivas @bethwillman @caprastro @ctslater @pmmcgehee @ivezic - when you get a chance, can you take a look at the new Section 4.1 please? We edited it substantially since about 7pm Thursday to make it a bit more compliant with the overall document, and to try to reinforce the point that the reader who feels their own science is being given insufficient attention is more than welcome to get in touc

[2015-11-20 18:31] lmwalkowicz commented on #203
hey @willclarkson, @lundmb is currently working on our mess-of-a-section about existing periodic-stuff-related metrics. Mike any updates here? As I understand them currently, most of the extant metrics quantify how survey deployment affects one's ability to recover a period-- e.g. what aliases are introduced into the periodogram of a given object by the observing strategy. So in other words, they

[2015-11-20 18:53] janewman-pitt-edu commented on #198
There are two separate parts of the photoz issue.

One impact is variation in depth and zero point imprinting on LSS.  I'm working with Sam and Eric (as well as a student at Pitt) to try to assess relative impact of the different bands on this (by getting random forest importance weights for the different bands), allowing Eric's single-band power spectra to be propagated into something related to

[2015-11-20 19:09] lundmb commented on #203
I'm in the process of adding more detailed descriptions in the variables section for the metrics that we have, as well as including the MAF results for each of these metrics using the enigma_1189 cadence.

The quick rundown of the metrics in question:
Periodogram Purity Function: Established in detail in a paper of mine here: http://arxiv.org/pdf/1508.03175v2.pdf
The Periodogram Purity Function is

[2015-11-20 19:18] willclarkson commented on #203
@lmwalkowicz and @lundmb - thanks, this helps!! @lundmb , am I correct in thinking that the metrics you mention are implemented in the LSST-nonproject/sims_maf_contrib/mafContrib subdirectory on github?

[2015-11-20 19:41] willclarkson opened #211 "Galaxy chapter 4.6: FOMs and metrics to be coded"
Hi @yoachim - following our discussion, I believe you intend to code up some of the figures of merit / metrics that were communicated in the old Chapter 5. Also for interest: @akvivas @caprastro @bethwillman

A lightly edited version of that material (including description of the figures of merit) is now part of the new Chapter 4. It's currently the final section in chapter 4 (which will probably

[2015-11-20 20:04] lundmb commented on #203
Yes, they're located there; I'm going to be including figures showing the output for them, as well (The only one I'm still running is the Period Deviation Metric)

[2015-11-20 20:36] drphilmarshall opened #215 "Rolling cadence notes in the "Special Surveys" chapter"
Hi @StephenRidgway - I think I heard this morning that a better place for the Rolling Cadence discussion might be the Special Surveys chapter, at the end of the white paper (since I don't think there will be any suitable OpSim databases for a while). I think it's likely we will rename the Special Surveys chapter to "Proposed Surveys" or something, and I think using a fraction of visits to enhance

[2015-11-20 20:38] StephenRidgway commented on #215
I agree, sounds good.

[2015-11-20 21:38] knutago commented on #76
Ok, so here is an iPython notebook which shows a basic version of the CrowdingMetric.  Still need to add Magellanic Clouds and background galaxies: sims_maf_contrib/tutorials/CrowdingMetric.ipynb

[2015-11-20 21:45] willclarkson commented on #76
Knut this looks really great!!! We (Milky Way folks) will likely be asking
a little more about this in the near-ish future...

Great stuff,

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn
Students: please put your course code in the
title of emails to me
(ASTR330 or PHYS 150 lab or discussion).

On Fri, Nov 20, 2015 at 4:38 PM, knutago <not

[2015-11-20 21:46] #32 closed

[2015-11-20 21:50] rhiannonlynne commented on #173
@kem0cook

[2015-11-20 22:43] drphilmarshall commented on #149
Hi @sethdigel - would you mind making sure that your web-visible hourly build at SLAC is working? I worry that that repo may not be pulling cleanly from the base repo, since I re-wrote its history... The solution is to make a fresh clone. Thanks!

[2015-11-20 23:33] drphilmarshall commented on #177
Hey @dnidever good seeing you these last two days! While cleaning up the AGN chapter with Ohad I fixed the Magellanic Clouds chapter again - see what you think. The idea is to put all the mini survey stuff in the Special Surveys chapter, and keep the Magellanic Clouds chapter focused on the Magellanic Clouds science. I'm going to close this out now - but let's continue chatting on the "new section

[2015-11-20 23:33] #177 closed

[2015-11-20 23:35] drphilmarshall commented on #184
Hey @knutago good to see you in Tucson! I just closed #177 as you now have an MCs chapter (re-implemented properly after the history re-write). The next thing to do is to make a section file for each of your science sections, and focus on the figure of merit associated with each of these science projects. Now you have a nice crowding metric, you need to use it in a figure of merit proxy! :-)

[2015-11-20 23:37] drphilmarshall commented on #175
@nielbrandt thanks for the feedback! Would you like to have a go at summarizing the outstanding DDF suggestions (ie, those that have not been implemented in the tier 1 / chapter 2 OpSim runs) in a `\section` of this "Special Surveys" Chapter? @michaelstrauss has offered to help too. Thanks!

[2015-11-20 23:38] drphilmarshall commented on #169
Alright! Great job at the Tucson workshop, T&V chapter editors! I think you have earned the title with your hard work. And also thank you Mike, for your excellent contributions despite being passed over for the top job ;-) Good luck with your respective recruitment drives, let me know if I can help at all.

[2015-11-20 23:38] #169 closed

[2015-11-20 23:50] drphilmarshall opened #219 "Post-Tucson Issue Clean-up"
Dear Chapter editors:

Thanks for all your efforts in Tucson! You and your teams made a ton of progress, it was brilliant to see the paper transforming into a coherent, presentable set of science projects :-) Let's keep up the momentum: if we are going to hire some LSST publications board reviewers in early December so we can go through their reports on the Sunday/Monday before the AAS meeting, we

[2015-11-21 00:36] egawiser commented on #219
Thanks, Phil, for pushing all of this forwards!  For those who weren't there in person for the wrap-up, could you please describe the "meet before AAS" plan in more detail (email is fine)?

[2015-11-21 00:39] sethdigel commented on #149
Ok, done.  It is working again.  Is rewriting the history of the repository likely to happen often?

[2015-11-21 19:32] drphilmarshall commented on #149
Hopefully not - but we are only one push away from it, until everyone has
replaced all their clones and forks with the PDF-free version. Fingers
crossed that people are paying attention, and making sure that their repo
is under 100Mb in size. Thanks Seth!

PS. Note to self: don't ever check in the PDF file of a latex project. Ever!

On Fri, Nov 20, 2015 at 5:39 PM, Seth Digel <notifications@github

[2015-11-22 21:02] drphilmarshall opened #222 "arXiv posting timeline"
Hi @LSSTScienceCollaborations/observing-strategy-white-paper-editors @LSSTScienceCollaborations/maf-workshop-organisers ,

At the end of the Tucson face-to-face meeting, those of us in the room tentatively agreed on the following plan for posting the white paper to the arXiv. This needs digesting a bit, because we are talking about doing something rather different to standard practice in astronomy

[2015-11-22 21:05] drphilmarshall commented on #219
Hi @egawiser - I thought your question deserved a fuller response, now posted in #222 . Great to hear your thoughts on it over on that thread.

All: have fun closing out your issues! :-)

[2015-11-22 21:34] drphilmarshall opened #223 "Check "Guidelines for Authors" for confusing wording"
Especially sentences taken out of context. e.g., “Each section can be thought of as an observing proposal, demonstrating the performance achievable given various assumptions about the time awarded.” This explanation been helpful to me when I've been communicating the white paper design to its initial set of editors and contributors - but I can see how it might cause confusion to new contributors w

[2015-11-22 21:37] rbiswas4 commented on #222
Could I ask for a clarification about the pre-AAS meeting. If the above plan is followed, can you clarify if the arrangements for the pre-AAS meeting would be outside AAS (ie. will *not* require registration at AAS which I think will be preferable.) The next deadline in AAS registration seems to be Dec 15, and it might be helpful to know the answer well before then.

[2015-11-22 21:41] bethwillman commented on #222
Hey Phil

As a longtime member of the Publication Board, I think it's inappropriate to send a paper to the pub board before its in the final form before posting on arXiv (or another public forum).

Was there explicit discussion of this on Friday?

Beth

Sent from my iPhone

[2015-11-22 23:18] rhiannonlynne commented on #222
I agree with Beth about the pub board. I think I misunderstood the plan, I
had thought that what would be advertised at the AAS was the current (in
progress) github repo, rather than an arxiv/pub board reviewed paper.

On Sun, Nov 22, 2015, 2:41 PM Beth Willman <notifications@github.com> wrote:

[2015-11-23 00:20] StephenRidgway commented on #222
I understood the reason for contacting the pub board to be that the objective of reporting the paper for the AAS conflicted with updating the metric numbers with a rerun of all  relevant simulations, and an assumed review time of 3 weeks, and the only way to work it was to coordinate with the pub board - (I inferred this could mean to review the paper with the old numbers and update the numbers la

[2015-11-23 01:28] drphilmarshall commented on #222
Good that we are having this discussion! I asked @burchat for clarification about the LSST publication policy for papers that are being developed in the open (like this one is), but, @bethwillman, it sounds as though you have the answer already, that LSST review will be required before we post to the arxiv. There was discussion of this at the end of Friday: there was some (but as it turns out, not

[2015-11-23 01:34] ivezic commented on #222
I think it is likely that this paper would fall under the purview of the LSST Project Publication Policy.
There are a few detailed policy questions that might have ambiguous answers and I will discuss
them with the Project Science Team tomorrow. I will provide further details here when available.

[2015-11-23 14:59] MichelleLochner commented on #222
Thanks for opening the discussion on this on github @drphilmarshall, it's helpful for those of us who weren't at the meeting! I personally do think all sections need to be in a relatively complete form in terms of science cases, how we expect observing strategy to affect them qualitatively and at least, as you said, some discussion of how a relevant metric would be implemented, with an actual code

[2015-11-23 22:27] sschmidt23 commented on #198
I think Jeff summarized things well, though Phil's statement that once PZ requirements are characterized it will be easy to propagate to Clusters makes me want to add the caveat that Joe Zuntz brought up at the Argonne meeting, namely that the general PZ statistics will not be the same as those for the specific science cases because each science case will have specific selections on top of the gen

[2015-11-24 15:15] #121 closed

[2015-11-24 15:16] #122 closed

[2015-11-24 15:16] akvivas commented on #88
Closing this one since it is not within the current structure. May be re-opened later if needed.

[2015-11-24 15:16] #88 closed

[2015-11-25 00:44] ShashiKanbur opened #224 "Adding text to the whitepaper"
Hello, I created a fork and have have added some text to the variables.tex file - mainly some additional science projects that could be done with LSST data. My fork has my name, Shashi Kanbur in its label. Can people see it? I think I have initiated a pull request. I wanted to ask what is the next step? Will I be notified if the pull request is fulfilled? Any advice would be helpful Im a novice at

[2015-11-25 01:13] StephenRidgway commented on #224
Hi, thanks for contributing!  We will probably have to wait for Phil to decode the git status, as I see your additions have not yet propagated to the master.

[2015-11-25 03:48] drphilmarshall commented on #224
Hi Shashi! Thanks for your edits. I haven't seen a pull request from you yet, it will appear in [this list](https://github.com/LSSTScienceCollaborations/ObservingStrategy/pulls) when it's gone through properly.  Once @AshishMahabal and @lmwalkowicz see your PR, they will check it and respond, probably just merging it - and you will be a contributor :-)

[2015-11-26 01:13] jhrlsst commented on #149
I see two errors when I do "make"
1) define "\erg" or change to regular tex format
2) maybe need to define \ref{sec:\supernovae}.

LaTeX Warning: Reference `fedhere' on page 84 undefined on input line 29.

! Undefined control sequence.
<argument> sec:\supernovae

l.31 ...a (also discussed in \ref{sec:\supernovae}
                                                  ), and explosion of high m...

?
!

[2015-11-26 05:54] AshishMahabal commented on #222
Any updates on this? I have had a couple of queries from new potential contributors.
If it is to be first week of Dec by when we need to wrap up the text ready for review, additional contributions will be difficult.
@drphilmarshall @ivezic

[2015-11-26 07:14] sethdigel commented on #149
Thanks for pointing out the errors, Jeonghee.  The build script is not very smart and does not alert me if the LaTeX source has a problem.  I set about to fix the build errors just now - they were in sn.tex and supernovacosmology.tex - but I see that @migueldvb has already done it.  He has posted a pull request here https://github.com/LSSTScienceCollaborations/ObservingStrategy/pull/225
When the p

[2015-11-26 12:22] ShashiKanbur commented on #224
Hello, I did issue a pull request which I can see here https://github.com/pulls, but can you see it?
Im not sure what else to do.

[2015-11-26 14:35] migueldvb commented on #224
@ShashiKanbur the pull request was based on your own repository. You
need to open a new pull request and select as base fork the parent
repository `LSSTScienceCollaborations/ObservingStrategy` with default
base branch `master`, and head fork `ShashiKanbur/ObservingStrategy`
with branch `ShashiKanbur-patch-1`

[2015-11-26 15:31] ivezic commented on #222
We had to cancel PST meeting due to poor attendance - we'll talk about this issue next Monday.
It is likely that we will need to properly review this paper, and it's unlikely that we'll be able to post
on arXiv before AAS meeting. I will send an update next Monday afternoon. Happy T-day!

[2015-11-26 15:52] ShashiKanbur commented on #224
Hello, thanks, I tried doing what you suggest - can you see the pull request now?

[2015-11-26 16:00] migueldvb commented on #224
great, it is here #226 now!

[2015-11-26 16:02] migueldvb commented on #224
@ShashiKanbur great, it is here #226 now!

[2015-11-27 14:09] moniez commented on #68
Hi Knut,

can you tell me if I should do something more to adapt the .tex file I sent last week?
	Yours.       Marc

Marc Moniez

Laboratoire de l'Accélérateur Linéaire
Université Paris-Sud, Bâtiment 200
91898 Orsay cedex

Tel. +33 (0)1 64 46 83 44
Fax. +33 (0)1 64 46 83 97
moniez@lal.in2p3.fr <file:///Users/tristram/Documents/tristram@lal.in2p3.fr>

[2015-12-03 18:07] MichelleLochner commented on #222
Any thoughts on this? It would be good to come up with a reasonable timeline.

[2015-12-03 18:20] ivezic commented on #222
I can confirm now that we need to go through the Project's Pub Board review before
posting to arXiv (despite the fact that the text is essentially public on github).
I would propose that we aim to have the manuscript ready for review by the
time of AAS meeting in January, or soon afterwards (e.g. we might receive good
comments if we talk about it at the LSST AAS Townhall meeting on Thu evening)

[2015-12-03 22:38] drphilmarshall commented on #222
Thanks very much for sorting this out, Zeljko!  Aiming to have the
manuscript ready for viewing at the AAS meeting, and submitting for review
shortly afterwards, sounds sensible. What was the feeling in the project
science team about submitting an in-progress paper, with complete MAF
analysis only present in a handful of science cases (but even the
unquantified science cases presented tidily), bot

[2015-12-03 22:49] ivezic commented on #222
I think that whatever the team will decide is a presentable well-rounded
work can go to the review and eventually to arXiv. The concept of
a living doc is fine here too.

[2015-12-04 00:05] drphilmarshall commented on #222
OK, good. Let's do what we can before the end of the quarter, and see what
shape we are in at AAS, then.

On Thu, Dec 3, 2015 at 2:49 PM, Zeljko Ivezic <notifications@github.com>
wrote:

[2015-12-04 00:11] AshishMahabal commented on #222
Indeed, this is good. We can now call on TVS folks who said they can contribute after first week of Dec.

[2015-12-04 13:10] ShashiKanbur commented on #224
Hello, I added an update to variables.tex but my head fork with base branch *ShashiKanbur-patch-1* doesnt compile because of a latex error in sn.tex. How can I correct this?

[2015-12-04 14:13] migueldvb commented on #224
This error was fixed in the master branch so you can rebase your ShashiKanbur-patch-1 branch onto master and push them up  to your github repository using these commands.

[code]

[2015-12-07 11:47] MichelleLochner opened #234 "Missing supernova figures"
Jeonghee there is a missing figure, SN_309_lcavg.pdf, in the supernova section preventing compilation of the white paper. Please add that figure and commit as soon as possible.

[2015-12-08 01:07] jhrlsst commented on #234
I commented it out for now since I don't have time now (feel free to comment out this type of things if it happens again).
Rahul and I am generating a few more figures and I will add them together next time when I have a chance. As you see the pdf file on the git page, the latex seems to be successfully compiled.

[2015-12-08 14:59] #234 closed

[2015-12-14 20:32] drphilmarshall opened #235 "AAS2016: editorial meeting plan"
NB. 25 seconds of action required below!
-----

Hi @LSSTScienceCollaborations/observing-strategy-white-paper-editors @LSSTScienceCollaborations/maf-workshop-organisers

For many of us this is the last week of the quarter before the winter break, something I am sure you are all looking forward to! Thank you for all your efforts on the observing strategy white paper this year: it's been impressive t

[2015-12-14 20:33] #222 closed

[2015-12-14 20:38] ivezic commented on #235
Zeljko - in person.

[2015-12-14 20:40] drphilmarshall opened #236 "End of year / pre-AAS tidy-up"
Dear Chapter Editors:

Following the arxiv posting / LSST review discussion in #222, and our plan to meet up at AAS ( #235 ), we have a deadline: **Monday January 4th for a reviewable draft white paper**. I think the minimal effort required to meet this deadline would be getting your chapter's sections and preamble edited and commented to the point where the chapter a) makes sense as it stands, an

[2015-12-14 20:41] #219 closed

[2015-12-14 20:42] MichelleLochner commented on #235
Won't be able to make it at all, sorry @drphilmarshall.

[2015-12-14 21:13] AshishMahabal commented on #235
Ashish - remote
Am getting there in person only on the 5th

[2015-12-14 21:20] jgizis commented on #235
Gizis -- remote (probably; definitely not in person)

On Mon, Dec 14, 2015 at 4:13 PM, Ashish Mahabal <notifications@github.com>
wrote:

--
John E. Gizis
Professor
Department of Physics and Astronomy
University of Delaware

302-831-2668

[2015-12-14 21:37] knutago commented on #235
Nope, traveling that Monday.

[2015-12-14 21:54] egawiser commented on #235
In person!  (arrive MCO 7AM, must leave for Undergraduate Reception setup at 5PM)

[2015-12-15 00:01] akvivas commented on #235
Nop, I can't make that day neither in person nor remotely. Sorry!

Kathy

---
Kathy Vivas
akvivas@gmail.com

On Dec 14, 2015, at 6:54 PM, Eric Gawiser <notifications@github.com> wrote:

[2015-12-15 00:04] connolly commented on #235
I can do it remotely but not in person

cheers
Andy

On Mon, Dec 14, 2015 at 4:01 PM, Kathy <notifications@github.com> wrote:

[2015-12-15 00:53] willclarkson commented on #235
Me too - remotely but not in person.

Cheers

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn
Students: please put your course code in the
title of emails to me
(ASTR330 or PHYS 150 lab or discussion).

On Mon, Dec 14, 2015 at 7:04 PM, Andrew Connolly <notifications@github.com>
wrote:

[2015-12-15 02:58] StephenRidgway commented on #235
Yes, 90% chance remote, 10% chance in person.

[2015-12-15 03:52] bethwillman commented on #235
I'm traveling Monday & land ~ 2pm.

On Mon, Dec 14, 2015 at 2:32 PM, Phil Marshall <notifications@github.com>
wrote:

--
Beth Willman
LSST Deputy Director
Associate Astronomer, Steward Observatory
933 North Cherry Avenue
Tucson, Arizona 85721
520-318-8473

[2015-12-15 05:50] drphilmarshall commented on #235
Alright everyone, thanks for your replies! Looks like it'll just be a
handful of us in Florida in person, so I don't think we'll need a special
meeting room. The reception is Monday evening and starts at 7pm, so I think
the window of opportunity for those of us who are in town is afternoon
teatime, 4pm. @ivezic, @bethwillman, @egawiser: I will identify a suitable
venue where we can meet, (possibly

[2015-12-15 05:58] rbiswas4 commented on #235
I can do a remote meeting at anytime that day, but will not be going to the AAS.

[2015-12-15 14:53] willclarkson commented on #211
Hi @yoachim - just checking in on this action to code up the figures of merit that had been indicated in the old chapter 5 bullet points (now found in chapter 4); is there anything you need to help with this?

Thanks!! -- Will

[2015-12-15 15:34] willclarkson commented on #211
Hi @yoachim - do you have any availability later this week to chat with me (@willclarkson) about the epoch distribution of parallax factor in your nice astrometry metrics notebook please?

cc @akvivas

Thanks!! -- Will

[2015-12-15 17:20] yoachim commented on #211
Sure, I should have some free time in the afternoons (west coast time) this week.  I need to update those old notebooks because I did tweak some things in the final version.

[2015-12-15 18:25] jhrlsst commented on #235
I will arrive after 5pm on Monday. I can meet other day during the AAS meeting. Or before or after the AAS meeting (you may busy to talk to many other members), I can visit Stanford to meet since I am local.

[2015-12-15 18:42] lmwalkowicz commented on #235
I'm on the ExoPAG exec council and our meeting is all day Monday, so I'm out for this unfortunately.

[2015-12-15 20:01] tanguita commented on #235
Timo Anguita (remote) Apparently replying to the email didn't work!

[2015-12-16 20:04] jhrlsst commented on #235
Does the LSST project need anything from us for the LSST townhall meeting?
Perhaps 1 or 2 page power point slides for each chapter?

[2015-12-16 20:32] bethwillman commented on #235
Thank you for asking this!

I will briefly mention the community-based study of the Observing Strategy
in a single slide that I'll make (so no further contributions are needed
from y'all).  I'll be leading a ~15 minute presentation on broad LSST
Project updates and ways for the community to be involved, Lucianne will
lead ~10 minutes presentation on science collaborations and how to get
involved,

[2015-12-17 00:09] ebellm commented on #235
Sorry, wasn't on the distribution list--I will be at AAS on Monday in person but in a workshop until 4.

[2015-12-17 23:15] ebellm opened #240 "Transients chapter 6.5: GW TOOs"
@soares-santos @ehneilsen We need to develop some science justification text for the EM/GW TOO section.  I think this includes:
* describe the EM/GW science and why LSST TOOs are needed
* give plausible ranges for counterpart color, luminosity, decay timescales, number of triggers
* propose a sequence of TOO observations

To zeroth order I don't know that we actually need a metric--the first goal

[2015-12-17 23:16] ebellm commented on #240
cf #113

[2015-12-18 06:57] fedhere commented on #240
I will be responsive on this starting next week. Sorry : till then teaching
takes 100% of me...

On Thursday, December 17, 2015, Eric Bellm <notifications@github.com> wrote:

--

_____________________________________________

dr. federica bianco
James Arthur Fellow
NYU-Center for Cosmology & Particle Physics
NYU-Center for Urban Science & Progress
New York, NY

http://cosmo.nyu.edu/~fb55/
________

[2015-12-18 17:08] drphilmarshall commented on #240
Thanks Eric! As part of the justification text on TOOs, will there be a
section on what can be done just with the WFD observations planned? There's
usually *something* that can be done with the LSST survey data as-is, and
it would be good to have this sketched out as the baseline before
requesting TOO observations on top of that. And of course if there *is*
something that can be done with the surv

[2015-12-19 00:23] ohadshemmer commented on #235
Will be traveling to MCO on Mon. 1/4, arriving around 4.

[2015-12-31 19:43] drphilmarshall commented on #235
Hi all,

Hope you are having good winter holidays! I've been taking the 360 degree
virtual tour of the AAS resort, and @bethwillman @ivezic @egawiser
@nielbrandt it looks like [The Cocoa Bean](
http://www.marriott.com/hotelwebsites/us/m/mcogp/mcogp_pdf/Resort_Map_Final_Online_2015.pdf)
might be a good place for the few of us to meet in person at 4pm on Monday.

Others, I'll try and be online from

[2016-01-03 06:36] lundmb commented on #235
@drphilmarshall I'll be able to attend on Monday at 4 pm as well (sorry, missed the initial call for responses because I was traveling then)

[2016-01-04 05:43] keatonb opened #247 "In progress: variability depth metric."
I just want to let y'all know (esp. @drphilmarshall, @lmwalkowicz, @AshishMahabal) that I'm putting the finishing touches on a new metric that should be ready to distribute in the next few days.  This metric calculates a "variability depth": the magnitude limit where variable sources with, say, > 1% photometric variability will be overwhelmingly recovered (say, with something like a 5% false alarm

[2016-01-04 06:10] drphilmarshall commented on #247
Excellent, thanks Keaton! Don't worry about missing the meeting: it'd
really just a few of us catching up with tea. Watch out for an issue with
the result of the conversation tomorrow evening though. Thanks for all your
work on the variability metric! Sounds good :-)

On Sun, Jan 3, 2016 at 9:43 PM, Keaton Bell <notifications@github.com>
wrote:

[2016-01-04 08:04] rbiswas4 commented on #247
@philmarshal
Is there going to be a meeting with remote participants? I am going to be on travel but if plane timings work out I will try to call in. It would be good to know the phone number/ address ahead of time though

Thanks,
Rahul

[2016-01-04 14:14] drphilmarshall commented on #247
The 4pm EST meeting will not have remote access. If you want to chat with
me about the paper, I'll be online between 12 noon as 3pm EST. Safe
travels, Rahul!

On Monday, January 4, 2016, rbiswas4 <notifications@github.com> wrote:

[2016-01-04 14:29] lmwalkowicz commented on #247
This is great to hear Keaton, thanks very much! Happy meeting/tea drinking
all, I am in the ExoPAG meeting today so will unfortunately miss you.

On Mon, Jan 4, 2016 at 9:14 AM Phil Marshall <notifications@github.com>
wrote:

[2016-01-04 15:43] drphilmarshall commented on #235
Hi all,

I am now at the Gaylord Palms resort for the AAS meeting. This place is crazy - I seem to be sitting on the ramparts of a recreation of a ruined medieval castle.

@ivezic @bethwillman @egawiser @yoachim It turns out that the Cocoa Bean has only 3 tables, and is more of a coffee serving hatch than a tea shop. However, the [Sandbar](http://www.marriott.com/hotelwebsites/us/m/mcogp/mcogp_pdf

[2016-01-04 15:55] bethwillman commented on #235
Got it. Will see you at the Sandbar in a bit.

Beth

Sent from my iPhone

[2016-01-04 16:08] lmwalkowicz commented on #235
Just FYI: should you need another ridiculous meeting location sometime this
week, the MOOR restaurant/bar is partially composed of a boat floating in
an indoor fishpond.

On Mon, Jan 4, 2016 at 10:55 AM Beth Willman <notifications@github.com>
wrote:

[2016-01-04 16:23] willclarkson commented on #235
Thanks Phil - if you are around at 12:30 I will look for you in the hangout
then.

Best

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn
Students: please put your course code in the
title of emails to me
(ASTR330 or PHYS 150 lab or discussion).

On Mon, Jan 4, 2016 at 10:43 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-01-04 18:25] drphilmarshall opened #249 "Galaxy chapter AAS presentability"
Hi @willclarkson

Good talking to you just now - here are my notes based on our conversation. I'll talk to @ivezic and @bethwillman about deadlines for content injection and report back.

* [x] Decision on section 4.5 and 4.6: comment out for now?

* [ ] References in preamble

* [x] Halo mapping: tidy up preamble, "XXX", "Colin please step in..." etc
* [x] Halo mapping measurements: XX, Y etc - n

[2016-01-04 18:34] drphilmarshall opened #250 "Discussion of TDC2"
@tanguita @drphilmarshall

Lets extend the SL time delays section to include our plans for TDC2, and then extend the AGN microlensing section to refer to this.

[2016-01-04 18:50] drphilmarshall commented on #250
In particular, we said that:

* [ ] The metrics section needs a figure of merit (accuracy in scaling relation slope?), and then discussion of what we expect that FoM to depend on, eg night to night cadence, season length, campaign length, as in the time delays. The enigma1189 cadence and season length figure can go here, for illustration. I think its *here* that we should admit that we don't yet k

[2016-01-04 18:52] drphilmarshall commented on #250
Then, in the lens time delays section of the cosmology chapter, I need to write the discussion that explains TDC2.

[2016-01-04 19:20] willclarkson commented on #249
Thanks Phil - can you clarify point 2 about references in the preamble please? Are you asking for ADS links as in Section 1.1, or for something else?

[2016-01-04 19:21] rbiswas4 commented on #235
@drphilmarshall :

I think the internet connection on a plane I have right now is to slow for
using chat. So, I think I will be very brief in an email:
On the SN chapter: I think we are making good progress on
- calculating a few metrics based on heuristics only, and the main idea
here is  using a sliding window in time, and weights to tag 'distinct'
observations. I have working code for a few exa

[2016-01-04 19:30] drphilmarshall opened #252 "AGN chapter AAS presentability"
@ohadshemmer @nielbrandt @tanguita

Happy New Year! Timo and I just looked through the AGN microlensing section together, in #250. Below are my notes from looking through the rest of the chapter - hope they are useful! The main things I see missing are Figures of Merit, and the discussion of their likely dependence on your diagnostic metrics - but in most cases I think you are close.

* [ ] In the

[2016-01-04 19:53] drphilmarshall opened #254 "Solar System chapter presentability"
Hi @rhiannonlynne, hi @davidtrilling

Just looking through the solar system chapter, and making a few notes (see below). Lynne says she is planning on working more on this later today, please feel free to edit/extend the list of things to fix below!

* [x] I think that completeness is a Figure of Merit for the discovery/linking section, would you agree? Is there a scalar you could define for each

[2016-01-04 20:04] drphilmarshall opened #255 "Introduction: statement of purpose, terminology"
@bethwillman @connolly @ivezic

Looking through our introduction for presentability, my notes below. As well as some small tidyings up, the main thing missing is a short description of what the white paper will be used for. Can we please craft a statement along these lines, so that both the readers and the contributors know what the impact of the paper will be? Thanks!

* [x] Precise values for un

[2016-01-04 20:08] migueldvb commented on #254
Regarding the fourth point, there is some content for the activity section (3.4) in #242.

[2016-01-04 20:09] drphilmarshall commented on #249
I think they need to be `\citep{}` commands to papers in the
`references.bib` file. Hopefully the hyperlinks will all still work
(although thats a separate issue).

On Mon, Jan 4, 2016 at 2:20 PM, Will Clarkson <notifications@github.com>
wrote:

[2016-01-04 20:49] willclarkson commented on #249
Hi Phil - I had time to address some of the presentability issues you raised. I have clicked the checkboxes on your issue, please advise if I need to do anything else to enter the check (so to speak). Cheers -- Will

[2016-01-05 00:18] drphilmarshall commented on #254
Splendid! I'll leave the review and merge to @rhiannonlynne :-)

On Monday, January 4, 2016, Miguel de Val-Borro <notifications@github.com>
wrote:

[2016-01-05 20:59] rhiannonlynne commented on #254
Phil - we haven't calculated  completeness for the new runs yet at all.
I could do that, but it will take a few days (note that this is probably true for all of the other metrics too). Is this consistent with the timeline?

[2016-01-05 21:11] drphilmarshall commented on #254
Yes - as you will see in my next email to the group! Hope all's well in
Seattle, and the New Year has started well.

On Tue, Jan 5, 2016 at 3:59 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-01-05 21:45] drphilmarshall opened #264 "Notes, and a new timeline, from the AAS editorial get-together"
Dear @LSSTScienceCollaborations/observing-strategy-white-paper-editors and @LSSTScienceCollaborations/observing-strategy-white-paper-contributors ,

A few of us met up yesterday here at AAS227 as planned ( #235 ). We discussed the white paper, it's current status following your recent efforts (thank you! :-) and what we need to do next and when. Below is a maximally concise summary! Please read, y

[2016-01-05 22:03] drphilmarshall opened #265 "New AGN text from Vishal needs editing in"
Hi @ohadshemmer - I got tired of seeing @AstroVPK 's unmerged PR (#204) hanging around, so I merged it. His new text appears bright blue in the PDF, and needs editing in by you, I think. Great if you can take a look at `AGN/AGN_Disk_Intrinsic.tex` and fix the text so it reads how you want it. Thanks for your efforts, Vishal! :-)

[2016-01-05 22:10] drphilmarshall commented on #249
Looks good, thanks Will - thanks for taking a stab at the Figure of Merit / diagnostic distinction. When I have tidied up the introduction, I'll take a pass through the Galaxy chapter to ensure consistency.

[2016-01-06 15:35] rbiswas4 opened #266 "OpSim run name macros"
@ivezic,
Kraken_1032 on Pg 18 is probably really Kraken_1033  (The confluence page: https://confluence.lsstcorp.org/display/SIM/OpSim+Datasets+for+Cadence+Workshop+LSST2015
and the run pages have Kraken_1033, and no Kraken_1032).

@drphilmarshall
Also, while we are at it ... can we advertise variable names `\opsimdbref{db:enigma}` that are stylized, so that the fonts and links are consistent throu

[2016-01-09 20:16] drphilmarshall opened #268 "Illustrative light curves"
A thought occurred at the AAS meeting: we must make sure we that the white paper includes a representative set of simulated/realized light curves, for various transient and variable objects. Jackie Moreno is making these for AGN, and I think @rbiswas4  is too for SNe. If we make some nice figures, they could also be extracted and used on the LSST website to help give people an idea of what to expe

[2016-01-09 20:23] fedhere commented on #268
i think we have all the gear to do this for the transients in chapter 6 as well

[2016-01-09 20:24] drphilmarshall opened #269 "Start WFIRST chapter"
Talking to @jasondrhodes and others at the AAS meeting, I think the best way to make progress with studying the synergy between LSST and WFIRST is to start a special chapter on this topic, and encourage the generation of three science case sections by the WFIRST team (supernovae, planetary microlensing, and weak lensing). With a brief high level introduction to the WFIRST science program and surve

[2016-01-09 20:26] rbiswas4 commented on #268
There are actually a few in the cosmology (SN section). This will be expanded.

[2016-01-09 20:26] drphilmarshall commented on #264
Everyone I talked to at AAS was down with this new timeline. I'll just get to work on my action items this week unless I hear from you!

[2016-01-09 20:30] drphilmarshall commented on #268
Cool, thanks both! I say, go ahead and make your nifty figures, and ping me
if you think of it - and don't worry if you don't, Ill find them eventually
:-)

On Sat, Jan 9, 2016 at 3:26 PM, rbiswas4 <notifications@github.com> wrote:

[2016-01-10 03:28] jhrlsst commented on #268
Rahul and I have been preparing for a number of SN light curves towards different parts of the sky.
Do you know if the new sets (updated) of opsim outputs are available since we want to use the updated version? Please let us know when they are available. We can do this within 1 or two weeks.

Jeonghee

[2016-01-10 04:04] lundmb commented on #268
I have these for transiting planets in a few published papers already, and
I do have the tools to create a light curve for anything else with a simple
functional form.

- Mike Lund

On Sat, Jan 9, 2016 at 10:28 PM, Jeonghee Rho <notifications@github.com>
wrote:

[2016-01-13 02:08] drphilmarshall commented on #269
@jasondrhodes Dave Rubin is going to help out with a section on WFIRST supernovae - he'll show up soon as @rubind

While we wait, can you please ask Rachel Street and Dave Bennett to start an issue about WFIRST micro lensing, so I can help them get started? Thanks!

[2016-01-26 18:57] #269 closed

[2016-01-26 18:59] drphilmarshall opened #271 "WFIRST exoplanetary microlensing"
@jasondrhodes: Can you please point Dave Bennett and Rachel Street at this issue, and ask them to provide an outline of their fiducial science project (and its figure of merit) in the `WFIRST_microlensing.tex` file? Thanks!

[2016-01-26 19:04] drphilmarshall opened #272 "WFIRST + LSST supernovae: science project definition, figure of merit"
Hi @rubind !

I made you a `WFIRST_supernovae.tex` file for you to define your fiducial WFIRST+LSST supernova cosmology project, and its figure of merit! You're welcome :-) Great if you can have a go at writing down your plan, and issuing yourself with any other tasks that need doing in order to get some metrics designed by the end of Feb. Hope all's well!

Phil

[2016-01-26 19:05] drphilmarshall opened #273 "WFIRST + LSST weak lensing: science project definition, figure of merit"
Over to you, @jasondrhodes ! I made you `WFIRST_weaklensing.tex` for your outline - best to keep things simple, I'd say.

[2016-01-27 07:51] jasondrhodes commented on #273
I don't see that file @drphilmarshall.   Also, can we call it something list WFIRST_HLS where HLS=high latitude survey.  This is about more than WL.

[2016-01-27 07:53] jasondrhodes commented on #271
I emailed them (and added Matthew Penny at OSU as they requested.  however, I don't see the .tex file.

[2016-01-27 07:53] jasondrhodes commented on #273
also, I think I should see a file that is the WFIRST overview chapter (or section).  I am ready to edit that as well.  Sorry if I am missing something obvious as I am not very experienced on github.

[2016-01-27 16:25] drphilmarshall commented on #271
Ah. The GitHub version of the old email "file not attached" problem... I
just git added the files in a footnote to #269, and you should see the
microlensing one at
https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/master/whitepaper/WFIRST/WFIRST_microlensing.tex
 Sorry about that!

On Tue, Jan 26, 2016 at 11:53 PM, jasondrhodes <notifications@github.com>
wrote:

[2016-01-27 16:26] drphilmarshall commented on #273
Apologies, this was my fault. All files are now added and pushed.

On Tue, Jan 26, 2016 at 11:53 PM, jasondrhodes <notifications@github.com>
wrote:

[2016-02-01 05:10] ohadshemmer commented on #265
Just deleted that text by @AstroVPK - this is old text that I've edited in back in Tucson on 11/20/15.

[2016-02-18 05:06] jhrlsst commented on #149
Hi Seth,
I have updated the tex file for supernova cosmology more than a week ago, but newly updated pdf file
was not updated. I don't think pdf file is built frequently. Can you take a look at it?
Thanks.

[2016-02-18 06:17] sethdigel commented on #149
Ah.  Thanks for pointing out the problem.  Again I was not watching.  The builds had been broken since Feb. 5.  The problem was induced by the use of the 'subfigure' environment in cadexp2.tex.  This required adding the 'subcaption' package to the list of packages in LSST_Observing_Strategy_White_Paper.sty, which Zeljko did on Feb. 5.  It seems that, at least in the LaTeX installation at SLAC, the

[2016-02-18 16:18] migueldvb commented on #120
These alternative observing strategies sound very interesting! Is there any change that the results from some of them, specially the northern ecliptic in r band with WFD cadence, could be included in the whitepaper?

[2016-02-18 17:37] drphilmarshall commented on #120
Hi Miguel, Lynne:

The plan is to include results in the white paper only based on OpSim
outputs that we already have, but to also write in that paper about the
OpSim runs we would like to see. New runs that we suggest (as Lynne is
doing here) could be carried out by the summer, so that we would have some
new strategies to test with our metrics then. I guess those results could
then be folded into

[2016-02-18 18:01] migueldvb commented on #120
That is a good plan. Thanks for the clarification. There are a couple of places in the  paper that refer to the OpSim v3.2.1 results. I guess that these should be replaced by the newest v3.3.5 set of runs that are actually discussed?

[2016-02-18 18:05] drphilmarshall commented on #120
If at all possible, yes! Also, to avoid confusion we should refer to OpSim
runs by their name (eg enigma_1189) - there's a macro that enables easy
cross referencing I believe. Only the initial description of ecah run need
mention the version of the code that was used.

On Thu, Feb 18, 2016 at 10:01 AM, Miguel de Val-Borro <
notifications@github.com> wrote:

[2016-02-19 22:03] sethdigel commented on #149
Just to follow up:  Phil pulled the update to LSST_Observing_Strategy_White_Paper.sty and I've confirmed that the automatic builds are working again.

[2016-02-22 06:00] jhrlsst commented on #149
Seth and Phil,
Thank you very much. You are the best.

[2016-03-09 05:24] jhrlsst commented on #268
I added a number of light curves in the SN cosmology chapter. Feel free to look at them.
Jeonghee

[2016-03-10 16:12] drphilmarshall opened #284 "Do you need a small GitHub "Team" created?"
The supernove group think they might need a Team so that they can @mention each other, to emulate having an email list. Let me know if you want one, and who you want added to it (GitHub usernames, please!).

[2016-03-10 16:37] drphilmarshall opened #285 "WL null test successes as diagnostic metrics"
@tony-tyson You made an excellent suggestion, that each WL diagnostic metric could each be the *degree to which that null test is passed*. @egawiser pointed out that a suitable combination of such diagnostics could pass as a Figure of Merit, and indeed could be (approximately) related to the Dark Energy Figure of Merit. Could you please review the WL section and edit it, along with your WL colleag

[2016-03-10 17:05] MichelleLochner opened #286 "Sign up to the white paper here!"
New members/collaborators interested in contributing to the white paper, join github and comment here with your username and what section you're interested in helping out with.

[2016-03-10 17:11] kponder commented on #286
My user name is kponder and I am interested in assisting with the supernova cosmology section.

- Kara Ponder

[2016-03-10 18:33] jasondrhodes commented on #285
Can you provide a bit more details?  In particular, how would this work for photo-z errors?

[2016-03-11 18:56] MichelleLochner opened #287 "Work to be done on supernova section"
The supernova section is in good shape. While there's still masses of things people _can_ do to improve this section of the white paper, below is a list of things that we could use help on right now:

1) We need code testers to check Rahul's code so let us know if you want to play with OpSim output and generate supernova light curves.

2) We have a detection metric, classification metric and chara

[2016-03-11 19:17] MichelleLochner opened #288 "Test light curve quality metric as a function of cadence"
Simulate some Ia light curves and compute the perSNMetric for different cadences (i.e. different numbers of points on a light curve). We need to make a plot to find the point where adding more supernovae does not improve the overall metric. And make a nice plot for the paper. @kponder @aimalz @rbiswas4

[2016-03-11 19:19] MichelleLochner opened #289 "Run classification pipeline on LSST simulations"
I need to run the classification pipeline on the LSST simulated light curves from enigma_1189 and compute the AUC metric. Also need to see how this changes as a function of redshift.

[2016-03-11 19:52] MichelleLochner opened #290 "Write a paragraph on cosmology metric with SNe"
While we have some great intermediate metrics, we still haven't looked at a final figure of merit for supernova cosmology. We need someone to just write a piece on what we might plan to do in the future, since there may be more interesting options than the standard DETF FoM.

[2016-03-21 21:39] rbiswas4 opened #291 "Should there be science cases described without a metric in the overview paper?"
@drphilmarshall @egawiser @MichelleLochner

The current focus of the white paper is on developing metrics. On the other hand, we recognize that the whitepaper will be a living document, where additions will be made in future.

If there are science cases that we find interesting, but do not have metrics for them yet, should we be putting descriptions of the science cases into the whitepaper with th

[2016-03-22 00:11] egawiser commented on #291
As mentioned at the DESC meeting, we are willing to include science cases with not-yet-well-developed metrics as long as there is a discussion of how the metric will be developed.  However, the goal of the white paper, as I understand it, is not to be an exhaustive list of science cases.  Hence something you find "interesting" that doesn't have a metric seems best to leave out, or mention briefly,

[2016-04-05 23:45] #235 closed

[2016-04-05 23:45] #236 closed

[2016-04-06 00:06] drphilmarshall commented on #264
TL;DR: Please go through your issues, closing whatever you can, and reply to this message with any questions you have about the white paper! Back in January we said we'd have the Final draft (for internal review) done by April 28.

Dear LSST Observing Strategy White Paper Editors and Contributors,

After a long winter of thinking about your metrics and passing equations and pseudocode to the MAF t

[2016-04-06 00:09] drphilmarshall commented on #224
Looks like this was resolved by https://github.com/ShashiKanbur/ObservingStrategy/commit/0b892403c4c64bd800215fd4f04a093a3aca0c52 - thanks Shashi!

[2016-04-06 00:09] #224 closed

[2016-04-06 00:09] #149 closed

[2016-04-06 00:10] drphilmarshall commented on #284
Looks like this was a feature no-one actually wanted, in the end - perhaps surprisingly. Ah well!

[2016-04-06 00:10] #284 closed

[2016-04-06 00:11] drphilmarshall commented on #29
I will discuss the journal destination of the white paper with @bethwillman and @ivezic on Friday, when we meet up to take stock. Watch this space!

[2016-04-06 00:12] drphilmarshall commented on #268
Thanks all - I'm going to assume this is all good now.

[2016-04-06 00:12] #268 closed

[2016-04-06 00:14] drphilmarshall commented on #255
From @ivezic:

on rolling cadence. I fixed a few other things in Section 1.

Over to me...

[2016-04-06 19:05] fedhere commented on #268
we are collecting lightcurves for a variety of eruptive and explosive
transients, following the LSST TVS roadmap meeting two weeks ago.

On Sat, Jan 9, 2016 at 3:16 PM, Phil Marshall <notifications@github.com>
wrote:

--

_____________________________________________

dr. federica bianco
NYU-Center for Cosmology & Particle Physics
NYU-Center for Urban Science & Progress
New York, NY

http://cosmo.

[2016-04-06 19:50] egawiser commented on #29
Sounds good.  We should consider SPIE's [Journal of Astronomical Telescopes and Systems] (http://spie.org/publications/journals/journal-of-astronomical-telescopes-instruments-and-systems-)

[2016-04-06 19:58] darkojev commented on #29
We already had faced problem with SPIE publications - most of people do
not have an access to the published articles (being in astronomy
departments, and Universities are stingy in their subscriptions...) and
that means that citation get scarcer (it is hard to expect that people
cite an article they could not access).

Cheers

Darko

On Wed, 6 Apr 2016, Eric Gawiser wrote:

[2016-04-06 20:05] egawiser commented on #29
As I understand it, this White Paper will be a living document on ArXiv, and the current discussion is about which refereed journal to publish a snapshot of it in.  I expect people to access the ArXiv version, which can have a Journal Ref noting where it ended up published to generate proper citations.

[2016-04-06 22:20] StephenRidgway commented on #29
Hi,

The SPIE journal recommended is conditionally open access - if you pay the fee, the article is open to anybody. However, as Darko says, most people assume that SPIE is equivalent inaccessible, and maybe they will not even try.

If you don’t pay the fee, it is not open access, and SPIE policy forbids putting it on any public site.

Steve

[2016-04-06 22:51] drphilmarshall commented on #29
Does anyone have the link to the whitelist of journals that are somehow
acceptable to people tracking citations etc?

The size of our white paper is as much of an issue as its dynamic state, I
think: we're calling it a white paper but it's similar in volume to a big
review, or (dare I say it) a "science book."

[2016-04-08 22:52] drphilmarshall commented on #291
@rbiswas4 wrote:

This is an excellent question, and one that needs discussing by the group, I think. This is because it is closely related to the question, "how are we going to meet our submission deadline?" :-) I spoke to @bethwillman and @ivezic today, and we talked about this, as well as the #29 ("Should we publish the white paper in a journal").

@egawiser is right, that the white paper is no

[2016-04-08 23:02] drphilmarshall commented on #29
Hi all: I just talked to @bethwillman and @ivezic about where to publish the white paper. I think we are all in agreement that yes, this work *should* be published beyond arxiv posting, both for accounting purposes but also because peer review is important. We have a few options including SPIE (thanks Eric!) and PASP, and so can move on to investigating whether the living document model is one tha

[2016-04-08 23:02] #29 closed

[2016-04-09 01:00] fedhere commented on #291
in the transients group this gets tricky: we want to mention gravitational waves, which need ToO. we are not planning on developing a metric for it, although we have simulated killonova lightcurves the case that no cadences would cut it is fairly clean cut. thoughts?

[2016-04-09 04:05] rhiannonlynne opened #292 "Change in MAF dither stacker names"
My apologies if you receive this notice more than once - we still need to work out the kinks in our communications regarding MAF (or opsim) upcoming changes that would affect users.

This notice is regarding the names of the dithering stackers. In MAF, these are generally currently called

RandomDitherFieldVisitStacker', 'RandomDitherFieldNightStacker', 'RandomDitherNightStacker', 'SpiralDitherFie

[2016-04-11 21:00] drphilmarshall opened #293 "Version 1 Final Draft Editorial Meeting"
Dear Chapter editors: @bethwillman @connolly
@ivezic @yoachim @davidtrilling @rhiannonlynne @akvivas @willclarkson @AshishMahabal @lmwalkowicz @knutago @dnidever @ebellm @fedhere @ohadshemmer @tanguita @MichelleLochner @egawiser @StephenRidgway @knutago

Thanks for all your efforts on your science sections, including your metrics, this spring! Our [timeline](https://github.com/LSSTScienceCollabora

[2016-04-11 22:46] drphilmarshall commented on #292
Thanks @rhiannonlynne ! Would you mind please posting a link here to the relevant repo once you have made this very sensible change, so that we can see the new files in place and remember to check and edit all our MAF code? Thanks!

[2016-04-11 22:49] #127 closed

[2016-04-11 23:04] drphilmarshall commented on #266
@LSSTScienceCollaborations/observing-strategy-white-paper-contributors @LSSTScienceCollaborations/observing-strategy-white-paper-editors

As you write about metric results based on various `OpSim` output databases, please do refer to the definitions made by @ivezic in `cadexp2.tex`. I notice that the new baseline cadence is now `minion_1016`. Chapter 2 is now finished, I believe - which makes it a

[2016-04-11 23:04] #266 closed

[2016-04-11 23:08] drphilmarshall opened #294 "Clarify metric type definitions, section structure, in introduction"
As prompted by #264

[2016-04-11 23:16] drphilmarshall opened #295 ""Available Metrics" appendix?"
Hi @yoachim

At AAS, in #264 , we wrote that "Peter [will] collect list of all available metrics in an appendix, to show contributors what is available. Ideally this will be hyperlinked to the functions themselves; other hyperlinks to documentation should also be included in the appendix."  @ivezic reminded me the other day that [the MAF code already has a reference paper, in SPIE](https://conflue

[2016-04-11 23:16] #264 closed

[2016-04-11 23:23] drphilmarshall commented on #291
I think ToO observations for GW sources is too important not to mention anywhere, but if we do not yet have any simulations that contain simulated ToO observations, it'll be hard to show improvement in your metrics. I guess what you could do is design a metric and compute it for the baseline cadence - you might get *some* GW location-matched kilonovae just in the universal cadence survey. And then

[2016-04-11 23:23] #291 closed

[2016-04-11 23:25] lundmb commented on #295
To chime in on this, I'd point out that the paper seems to be more about
the general framework of MAF. I think there's something valuable in having
a list of what all the available metrics are, and that paper doesn't do
that. All the inbuilt metrics can be accessed once someone downloads MAF,
but that requires the download, and doesn't include the third-party metrics
that have been contributed, an

[2016-04-11 23:45] StephenRidgway commented on #291
A GW ToO will probably execute a visit pattern over one or more positional error windows.  Since it would be done presumably with high priority, it would be accomplished subject to feasibility.  I’m not sure that a metric on that execution will tell anything at all about the performance of the scheduler.

However, the real measure of the impact of that ToO is in all the other metrics. Ideally, the

[2016-04-11 23:59] AshishMahabal commented on #291
Hi,

One of the useful numbers will be the depth of galaxy catalogs corresponding to the depth of LSST observations. That will determine how long LSST will need to integrate for counterparts possibly associated with known galaxies. Unless the error circle is at most a few LSST fields, tiling with LSST to break cadence of too many other fields may not be feasible (and will affect their metrics, as

[2016-04-12 00:41] rhiannonlynne commented on #295
We actually have something else in the works that should address this
problem, at least for the core metrics (how to document the contrib metrics
is a little tougher).
We have sphinx documentation in the works.. I'll see if we can get it
online somewhere in the next few days. Maybe @jsick can help.

On Mon, Apr 11, 2016, 4:25 PM lundmb <notifications@github.com> wrote:

[2016-04-12 00:55] drphilmarshall commented on #295
Cool :-) I would hope that all the `sims_maf_contrib` metrics that we use
could be hyper-linked from the white paper (and auto-tabulated in one
place, too). A simple companion table pointing at the online MAF sphinx
docs might then be good enough for @lundmb et al. We should try something
simple and see.

On Mon, Apr 11, 2016 at 5:41 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-04-12 01:49] fedhere commented on #291
we have a conference call tomorrow with the people writing the transient
chapter. i will discuss all these suggestions there. my opinion, and our
current plan, is to discuss GW and the  need for ToO for the GW counterpart
discovery program, although we are unlikely to develop metrics about this
it in time. I will report back after I talk to the paragraph writers.

f

On Mon, Apr 11, 2016 at 7:59 P

[2016-04-12 15:32] drphilmarshall commented on #293
Thanks for filling out the doodle poll at http://doodle.com/poll/bxmcx5p92y3ad9fz - with 9 out of 20 chapter editors voting, it's a dead heat between Thursday 0800 and 0900 PDT. Vote now! Polls close at noon today :-)

[2016-04-12 15:34] AstroVPK commented on #293
I changed my preferences slightly if that helps. I think this favors the
Thursday 0800 timeslot now.

-Vishal

            Vishal Kasliwal
 Dept of Physics & Astronomy,
The University of Pennsylvania
                    and
Dept of Astrophysical Sciences,
        Princeton University

On Tue, Apr 12, 2016 at 11:32 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-04-12 15:36] drphilmarshall commented on #293
Thanks Vishal - although I hope we are far from a tie break situation! I am
very much hoping that most of the people leading chapters will be able to
make it to the meeting.

On Tue, Apr 12, 2016 at 8:34 AM, Vishal Kasliwal <notifications@github.com>
wrote:

[2016-04-12 23:53] drphilmarshall commented on #293
Doodle has spoken: we will meet at 0900 PDT on Thursday, April 14th, via BlueJeans. I'll put together an agenda in a Google doc that we can keep notes in, and include connection details. If you have not used BlueJeans before, you can try it out by joining their [demo videocon](http://bluejeans.com/demo).

Before we meet, it would be really helpful if you could prepare to spend two minutes noting i

[2016-04-12 23:56] drphilmarshall commented on #293
Oops, sorry - hit send too soon. That should have read:

"prepare, by noting in the aforementioned document, to spend two minutes showing the group, **the sections in your chapter that include a metric analysis**"

The idea is to add pointers to your metrick-ed sections to the notes first, and then show the sections to us all in the meeting. Thanks!

[2016-04-13 00:39] rhiannonlynne commented on #292
Important Note! I'm fixing a problem with sims_maf_contrib (hopefully will be resolved tonight).
Please refrain from pulling from sims_maf_contrib at the moment, to avoid having some pretty weird git problems.

[2016-04-13 02:51] yoachim opened #296 "Protect the master branch"
Given past and recent experiences here and elsewhere, I suggest @drphilmarshall configure the master branch to prevent force-push updates. Just seems prudent.

[2016-04-13 14:23] drphilmarshall commented on #296
Thanks @yoachim I should have done this a long time ago. Here are the settings I chose, do they look good to you? We still want to enable the Editors to push directly to base/master (for speed), just prevent them from force pushing commits the rewrite history, right?

![image](https://cloud.githubusercontent.com/assets/710903/14496622/8e35cd10-0148-11e6-8baf-8524967c655d.png)

[2016-04-13 17:03] yoachim commented on #296
Looks good to me!

[2016-04-13 17:03] #296 closed

[2016-04-13 18:01] drphilmarshall commented on #293
Hi,

I have made us a notes file for our meeting tomorrow. Please find your section and fill in the blanks! :-) I did a very quick audit of the solar system chapter, just to give you an example of what I am after  (great if you could double check this for me, please @rhiannonlynne @davidtrilling )

https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ

Note that I am not

[2016-04-13 18:38] ebellm opened #297 "updates to Transients chapter introduction"
Stub issue to catch PRs for changes to the Transients introduction.

[2016-04-13 19:17] rhiannonlynne commented on #292
The sims_maf_contrib problem is fixed.
The dither stackers changes are available on a branch of sims_maf, and should be merged back to master shortly. It will not be available in conda or eups distrib until we make a new release, but if you are running from the github repo version of sims_maf, it will be useable immediately.

[2016-04-13 21:32] drphilmarshall commented on #293
Hi there - while you figure out the sections you want to point to in our meeting tomorrow, I've added a few notes to provide context for our discussion, and some talking points. Please do take a look at the [notes file](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ).

@ivezic @egawiser can I also ask you to be prepared to report briefly on the pros and cons of SPI

[2016-04-13 21:40] bethwillman commented on #293
Also - If/when there is a crisper version for the scope and depth of the
paper... should consider whether its worth approaching Sarajedini to see
whether AJ Supplements could be a good match.

On Wed, Apr 13, 2016 at 3:32 PM, Phil Marshall <notifications@github.com>
wrote:

--
Beth Willman
LSST Deputy Director
Associate Astronomer, Steward Observatory
933 North Cherry Avenue
Tucson, Arizona 85721

[2016-04-13 22:47] AshishMahabal commented on #293
Hi,

I was out of this circuit for the last few days, but hope to attend tomorrows meeting and start syncing.

-ashish

[2016-04-13 23:09] drphilmarshall commented on #293
Great, thanks Ashish! Please do take a look at the notes today or early
tomorrow - your typed input is requested! :-)

On Wed, Apr 13, 2016 at 3:47 PM, Ashish Mahabal <notifications@github.com>
wrote:

[2016-04-14 14:34] MichelleLochner commented on #288
@aimalz @kponder any progress on this?

[2016-04-14 15:04] drphilmarshall commented on #293
Morning all! Looking forward to chatting in about an hour. Thanks for all your contributions to the [live notes](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ) so far! I'll take a look at the variables, transients and AGN chapters as well, to make sure we have all bases covered. BlueJeans connection link is [in the notes](https://docs.google.com/document/d/1CUTxOn

[2016-04-14 16:22] AshishMahabal commented on #293
Phil, your top-level summary of the Variables section is fine. Will be editing the notes soon. We may not be able to get to individual sections before I need to drop off shortly before 9:30.

-ashish

[2016-04-14 16:56] AstroVPK commented on #265
Is this issue closed then? How can I help close it otherwise?

[2016-04-14 17:48] drphilmarshall commented on #293
Dear all,

Thanks very much for your input this morning, some very good ideas came up. I have written up my notes in our [Google document](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ), please do take a few minutes to read through them to make sure I caught everything. Those that could not be there ( including @jasondrhodes @bethwillman @lmwalkowicz @fedhere @wil

[2016-04-14 19:33] aimalz commented on #288
We're working on it [here](https://github.com/aimalz/SNeLightcurveQualityMetric/issues/2).

[2016-04-14 21:38] AstroVPK opened #301 "Define SDSS"
SDSS needs to be defined and referenced in section 4.2. Do we have a list of acronyms that we can use (and add to when we define & reference new acronyms).

[2016-04-14 23:57] drphilmarshall commented on #255
Bit of detail on the last bullet of the to-do list above, from the [April 14th meeting notes](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ):

[2016-04-15 00:02] drphilmarshall opened #303 "Conclusions via "Tensions and Trade-offs" chapter"
@StephenRidgway Would you mind please checking in the T&T chapter draft you've been working on? As you finish it, there's this from the [April 14th meeting notes](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ) to consider:

When you have pushed, please do re-assign this issue to @bethwillman so she can comment on the paper's conclusions. @egawiser is also poised a

[2016-04-15 00:05] drphilmarshall commented on #301
Good idea. I'd say let's just add macros to the [style file]() to keep it simple. Great if you can trace all instances of SDSS, and make sure the first one spells it out in full - and that the others use the macro. Thanks!

[2016-04-15 00:09] drphilmarshall opened #304 "Audit white paper sections"
At the [April 14th meeting](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ) ( #293 ) we:

This is a significant chunk of work, so this should perhaps be an "epic." We already started the audit in the  [meeting notes](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ), I just need to extend that to refactoring the latex. ("Just")  For e

[2016-04-15 00:15] drphilmarshall opened #305 "Communicating science section type (results or ideas)"
More from the [April 14th meeting](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ) ( #293 ):

I think the navigation is more important than the flagging, here. Rather than labeling the sections in some way, it could be that we just need to find some way of highlighting sections that contain results, and sections that contain ideas. I don't want to break the logical

[2016-04-15 00:46] drphilmarshall opened #306 "Aggressively closing Observing Strategy issues"
For us to be able to use the issues system effectively during our Final Draft sprint (culminating in our next meeting on April 28th), we need all chapter editors to *aggressively close their chapters' issues*. The idea is to close issues as soon as you can, so they don't get in the way of your progress down the critical path. Err on the side of closing and re-opening! Your reviewers will either do

[2016-04-15 00:49] drphilmarshall opened #307 "Assign internal reviewers"
On a section by section basis, see the list below. The paper audit #304 needs to be done first (so we know what we are reviewing).

### Proposed Internal Reviewers

* [x] Preface: Beth #425
* [x] 1. Introduction: Michael S #421
* [x] 2. Cadence Experiments:
  * [x] Baseline cadence: Ashish #422
  * [x] Alternative strategies: Will C #423
  * [x] Rolling Cadence: Eric G #424
* [x] 3. Solar System:

[2016-04-15 18:41] tanguita commented on #265
Hi  @AstroVPK, is it closed? does the text look ok? if so, we could just close this issue.

[2016-04-15 18:43] AstroVPK commented on #265
Looks fien. Let's close the issue!

[2016-04-15 18:49] #265 closed

[2016-04-16 00:37] rhiannonlynne commented on #162
Starting opsim run after attempt to match requirements in changes to config files.

[2016-04-16 02:49] rhiannonlynne opened #308 "New Simulations-Announcements tool"
To help keep simulations users up to date with important news from the LSST Simulations team, we’ve started a “Simulations Announcements” subcategory on the LSST Community forum (https://community.lsst.org/c/sims/sims-announce).
This forum category will be used to post announcements of new software releases, new sets of Opsim Cadence experiments, as well as provide advance notice of schema changes

[2016-04-17 00:18] jasondrhodes commented on #293
@drphilmarshall I will discuss the proposed WFIRST SN section with @rubind this week at a WFIRST meeting in Princeton.  I am also still unsure how we want to turn the WFIRST HLS coverage into a FoM.  The real issue is optimal joint timing of the surveys (WFIRST and LSST) as we will eventually get to the full depth in both, by definition.

[2016-04-17 18:52] keatonb commented on #247
To update: this metric exists now in sims_maf_contrib.  I will work on adding some description to the white paper by the final draft deadline.

[2016-04-19 19:45] rhiannonlynne commented on #292
The names are changed on master of sims_maf, although they are not yet in the conda or eups distrib releases. (there will be an announcement about that on sims-announcements when that happens).

[2016-04-19 19:45] #292 closed

[2016-04-19 23:35] rhiannonlynne commented on #162
The Normal Galactic Plane opsim run completed and is available from the links at
http://astro-lsst-01.astro.washington.edu:8080/
You can see that the galactic plane run is called 'astro_lsst_01_1004' (sorry for the terrible names).
The sqlite link is
http://astro-lsst-01.astro.washington.edu:8080/db_gzip/astro_lsst_01_1004_sqlite.db.gz
The standard MAF analyses for this run are also available at:

[2016-04-19 23:35] #162 closed

[2016-04-21 19:51] willclarkson opened #310 "MW Astrometry section (Chapter 4.4): figures need replacing with 2016-era OpSim runs"
@willclarkson @akvivas @migueldvb

After @migueldvb 's update to the database names, the Astrometry Metric spatial maps are no longer consistent with the text.

Those figures need replacing with their equivalents for minion_1016 and minion_1020 .

I believe Ops2_1020 also needs replacing with minion_1020.

[2016-04-25 05:57] #223 closed

[2016-04-25 05:57] #294 closed

[2016-04-25 06:03] drphilmarshall commented on #255
@bethwillman @connolly In #320 I revamped the preface and introduction of the Observing Strategy white paper to reflect the living document concept discussed and agreed upon at the [April 14th editorial meeting](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ) - would you mind taking a quick look and letting me know if you think this is good enough for internal revi

[2016-04-25 06:13] drphilmarshall commented on #306
Hi all! On Thursday we meet to appraise the final draft of our Observing Strategy white paper, the one that we will start internally reviewing next week. In #320 I revamped the introduction and preface to reflect our understanding of what the white paper is for, and tried to tighten up the scheme for science sections and their scope. Comments welcome in #255 .

I'll revisit it the introduction aft

[2016-04-25 15:19] willclarkson opened #321 "New material for Chapter 5.6 pending from chapter 4?"
Hi @AshishMahabal and @lmwalkowicz -

@pmmcgehee is contributing some interesting material on detecting Young Stars through Variability. Because of the way Peregrine has arranged his contribution, in the current whitepaper version this now appears as Section 4.4 (since Pull Request #391). @pmmcgehee has promised more input later today (Monday), so we are holding off on making changes (like refacto

[2016-04-25 16:44] pmmcgehee commented on #321
I am glad to hear that there are additional authors supplying material pertaining to young stars. My first draft was essentially the Science Book section dealing with FU Orionis stars. If @phartigan has included more on WTTS and CTTS detection that would be great.

I have not created metrics, but these would follow previous project work on periodic and non-periodic variable stars.

[2016-04-25 19:58] rhiannonlynne commented on #295
We've got a preliminary version up and running here:
https://sims-maf.lsst.io/

This will be where this documentation lives going forward, at least for an indefinite while (this is part of the new "LSST the docs" setup).
We'll of course add more MAF documentation as it's available, and hopefully make it a bit more presentable by Friday, but this does give you the available metrics list, including

[2016-04-25 20:01] rhiannonlynne commented on #295
Are all the metrics people using pushed to sims_maf_contrib?

[2016-04-25 20:05] keatonb commented on #295
I'm still wrapping one up that I will push in the next ~day.

[2016-04-26 01:18] AshishMahabal commented on #321
@willclarkson that will be wonderful (merging @pmmcgehee 's part in to 5.6). Thanks!

[2016-04-26 01:39] willclarkson commented on #321
Thanks @AshishMahabal !

I believe @phartigan has been working on new material for your Section 5.6 separately, over the past few days. I wasn't aware that that material was so close to submission when I opened this issue this morning.

To minimize the chance of anything being accidentally overwritten, I recommend waiting until @phartigan has had a chance to submit the pull request for the content

[2016-04-26 01:42] pmmcgehee commented on #321
Sounds like a good plan...

Peregrine

On Mon, Apr 25, 2016 at 6:40 PM, Will Clarkson <notifications@github.com>
wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-04-26 17:17] #67 closed

[2016-04-26 19:17] zodoctor commented on #286
My name is Zoheyr Doctor and I am working on the gravitational waves section. My user name is zodoctor

[2016-04-26 22:34] drphilmarshall commented on #255
OK, closing this for now, and we'll see what the reviewers say. Thanks!

[2016-04-26 22:34] #255 closed

[2016-04-26 22:40] drphilmarshall commented on #306
Nice work, all - we're getting there! The Final Draft milestone is now 22% complete, with 67 issues still open. All of these need to be either closed or moved to a different milestone by Thursday 0900 PDT - good luck everyone!

[2016-04-26 22:49] drphilmarshall commented on #321
Pat, are you aware of the timeline this week? Science sections are getting audited tomorrow, so that a "Final Draft" can be prepared for the editors to look at on Thursday morning. If you are not ready to submit a pull request yet, that's OK - I will simply audit what I *can* see, in the Galaxy chapter, and trust that yours and Peregrine's stuff can be merged together later, somehow. Thanks all!

[2016-04-26 22:51] #240 closed

[2016-04-26 22:52] #171 closed

[2016-04-26 22:54] pmmcgehee commented on #321
Good luck, all. I've finished my contributions, at LAX waiting on a Paris
flight....

Best wishes
Peregrine
On Apr 26, 2016 3:49 PM, "Phil Marshall" <notifications@github.com> wrote:

Pat, are you aware of the timeline this week? Science sections are getting
audited tomorrow, so that a "Final Draft" can be prepared for the editors
to look at on Thursday morning. If you are not ready to submit a pu

[2016-04-26 22:54] drphilmarshall commented on #295
Love it, Lynne! Check out our list of contributed metrics:
https://sims-maf.lsst.io/metricList.html#contributed-mafcontrib-metrics
 Very cool seeing everyone's work up there in readthedocs :-) Thank you!

On Mon, Apr 25, 2016 at 3:05 PM, Keaton Bell <notifications@github.com>
wrote:

[2016-04-26 22:55] ebellm commented on #113
We decided against a metric for the whitepaper; PR #335 summarizes the science case.

[2016-04-26 22:55] #113 closed

[2016-04-26 22:55] #104 closed

[2016-04-26 23:01] ebellm commented on #205
Hi @willclarkson: this is an old issue and I see that you have done a lot of nice MAF work in the MW chapter--is there any specific linkage or discussion you want to see in the Whitepaper?

[2016-04-26 23:02] willclarkson opened #340 "sn.tex -- Missing file figs/transients/LSST_Kasen_lcv0.pdf ?"
Hi sn.tex editors (I think @fedhere ?) - Can you check to make sure that file figs/transients/LSST_Kasen_lcv0.pdf gets added to the repository please? I am getting a "file not found" error in the build when latex tries to find that file:

LaTeX Warning: File `figs/transients/LSST_Kasen_lcv0.pdf' not found on input line 174.

Thanks!

Will

[2016-04-26 23:10] willclarkson commented on #205
Hi @ebellm (cc @akvivas) - That issue was us trying to work out what wheels we didn't need to reinvent for the Galaxy chapter; our vision was to build compound metrics / Figures of Merit that called the metrics you guys were developing for the transients and variability chapters. In the interim we went with @yoachim 's TransientMetric for our simple GalacticSupernova Figure of Merit. But, a number

[2016-04-26 23:14] ebellm commented on #205
Sounds good.  We likewise have stuck mostly with simple metrics for the whitepaper, but yes, let's explore useful overlap going forward...

[2016-04-26 23:17] willclarkson commented on #205
Hi @ebellm - OK great. I'll close this issue for now, but we can pick this up a little later on.

cc @akvivas

[2016-04-26 23:17] #205 closed

[2016-04-26 23:58] phartigan commented on #321
Hi,

Thought I submitted this last night and was waiting to see what
response there was.
I can finish up the paragraphs if that's what you're looking for. I will
need to know how to embed figures and add references in your preferred format.
Let me know.

ph

[2016-04-27 00:12] willclarkson commented on #321
Hi @phartigan - aha, it looks like your file went to the ObservingStrategy/files directory instead of the whitepaper itself, so we probably missed it (I know I did!). Thanks for this correction!

I recommend putting the content in your lsst_blurb.txt into youngstars.tex and then submitting to the whitepaper repository as a pull request. I'm happy to do this action if you like.

Figures are stored

[2016-04-27 01:55] tanguita commented on #250
I updated the text to cover at least the first two points... don't know whether you want to close this one.

[2016-04-27 02:19] phartigan commented on #321
Hi Will,

I'm not surprised. I've not used github before and I've found its setup
rather arcane, though I'm sure it is second nature once you get used
to it. Go ahead and pull/merge whatever to update youngstars.tex.

Since there doesn't seem to be time for feedback, let me just
forge ahead and make this a self-contained document, with figures
and references. Then I'll either try the pull thing ag

[2016-04-27 02:25] willclarkson commented on #321
Thanks @phartigan - it sounds like making the self-contained .tex file is the way to go. I will be able to merge that as youngstars.tex tomorrow morning (Weds Apr 27th - I'm in the EDT time zone) if you like (unless @AshishMahabal or @lmwalkowicz want to).

Figures: in Chapter 4 we've been using .png and .pdf for figure files. I don't think there are any examples of .eps figures in the repository,

[2016-04-27 02:44] phartigan commented on #321
pdf it is!

I'll work on this and email it by tomorrow morning.

ph

[2016-04-27 03:03] AshishMahabal commented on #321
@willclarkson, please go ahead (@phartigan , @akvivas , @lmwalkowicz )

[2016-04-27 04:13] keatonb commented on #247
I sent a pull request with the new contents that describe this analysis.  This issue can be closed when that request goes through.

[2016-04-27 04:49] fedhere commented on #340
done

[2016-04-27 04:49] #340 closed

[2016-04-27 08:20] phartigan commented on #321
Dear Will,

Attached are
1. the new youngstars.tex section
2. Three pdf figures.

This should all be self-contained. I also made a pull request
but I don't know if that worked. In order to attach the three figures
I had to close the pull request so perhaps that killed it.
Please insert this if needed.

Thanks

ph

[2016-04-27 13:05] willclarkson commented on #321
Hi Pat - I have added your new *youngstars.tex* into the repository. Thanks
for the contribution!!! A few notes:

*1. *I recommend bringing down the repository version of youngstars.tex
before making further edits, I had to make a few minor alterations (close
braces, fix runaway \bf etc) to fix compilation errors. If you have not yet
"forked" the repository, you can get the latest version of the e

[2016-04-27 14:03] akvivas commented on #301
SDSS spelled out in section 4.2 .Closing.

[2016-04-27 14:03] #301 closed

[2016-04-27 14:11] akvivas opened #351 "Galactic plane as a "Tension""
Hi @StephenRidgway, I just read chapter 12 and it looks excellent. However, would you consider to include the science in the galactic plane as an additional "tension"? Some science cases in the plane require a cadence similar to the WDF at low galactic latitudes. cc. @willclarkson

[2016-04-27 14:16] fedhere commented on #351
i think @chomiuk who is a TVS member would be interested in this issue

[2016-04-27 14:33] willclarkson commented on #211
Closing this issue. Thanks @yoachim !

[2016-04-27 14:33] #211 closed

[2016-04-27 14:33] willclarkson commented on #310
Closed - figures updated and references updated throughout Chapter 4.

[2016-04-27 14:33] #310 closed

[2016-04-27 14:35] willclarkson commented on #182
This initial reordering was done, closing this issue.

[2016-04-27 14:35] #182 closed

[2016-04-27 14:37] willclarkson commented on #85
@drphilmarshall and @StephenRidgway -- I believe @keatonb has submitted material on cool-star variability to Chapter 6, so I think this issue can be closed.

@keatonb , is this accurate?

Thanks!

Will

[2016-04-27 14:39] willclarkson commented on #206
I believe this issue has expired. See the current version of 4.1 for more.

[2016-04-27 14:39] #206 closed

[2016-04-27 14:42] willclarkson commented on #202
Strawman figures of merit for Dust have been added to the Dust section description. I'm closing this issue for now, with the expectation that more detailed development will take place once the FoM is actually implemented.

[2016-04-27 14:42] #202 closed

[2016-04-27 14:45] willclarkson commented on #126
Implemented for all sections in Chapter 4 (with the exception of MW_SFH.tex, whose eventual configuration is still under discussion).

[2016-04-27 14:45] #126 closed

[2016-04-27 14:46] willclarkson commented on #118
Closed for now... Bulge content moved to the "Ongoing Developments" section of Chapter 4.

[2016-04-27 14:46] #118 closed

[2016-04-27 14:46] willclarkson commented on #117
Issue has expired. Some variability information is in Section 4.3.

[2016-04-27 14:46] #117 closed

[2016-04-27 15:16] keatonb commented on #85
No, I submitted content about cool pulsating white dwarfs, not starspot modulation and such sources of variability in cool (main sequence) dwarfs.  I think that this is what the *empty* subsection of Chapter 5 "Age-Mapping the Galaxy Using Gyrochronology" was meant to address, but no one wrote any content.  Sorry it's not my area of expertise.

[2016-04-27 15:20] willclarkson commented on #85
My mistake, I must have read the discussion in a hurry...
It sounds like the material on starspot modulation is still under development then for Chapter 5.

[2016-04-27 15:37] StephenRidgway commented on #351
Hi @akvivas , Thanks for this very important comment.  Though I mentioned mini-surveys, I did not point out that the demand for mini-survey time is in competition with many things.  I will put something about that with an example of two.

Stephen

[2016-04-27 15:54] akvivas commented on #249
Comments added. Closing.

[2016-04-27 15:54] #249 closed

[2016-04-27 17:14] drphilmarshall commented on #250
Thanks Timo! I still have the time delays section to edit, so I'll close this when I've done that.

[2016-04-27 17:28] drphilmarshall commented on #247
Hooray @keatonb ! Closing thanks to #346 :-)

[2016-04-27 17:28] #247 closed

[2016-04-27 17:40] drphilmarshall commented on #321
Thanks all - I see a very nice young stars section 5.7, ready for editing together with 4.4. Thanks for the feedback, @willclarkson - I'll consider the figure formatting fix part of this issue. @willclarkson are you working on bringing 4.4 into 5.6? I will skip over 4.4 in my audit, on the assumption that @pmmcgehee 's content will end up in 5.6 thanks to your efforts.

@phartigan Well done for be

[2016-04-27 17:41] drphilmarshall commented on #301
Hey, thanks Kathy! :-) :-)

On Wed, Apr 27, 2016 at 7:03 AM, Kathy <notifications@github.com> wrote:

[2016-04-27 17:43] drphilmarshall commented on #202
Good plan.

On Wed, Apr 27, 2016 at 7:42 AM, Will Clarkson <notifications@github.com>
wrote:

[2016-04-27 17:45] drphilmarshall commented on #249
Good - thank you, Kathy!

[2016-04-27 17:51] StephenRidgway commented on #351
Added section called "Mini-surveys and Main Survey - Tension for Sure" and merged.

[2016-04-27 17:51] #351 closed

[2016-04-27 17:51] drphilmarshall commented on #162
Thanks very much for doing this run, Lynne!

On Tue, Apr 19, 2016 at 4:35 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-04-27 18:04] drphilmarshall opened #355 "Normal Galactic Plane cadence evaluation discussion"
@willclarkson @akvivas @caprastro @bethwillman

Hi Galaxy Fans! I just saw in #162 that @rhiannonlynne finished the new OpSim run with the galactic plane observed at "normal" cadence, as per Jay's suggestion. While I work on auditing your white paper sections, we might like to start discussing how and when to analyze this data, and also how to publish the results. I'm assuming this would be a summ

[2016-04-27 18:08] phartigan commented on #321
I'm afraid GitHub won our cage match...

[2016-04-27 18:20] phartigan commented on #321
Hi Will,

I did forks and branches and commits at some point, but I'm never sure
where I am in there, and think it got lost. Not surprised there were some
latex glitches, as I didn't actually see it rendered, lacking the
front material that
defines the latex document. So I just typed everything in and hoped it
was close enough to being readable. The figures ought to span the width of
the page. A s

[2016-04-27 18:26] drphilmarshall commented on #351
Thanks very much, Steve! I might add a thought or two on this topic myself
later today - I'll do it by PR so you can see the modifications. It should
be easy to build on such a clear summary.

On Wed, Apr 27, 2016 at 10:51 AM, StephenRidgway <notifications@github.com>
wrote:

[2016-04-27 18:28] drphilmarshall commented on #321
While you're waiting, Pat, have you seen my blockbuster movie "Getting
Started with git and GitHub"? It's linked from the following test repo,
which you are more than welcome to fork and play around with:

https://github.com/drphilmarshall/GettingStarted

Happy to hang out by skype sometime if you ever want someone to look over
your shoulder as you continue the fight!

On Wed, Apr 27, 2016 at 11:2

[2016-04-27 18:35] drphilmarshall commented on #303
Thanks for the tensions and trade-offs chapter, Steve - I'll make some edits before passing to @bethwillman.
@egawiser , feel free to jump in any time, no need to wait for me!

[2016-04-27 18:37] willclarkson commented on #355
Thanks @drphilmarshall - my two cents is that it makes sense to rerun the Figures of Merit on this new run as well and add its column to the summary tables in Chapter 4.

Before doing so, however, I would like us to implement just a few more of the figures of merit currently described in that chapter. There is now a sort of pseudocode for several of the FoMs (particularly in the Disk section), whi

[2016-04-27 18:41] phartigan commented on #321
I went through their tutorial, created a Hello World, forked it, made
branches, and then had a bunch of copies lying around in various directories
with changes here and there. It seemed like a complicated way to do something
rather simple. In the case of LSST it wasn't clear to me who owned what, who
approved what, how long the delay would be before I could view changes etc.
Since there was a dead

[2016-04-27 18:45] willclarkson commented on #125
2016-04-27: I am working on replacing the current skeleton material on microlensing in the disk (Galaxy chapter Section 4.3, in MW_Disk.tex) with more meaningful material. Cheers -- Will

cc @mtpenny @davidpbennett @rachelstreet @akvivas

[2016-04-27 18:48] willclarkson commented on #321
Hi @phartigan - just to reply to your question from a few comments ago: I do not expect to touch youngstars.tex again today, I will be working on Chapter 4 issues.

If you are comfortable enough with github to e.g. change figure boundaries or add the authors to references.bib , please go ahead and do so.

[2016-04-27 19:35] phartigan commented on #321
ok. Am about done with the video. I'll probably give the figures a shot.
I guess I make a fork, and then I edit, commit, and should see
changes, and then
submit a pull request.  My understanding is that clones are only needed if
I'm working locally off-line. Doesn't look like I need to create branches.
Is that correct?

ph

[2016-04-27 19:48] StephenRidgway commented on #321
Hi,

I’m probably the least adept with GIT of any of you.  I don’t know if our setups are similar, but when I get confused I find it clears things up to delete my current files and start over, as follows:

Start in github directory.

	git clone git@github.com:LSSTScienceCollaborations/ObservingStrategy.git

 edit files in the “whitepaper” directory

 	To typeset locally, use "make" in the whitepap

[2016-04-27 20:15] willclarkson commented on #125
I have added material for the main-survey Microlensing in the Milky Way (in MW_Disk.tex "Figures of Merit" section; currently that's Section 4.3.2).

[2016-04-27 20:15] #125 closed

[2016-04-27 20:16] willclarkson commented on #201
Closing this issue for now, as the Figures of Merit are now in a form that should be reasonably straightforward to implement, for all the science cases in MW_Disk.tex .

[2016-04-27 20:16] #201 closed

[2016-04-27 20:52] drphilmarshall commented on #321
No, you've got it Steve. The only difference is that Pat, you should clone
using the .git address of your fork,

    git clone git@github.com:phartigan/ObservingStrategy.git

and then push your edits there, so you can submit a pull request on the
GitHub site. To keep up with the base repo, you'll want to connect to that
as well, via

    git remote add base git@github.com:LSSTScienceColl
aboration

[2016-04-27 21:55] drphilmarshall commented on #293
Hi Chapter Editors,

 Don't forget, we are meeting tomorrow, Thursday April 28, at 0900PDT! I have put a rough agenda into the same [live notes file](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ/edit#heading=h.26drhagt4c0h) that we used last time, please take a look. It has the BlueJeans details in it as well.

The main thing we will do tomorrow is check our read

[2016-04-27 21:57] jasondrhodes commented on #293
Phil I am out tomorrow through Monday but happy to talk next week.

From: Phil Marshall [mailto:notifications@github.com]
Sent: Wednesday, April 27, 2016 2:56 PM
To: LSSTScienceCollaborations/ObservingStrategy <ObservingStrategy@noreply.github.com>
Cc: Rhodes, Jason D (3268) <jason.d.rhodes@jpl.nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [LSSTScienceCollaborations/ObservingStrateg

[2016-04-27 22:49] MichelleLochner commented on #293
Apologies, I'm at a workshop! I will look at the minutes and comment after the meeting.

[2016-04-27 22:52] ebellm commented on #307
I'll volunteer to help with variable objects and/or the Milky Way.

[2016-04-28 01:08] fedhere commented on #307
can we recommend people or fields for our chapters? i think transients would be best reviewed by someone from MW and cosmology, given the overlap

[2016-04-28 01:11] drphilmarshall commented on #307
Please do! That would be most helpful.

On Wed, Apr 27, 2016 at 6:08 PM, federica <notifications@github.com> wrote:

[2016-04-28 01:15] AshishMahabal commented on #307
I will be looking through transients as well.
Eric, thanks for offering to look through the chapter on variables.

[2016-04-28 02:11] AshishMahabal commented on #293
My apologies as well. I am at the "future" surveys meeting in Daejeon welcoming S Korea to LSST and it will be 1 AM here. Beth today and I yesterday told them about the whitepaper and in future versions we will hopefully have contributions from them.

I will be keeping an eye on the repo. and look forward to the comments. For the variables' chapter we still expect a couple of contributions. Lucian

[2016-04-28 03:09] rhiannonlynne commented on #355
It was actually what was proposed, in the end -- WFD cadence where the galactic plane proposal was within the dec limits of the original WFD survey, and original 'galactic plane' cadence for the little spur in the north and to the south of the WFD region.

[2016-04-28 03:14] willclarkson commented on #355
Lynne - great, thank you!!

Will

--

Dr. Will Clarkson
Assistant Professor of Physics and Astronomy
University of Michigan-Dearborn

On Wed, Apr 27, 2016 at 11:09 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-04-28 04:56] #27 closed

[2016-04-28 04:56] #49 closed

[2016-04-28 05:06] drphilmarshall commented on #305
Once the ideas-only sections are moved to "Future Work" sections, it should be easy to figure things out from the table of contents I think.

[2016-04-28 05:06] #305 closed

[2016-04-28 06:08] phartigan commented on #321
Hmm.

As these are all latex documents, to see how things look presumably I'll run
latex on some master file that sources the various .tex and uses some style
file that it finds in the repository. I guess that is what `make' does?
And the output is a .dvi or .eps or .pdf? Does my local latex version
matter, or
is that bundled in the repo as well, with the fonts and everything?

So the purpose of t

[2016-04-28 06:39] drphilmarshall commented on #321
@phartigan

latex on some master file that sources the various .tex and uses some style
file that it finds in the repository. I guess that is what `make' does?

Yes.

matter, or is that bundled in the repo as well, with the fonts and everything?

Output is PDF. Your local latex version is probably OK, give it a try.

Exactly: when working with latex you need to be able to compile the document loca

[2016-04-28 07:00] phartigan commented on #321
ok. I was just working from the fork and found it very annoying - cumbersome
cuts and pastes in their web editor, couldn't see the pdf, confusing branches,
terminology. This way makes a bit more sense, though I suspect I'll have
to go through the ssh-keygen steps.

ph

[2016-04-28 07:08] drphilmarshall commented on #321
It's worth it, to save typing your password all the time. You're right, GitHub makes a lot more sense if you already know about and/or use git from the command line, in place of svn or cvs. If you encounter GitHub before git, then I can see how you might think that the web interface was the main event, rather than just being a nice way to show what's going on with a project that is using git. In s

[2016-04-28 07:29] phartigan commented on #321
Right. ok, in the next few days I'll find time to experiment
with it that mode and shake off my vaguely negative impression of the
web setup.

It seems like this project is sort of on the boundary of needing all this.
In the limit that we all exclusively edit our own sections, then none
of this is needed - we could just email our pieces to the PI and look
at the latest pdf when posted. But I can s

[2016-04-28 10:49] #250 closed

[2016-04-28 10:53] drphilmarshall commented on #293
Morning all! I just finished most of the version 1 audit ( #304 ) via the PR in #367 . I did a fair bit of reorganisation, so please `git pull` ASAP but also carefully! Hopefully you were not editing your files while I was working on them too (I tried to avoid too many conflicts...) We'll look at my PDF in the meeting in any case. See you soon!

[2016-04-28 15:29] drphilmarshall opened #368 "Sections need `\credit{}`s"
@rhiannonlynne can you please accredit each of the Solar System science cases with the (GitHub user)names of the people who did the work, please? I'll put in placeholders for you, commented out. Thanks!

[2016-04-28 15:34] drphilmarshall opened #369 "Double check PHA discovery section following merge with chapter 2 content"
Hi @rhiannonlynne

When auditing the solar system chapter I first moved the PHA analysis section of Chapter 2 (that @ivezic  wrote?) into the Solar System chapter, on the grounds that it fitted better there (it's "science"). Then, you submitted a PR ( #366 ) that seemed to contain a new PHA analysis that supercedes the old one. So, I commented out Zeljko(?)'s and left it in the `SolarSystem_Discov

[2016-04-28 15:38] migueldvb commented on #368
@rhiannonlynne my username is `migueldvb` and I contributed to the comet activity section.

[2016-04-28 16:00] davidtrilling commented on #369
i will do this.

david

On Thu, Apr 28, 2016 at 8:34 AM, Phil Marshall <notifications@github.com>
wrote:

--

=======================================================================
David E. Trilling
Associate Professor
Department of Physics and Astronomy
Northern Arizona University
928-523-5505

[2016-04-28 16:29] fedhere opened #370 "Moving young transients section back out of Future work and into science"
after the discussion in the Apr 28th conf call the Young Transients session passes the criteria to be in "science" since it uses MAF results.

[2016-04-28 16:29] fedhere commented on #370
done

[2016-04-28 16:29] #370 closed

[2016-04-28 16:45] tanguita opened #371 "Upgrade AGN Selection and Census to "Section""

[2016-04-28 17:10] tanguita commented on #371
Done

[2016-04-28 17:10] #371 closed

[2016-04-28 17:14] tanguita commented on #252
Hi @ohadshemmer , can you check whether we can tick the first three check boxes so we can move this issue (the other four check boxes) to a different milestone? I guess there is no time to for the fourth checkbox regarding the newer metrics and the AGN census section.

[2016-04-28 17:15] fedhere opened #373 "defining opsim macros for solar system OpSim runs (e.g., enigma_1281)"
making sure the enigma_1281 run name renders

[2016-04-28 17:15] drphilmarshall commented on #369
Thanks, David!

[2016-04-28 17:16] drphilmarshall commented on #370
pow!

On Thu, Apr 28, 2016 at 9:29 AM, federica <notifications@github.com> wrote:

[2016-04-28 17:18] drphilmarshall commented on #373
Don't forget to use the macros, to enable hyperlinking back to Chapter 2!

On Thu, Apr 28, 2016 at 10:15 AM, federica <notifications@github.com> wrote:

[2016-04-28 17:22] drphilmarshall commented on #306
Hi all! Great talking to you just now. In the meeting, I pointed out that the best way for me to know that your chapter is ready for internal review is for you to either close or re-assign all your issues in the [Final Draft milestone](https://github.com/LSSTScienceCollaborations/ObservingStrategy/milestones). It would be *great* if you could do this today, so that we can meet our deadline and get

[2016-04-28 17:24] ebellm commented on #373
@drphilmarshall We're using the macros; the problem is that one of the runs we compare is no longer in chapter two.  It's the NEO visit triplets: \opsimdb[db:NEOswithVisitTriplets]{enigma\_1281}{NEO test: triplets of visits.}

[2016-04-28 17:24] drphilmarshall commented on #293
@jasondrhodes @AshishMahabal @bethwillman @MichelleLochner
Sorry to miss you this morning. [Notes are here](https://docs.google.com/document/d/1CUTxOnJpiK8eaTC0LriMRlIHD2ig1VObW7lHIzPYwUQ/edit#heading=h.26drhagt4c0h) to help you catch up - thanks very much for all the typing, @ebellm ! :-)

[2016-04-28 17:24] #293 closed

[2016-04-28 17:25] drphilmarshall commented on #303
Slight variation on this plan: I will add my contributions, and then assign this chapter to Eric and Beth (in turn) to check and edit as part of the internal review.

[2016-04-28 17:33] drphilmarshall commented on #272
Hi @rubind @jasondrhodes

As you might have seen, I commented out this section for now when going through my "Version 1 Final Draft" audit ( #367 ), because the pushed version doesn't  have any content yet. It's definitely not too late to contribute something! But it would be great if you could check in what you have ASAP, so that we have time to have someone else from the community review it in e

[2016-04-28 17:37] drphilmarshall commented on #273
Hi @jasondrhodes  I moved your WFIRST intro into the chapter file, `wfirst.tex` in the main `whitepaper` folder. Do a `git pull` and see what you think! Are you ready for your section to be reviewed, or is there a simple approximate quantitative analysis to add, about what you could do even if LSST ran with the baseline cadence? This would help show the path forward to a full metric analysis in la

[2016-04-28 17:44] drphilmarshall commented on #271
@mtpenny @davidpbennett

Thanks very much for this nice WFIRST+LSST microlensing section! It looks to me as though it is almost ready to be reviewed by one of the other white paper editors, am I right?

The only small change I would suggest you make would be to add a statement about the values your metrics would take if you were to use the baseline LSST cadence instead of your proposed special sur

[2016-04-28 17:46] #71 closed

[2016-04-28 17:47] drphilmarshall commented on #196
@egawiser Just a reminder of your task: extract highlights from Awan et al and insert into the white paper, potentially using the discussion section to lay out the next steps in your ongoing investigation. Thanks!

[2016-04-28 17:52] drphilmarshall commented on #321
Hi all:

At the editorial meeting ( #293 ) we decided that @lmwalkowicz would take over Section 5.4 "Discovery and Characterization of Young Stellar Populations", and manually merge together @phartigan and @pmmcgehee 's work - and that this would also count as this section's internal review. Such efficiency! Thanks for doing this, Lucianne. Feel free to ask both @phartigan and @pmmcgehee for clari

[2016-04-28 17:53] drphilmarshall commented on #373
Ah! I see. Feel free to add extra definitions in Chapter 2 as you need them.

On Thu, Apr 28, 2016 at 10:24 AM, Eric Bellm <notifications@github.com>
wrote:

[2016-04-28 17:58] drphilmarshall commented on #355
@willclarkson I think I heard at today's meeting ( #293 ) that you would run the metrics that you already have on `astro_lsst_01_1004` and that would be that for Version 1 of the white paper. Is this something you can do on a timescale of days, or by mid-May? The question is, when to start the internal review of the Disk section.

If analysis of  `astro_lsst_01_1004` is going to appear in Version

[2016-04-28 18:00] drphilmarshall opened #374 "Results vs ideas sections, explained in introduction"
Consensus at meeting ( #293 ) was to allow cases that include any quantitative assessment of specific OpSIM runs as science results sections (with natural goal of actually producing MAF analysis eventually), while science cases without this remain as subsections of the "Future Work" sections.
I will edit the introduction to explain this distinction.

[2016-04-28 18:03] drphilmarshall opened #375 "Condense or split up Milky Way Disk section?"
@willclarkson @akvivas

The Disk section is quite long at the moment, and arguments can be made for either splitting it up, or just condensing the text around the common metrics. It's up to you :-) Please discuss, decide and execute! Thanks :-)

[2016-04-28 18:10] drphilmarshall commented on #184
@knutago @dnidever

Hi there! We missed you at the meeting this morning ( #293 ). When doing my audit ( #304 ), the only science results section I could see in the Magellanic Clouds chapter was the proper motions one, which has ideas for metrics but no quantitative results yet. So, at the moment the MCs chapter consists of a nice introduction, and then a "Future Work" section with the proper motio

[2016-04-28 18:10] willclarkson commented on #375
Hi @drphilmarshall -- @akvivas and myself just discussed this issue. I believe our consensus is to keep the section as-is for the moment (rather than splitting the cases out), with a view to revisit in mid-May once there has been time for our collaborators to work a bit more on evaluating the Figures of Merit in that section. The current structure is one I can imagine going into a refereed publica

[2016-04-28 18:12] rhiannonlynne commented on #355
The basic (standard) MAF analysis of astro_lsst_01_1004 is already done:
http://astro-lsst-01.astro.washington.edu:8080/metricSelect?runId=3
and
http://astro-lsst-01.astro.washington.edu:8080/metricSelect?runId=4
although we do have to add this to the runs available from ops2.

On Thu, Apr 28, 2016 at 10:58 AM Phil Marshall <notifications@github.com>
wrote:

[2016-04-28 18:15] willclarkson commented on #355
Hi @drphilmarshall cc @akvivas - there are two related issues from the discussion, so just to ensure I'm reasonably clear:

1. re-running the Galactic Supernova FoM for astro_lsst_01_1004 should be straightforward, and I will work on that unless I hear otherwise. If however we feel that there will not be time for the authors of Chapter 2 to add the accompanying discussion about that run into Chapt

[2016-04-28 18:26] drphilmarshall commented on #295
I will add a reference to the readthedocs at a suitable location in the white paper.

[2016-04-28 18:28] drphilmarshall commented on #254
Hey @rhiannonlynne and @davidtrilling  - I am going to close this one out, following PR #366 :-)

[2016-04-28 18:28] #254 closed

[2016-04-28 18:29] drphilmarshall commented on #198
My audit ( #304 ) showed no content on photo-zs yet, so I suggest we punt this to white paper version 2! Re-milestoning.

[2016-04-28 18:31] drphilmarshall commented on #197
This section looked in pretty good shape to me - thanks @jmeyers314 ! I'm going to close this, and we'll see what the internal reviewer says :-)

[2016-04-28 18:31] #197 closed

[2016-04-28 18:32] willclarkson commented on #375
Section 4.2 renamed to "Populations in the Milky Way Disk." I'm closing this issue for now.

[2016-04-28 18:32] #165 closed

[2016-04-28 18:35] #141 closed

[2016-04-28 18:36] drphilmarshall commented on #135
@willclarkson Punt this to the Tucson 2016 milestone?

[2016-04-28 18:37] drphilmarshall commented on #131
I see minimoons made it into the Special Surveys chapter - so we can close this out, I think. Hooray!

[2016-04-28 18:37] #131 closed

[2016-04-28 18:38] drphilmarshall commented on #130
I see impactors made it into the Special Surveys chapter - so we can close this out, I think. Hooray!

[2016-04-28 18:38] #130 closed

[2016-04-28 18:38] willclarkson commented on #135
@drphilmarshall I agree. I *think* I've just successfully made that change here...

[2016-04-28 18:39] drphilmarshall commented on #128
Punting this to the Tucson 2016 milestone, following inactivity on photo-zs more generally ( #198 ). Let's not forget this good idea, though! :-)

[2016-04-28 18:40] davidpbennett commented on #271
Hi Phil,

I’m not sure how to figure out whether the baseline LSST cadence would observe the
bulge at all during the WFIRST microlensing campaigns. Is there some tool where I
could input the coordinates of the WFIRST microlensing fields and the dates of the
WFIRST microlensing campaigns and see if there are any such observations?

My understanding was that the default LSST strategy was to avoid th

[2016-04-28 18:40] drphilmarshall commented on #114
The WFIRST chapter is coming along nicely - closing this out!

[2016-04-28 18:40] #114 closed

[2016-04-28 18:43] drphilmarshall commented on #85
I'm going to assume this somehow got fixed. Closing out!

[2016-04-28 18:43] #85 closed

[2016-04-28 18:44] drphilmarshall commented on #73
I assume you have moved on from this!

[2016-04-28 18:44] #73 closed

[2016-04-28 18:46] drphilmarshall commented on #68
@knutago

Hi Knut! Can you please report and close this out? Thank you!

[2016-04-28 18:46] willclarkson commented on #203
I think this discussion has been overtaken by sims_maf_contrib development and also by Chapters 5 & 6... I'm punting this for the Tucson milestone in case there are undocumented features coming soon!

[2016-04-28 18:47] drphilmarshall commented on #120
Hi @rhiannonlynne - can this issue be closed, or punted to the Tucson 2016 milestone? Thanks!

[2016-04-28 18:48] drphilmarshall commented on #74
Closing this while everyone gets on with things - feel free to reopen if this is still actually an issue!

[2016-04-28 18:48] #74 closed

[2016-04-28 18:48] willclarkson commented on #119
Closing since the November 2015 meeting happened some time ago

[2016-04-28 18:48] #119 closed

[2016-04-28 18:52] drphilmarshall commented on #81
The primary mention of "Star / Galaxy Separation" in the current version of the white paper is in the MW Halo subsection of the Milky Way chapter's Future Work subsection, 4.4.2. @willclarkson shoudl we punt this issue to WP version 2 via the Tucson 2016 milestone, or are you hopeful of promoting the MW halo section to the results part of the chapter in the next week or two? Thanks!

[2016-04-28 18:52] drphilmarshall commented on #110
Hey @yoachim ! Did this make it into the MAF documentation at all? Is there a reference we should include in the white paper?

[2016-04-28 18:53] fedhere opened #377 "shrink, tighten up, and add quantitiative statements to LBV section"

[2016-04-28 18:53] willclarkson commented on #81
@akvivas can comment more, but at this stage yes I think this can be punted to Tucson. I don't think that evaluation of the star/galaxy metric is likely by Friday.

[2016-04-28 18:54] fedhere opened #378 "transients SN metric"
run SN metric  in another pair of magnitudes

[2016-04-28 18:55] drphilmarshall commented on #287
Hi @MichelleLochner !

Here are your [open "Supernova Cosmology" issues](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues?q=is%3Aopen+milestone%3A%22Version+1+Final+Draft%22+label%3A%22Supernova+Cosmology%22) - can you see a route to a internally-reviewable section by the end of today? Some condensing of text, choosing of figures *might* be in order as you go, potentially. I h

[2016-04-28 18:56] rhiannonlynne commented on #271
@davidpbennett the baseline cadence doesn't actually avoid the galactic plane - but it does take substantially fewer observations. However, those observations do not necessarily take place during 'prime observing season', due to pressures from other problems and loose constraints on airmass, etc. in the galactic plane proposal.

So: my suggestion would be if you (or someone else) knows MAF --
* se

[2016-04-28 18:57] drphilmarshall commented on #215
Hey @StephenRidgway - I just noticed that the Rolling Cadence section is still in Chapter 2, not Chapter 10! Do you have time to move it and make sure everything makes sense, today?

[2016-04-28 19:00] drphilmarshall commented on #175
Ooh, this issue got well and truly forgotten. The DDFs are chronically under-represented in the current white paper draft as a result. @michaelstrauss @nielbrandt @knutago can any of you work on this over the next week? You'll want to remind yourself of [the original issue](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/175#issue-117929739) I expect!

[2016-04-28 19:00] willclarkson commented on #271
@rhiannonlynne @davidpbennett I would be interested to see how this comes out, since we have some similar considerations in the "microlensing" discussion in Chapter 4.2. Our suggested figures of merit are slightly different than for the WFIRST+LSST microlensing, but it sounds like the same developments would be useful to both chapters!

[2016-04-28 19:02] rhiannonlynne commented on #120
Punt to Tucson 2016 milestone please.

[2016-04-28 19:03] davidpbennett commented on #271
Dear Lynne and Will,

I don�t know MAF, and I don�t think that any of the other microlensing
people do either. Furthermore, you LSST folks have decided that you want
this information during the 2.5 month K2 microlensing campaign. This is
pretty much the most inconvenient time you could pick.

How about if we give you the WFIRST field locations and the WFIRST
microlensing campaign dates, and you fi

[2016-04-28 19:05] kem0cook commented on #271
Sure, send us the dates and fields, and we’ll have a look.

cheers,

Kem

[2016-04-28 19:08] rhiannonlynne opened #379 "Check on solar system chapter content"
Final check / read-through before sending off for version 1 internal review.

Just making sure this issue is here so we can indicate when we're ready!

@davidtrilling @rhiannonlynne

[2016-04-28 19:22] phartigan commented on #321
Not sure if you want to add this, but we have CTIO 4-m DecCam images,
4x60sec at z of Carina, and find significant photometric confusion
for less than 5% of the visible stars down to a limit where the photometry
gets noisy. These images will be slightly deeper than those obtained
with standard LSST cadences. It is hard to quantify this sort of thing
without test images because of extinction. May b

[2016-04-28 19:30] nielbrandt commented on #175
Unfortunately, I am fully saturated this week with travels to
Canada and Spain. My apologies.

On 4/28/16 3:00 PM, Phil Marshall wrote:

--
-------------------------------------------------------------------------------
Niel Brandt; Department of Astronomy and Astrophysics; The Pennsylvania
State University; 525 Davey Lab; University Park, PA 16802 USA
Phone: (814) 865-3509; FAX: (814) 863-3399; O

[2016-04-28 19:35] yoachim commented on #110
Good question!
Looks like I made a stellar density notebook in sims_maf_contrib:
https://github.com/LSST-nonproject/sims_maf_contrib/blob/master/science/static/StellarDensityMap.ipynb

And the ExgalM5 metric is in MAF, so should be part of the full list of metrics documentation.

[2016-04-28 19:40] yoachim commented on #128
I did actually play with this and ran some SDSS galaxy spectra through LSST shifted and unshifted filters.  I think my conclusion was that the shift has to be rather large for there to be a clear peak when emission lines are in the shift region:
https://github.com/yoachim/ScratchStuff/blob/master/filter_shift_photo_z/filter_shift_photo_z.ipynb

[2016-04-28 19:41] akvivas commented on #81
agree.  @ctslater

[2016-04-28 19:43] willclarkson commented on #375
whoops - should have reassigned not closed. Sorry!

[2016-04-28 19:46] rhiannonlynne commented on #110
We'll work on getting some more basic documentation (what is a map, how do you add a map to a slicer) into the MAF online documentation. Currently the resources @yoachim pointed to above are all there is available (the exgalm5 metric source is here
https://sims-maf.lsst.io/_modules/lsst/sims/maf/metrics/exgalM5.html#ExgalM5
but unfortunately that's about as much of an explanation as you can extrac

[2016-04-28 19:54] janewman-pitt-edu commented on #128
As you go to higher z, lower-metallicity, high-EW galaxies will become more prominent (equivalent widths of 500-1000 angstroms aren't unheard of).  I would expect those aren't included in your SDSS sample?

[2016-04-28 20:05] MichelleLochner commented on #287
Hi @drphilmarshall! @rbiswas4 and I were just figuring this out. I would say no, there's no way it can be done today (we're at a supernova workshop until the end of Friday). I agree about condensing. :-) I would say more realistically we can get this done by the early to mid next week. Sorry for dropping the ball! I will ping you once we're done with this.

[2016-04-28 20:08] yoachim commented on #128
yeah, I just grabbed "elliptical", "starforming", and "starburst" spectra. If you have a spectrum, I can drop it in and see what happens at high redshift. I did make a note that the OII emission line will pass though the filter shift region around z=1.

[2016-04-28 20:17] ctslater commented on #81
Agreed. I have a metric that works, but it is basically unverified and needs to be tested against existing data. That process is going slower than I had hoped.

[2016-04-28 20:27] StephenRidgway commented on #215
Hi Phil,

I did not know that it was to be moved.  Sorry I am leaving for the airport now, on a couple days of serious vacation, then at the LSST "Maximizing Science in the Era of LSST” workshop for 3 days.

I think that section is self-contained and could be moved as a chunk, if somebody is willing.  If I see that it has not been moved the next time that I’mfree, I’ll do it - otherwise review it

[2016-04-28 20:36] janewman-pitt-edu commented on #128
I don't have a spectrum directly, unfortunately.

[2016-04-28 21:22] ebellm commented on #373
It looks like the definitions were (re)-moved by @drphilmarshall when he put the NEO completeness discussion in SolarSystem/SolarSystem_Discovery.tex.  It's broken a bunch of references through the solar system chapter as well.  Is the right thing to uncomment the `\opsimdb` definitions in that file, or put them back in cadexp2.tex?

[2016-04-28 21:29] rhiannonlynne commented on #373
Ah - I was just finding that (and thinking that they were still in chap2).
I can't find any of the definitions anymore though. Where are things being defined now?

[2016-04-28 21:35] ebellm commented on #373
They're undefined at the moment, but the actual text is commented out at the bottom of SolarSystem/SolarSystem_Discovery.tex

[2016-04-28 21:36] rhiannonlynne commented on #373
Actually, now I'm very  confused. Where did the material that was describing enigma_1281 and enigma_1282 end up?  I think that basic description needs to go back into chapter 2, as there is more than just the solar system chapter referring to these runs. We can take out the specific parts which talk about completeness, as those particular topics are covered in the solar system chapter.

However, I

[2016-04-28 21:37] rhiannonlynne commented on #369
I need to do a bit of this now - to move the basic description of the enigma_1281/enigma_1282 runs back into chapter 2.
I'll reassign it to David after I do that much, so he can see if there is material from the PHA section which should go straight into our discovery section.

[2016-04-28 21:44] ebellm commented on #373
I think our comments crossed--if you look at the bottom of SolarSystem/SolarSystem_Discovery.tex, there's a large block of commented-out text, and the material for enigma_1281 and enigma_1282 is in there--search for `NEOswithVisitTriplets` for instance.

[2016-04-28 21:46] rhiannonlynne commented on #373
Yes- found it! I'm working on this. I'll submit a PR within the hour - ok?

[2016-04-28 21:57] drphilmarshall commented on #373
Ahhh - I guess they all have to be in cadexp2, so they can appear in the
table there. Sorry about this!

On Thu, Apr 28, 2016 at 2:22 PM, Eric Bellm <notifications@github.com>
wrote:

[2016-04-28 21:58] drphilmarshall commented on #369
Thanks Lynne. Sorry for breaking things! Note that @ebellm and @fedhere are
working on the same problem, in #373

On Thu, Apr 28, 2016 at 2:37 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-04-28 21:59] ebellm commented on #373
Thanks Lynne!

[2016-04-28 22:01] willclarkson commented on #355
Hi @drphilmarshall - it looks like I will be able to get the re-run of the Galactic Supernova done for astro_lsst_01_1004 by early afternoon Friday, then would need to insert it into the chapter. If that's too late for the v1 milestone, this issue could be punted to the v2 Tucson milestone.

[2016-04-28 22:04] drphilmarshall commented on #355
Sounds good, Will - thanks for hustling! I will wait until I see all
Galaxy-labelled issues closed or punted before assigning a reviewer.

Thanks for the pointers to the std analysis, Lynne! What would you tweet as
being the major impact of the extra galactic plane coverage?

On Thu, Apr 28, 2016 at 3:01 PM, Will Clarkson <notifications@github.com>
wrote:

[2016-04-28 22:05] drphilmarshall commented on #120
Wheeee! :-)

On Thu, Apr 28, 2016 at 12:02 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-04-28 22:09] drphilmarshall commented on #175
Thanks for letting us know, Niel!

On Thu, Apr 28, 2016 at 12:30 PM, William Nielsen Brandt <
notifications@github.com> wrote:

[2016-04-28 22:10] drphilmarshall commented on #375
This is fine with me. Thanks both!

On Thu, Apr 28, 2016 at 12:44 PM, Will Clarkson <notifications@github.com>
wrote:

[2016-04-28 22:11] drphilmarshall commented on #110
OK, thanks! Should this be a MAF or sims_maf_contrib issue instead? I'll leave that with you to ponder! :-)

[2016-04-28 22:11] #110 closed

[2016-04-28 22:14] drphilmarshall commented on #287
OK, sounds good! My advice is: be aggressive in getting the section into shape. The sections in the white paper will be in a range of states of completeness, almost by definition. You just need to get your section to the point where you would like one of us to read it and give feedback, so that in turn you can produce something that could in principle be posted to the arxiv very soon after May 27t

[2016-04-28 22:15] drphilmarshall commented on #81
Cool! Arizona here we come :-) Good luck with the testing, Colin! We're rooting for you :-)

[2016-04-28 22:18] drphilmarshall commented on #215
I'll take it on then - I love refactoring modular code :-) Have a good vacation, Steve!

[2016-04-28 22:20] drphilmarshall commented on #373
<sheepish>

Thanks for cleaning up - I should have commented the solar system latex
better, sorry. You are on the right track though. Thank you!

On Thu, Apr 28, 2016 at 2:59 PM, Eric Bellm <notifications@github.com>
wrote:

[2016-04-28 22:28] #295 closed

[2016-04-28 22:37] rhiannonlynne commented on #373
Hey Phil - I want to discuss enigma_1281 and enigma_1282 together in the same section as they're so similar, but I'm having a formatting problem.  If I put the
\opsimdb[db:NEOswithVisitTriplets]{enigma\_1281}{NEO test: triplets of visits.}
in the tex, then I get a line between the two opsim names, before I get the discussion of them both.

Is there a way to turn that off right there?
I'm going to

[2016-04-28 22:40] #374 closed

[2016-04-28 22:46] rhiannonlynne commented on #368
Done - PR in
https://github.com/LSSTScienceCollaborations/ObservingStrategy/pull/381

[2016-04-28 22:46] #368 closed

[2016-04-28 22:46] #297 closed

[2016-04-28 22:47] rhiannonlynne commented on #373
PR in
https://github.com/LSSTScienceCollaborations/ObservingStrategy/pull/381

[2016-04-28 22:50] rhiannonlynne commented on #369
Somewhat addressed in https://github.com/LSSTScienceCollaborations/ObservingStrategy/pull/381

@davidtrilling we should decide if we want the more specific PHA analysis that Zeljko had run through (or perhaps just to salvage some of his text) into our chapter.
He was looking at PHAs, I did NEOs in our section. He did some more specific stuff relating to completeness at H=22, I did a more general o

[2016-04-28 23:19] ebellm commented on #373
Thanks Lynne!  Looks great now.

[2016-04-28 23:19] #373 closed

[2016-04-28 23:28] #215 closed

[2016-04-28 23:29] drphilmarshall commented on #215
Becuase the rolling cadence section makes use of 4 existing OpSIm outputs, I decided it needs to stay in chapter 2. I did some editing of it, still!

[2016-04-28 23:32] drphilmarshall opened #384 "Quick question about Swiss Cheese rolling cadence OpSim runs"
@kem0cook

As I understand it, `ops2_1102`, `enigma_1260` and `enigma_1261` are all "Swiss Cheese'' rolling cadence simulations - but what's the difference between them? From Steve's plots I infer that `ops2_1098` is somehow a control run, with uniform cadence to compare with the rolling cadences - but what are its defining characteristics? Thanks Kem!

[2016-04-28 23:56] #304 closed

[2016-04-29 00:10] drphilmarshall commented on #175
@knutago - in the last part of my audit ( #304 ) I cleaned up the special surveys section so it is at least presentable. In its current state it makes no mention of the Deep Drilling Fields.  If you have a few mins, maybe give the PDF a quick browse and give us your opinion on whether the white paper *needs* to discuss the deep drilling fields in any other context than the science sections and cha

[2016-04-29 00:12] rhiannonlynne commented on #175
Relevant, but maybe not something that has any need to go into version 1 of
the paper:
https://community.lsst.org/t/deep-drilling-whitepapers/732

On Thu, Apr 28, 2016 at 5:11 PM Phil Marshall <notifications@github.com>
wrote:

[2016-04-29 00:18] drphilmarshall commented on #175
Thanks Lynne! Added a footnote with this link.

[2016-04-29 00:39] rhiannonlynne commented on #355
Well, you get about the same number of total visits in the overall survey, and you get about the same slew time. Probably because of how the scheduler in opsim prioritizes things, observations for other proposals don't seem affected very much.
However, you do get slightly fewer visits per 'WFD' field in the NormalGalacticPlane run -- understandable because you're including more fields in the 'WFD'

[2016-04-29 00:51] willclarkson commented on #355
Thanks @rhiannonlynne !! For what it's worth, the other test I am trying to get finished at the moment is to break down the standard Astrometry metrics by spatial region from pre-computed metrics (and therefore evaluate Astrometry Figures of Merit 1.1-1.4). That'll provide an estimate of the impact on astrometry to the plane and to non-plane regions directly.

Thanks to help from @yoachim I think

[2016-04-29 00:57] drphilmarshall commented on #355
Excellent - very interesting, thanks Lynne! cc @egawiser

On Thu, Apr 28, 2016 at 5:51 PM, Will Clarkson <notifications@github.com>
wrote:

[2016-04-29 01:11] egawiser commented on #289
I wonder if at this point this should be updated to the now-standard minion runs?  Postponing the milestone to May 5 internal review, pending @MichelleLochner 's decision on whether to close this issue.

[2016-04-29 01:12] egawiser commented on #290
Sounds urgent, but @drphilmarshall told us on today's telecon that we should either complete things or postpone the milestone, so given that you're at a conference, I'm doing the latter.

[2016-04-29 01:14] egawiser commented on #159
Not sure of the status of this - @jhrlsst, please close out the issue if this has been done i.e. transferred to the Suggestions for New OpSim Runs board.  In the meantime, I'm postponing the Milestone to May 5 internal review.

[2016-04-29 02:30] AshishMahabal commented on #203
Agreed. Unless @lundmb has additional comments, this can be closed ( @lmwalkowicz )

[2016-04-29 02:39] davidpbennett commented on #271
Hi,
   Here are the answers from Chris Hirata:

The seasons are currently Feb 13 - Apr 26 and Aug 16 - Oct 27 of each year. The boundaries may vary at the ~ +/-2 day level as we adjust the coordinates of the "bulge" fields. A larger change is possible if we move the FoR.

The selection of 6 seasons based on the earliest possible launch date (August 2024) would be (northern) Spring 2025, Fall 2025,

[2016-04-29 02:43] AshishMahabal commented on #138
This has stayed orphan and will not figure in the current version, but should be part of future science. @drphilmarshall are we also moving issues to "future science" or just noting them somewhere and closing them here? @lmwalkowicz @lmacri

[2016-04-29 02:48] janewman-pitt-edu commented on #198
Andy's working on this with Melissa Graham -- we've been emailing about it today, in fact.

[2016-04-29 02:59] knutago commented on #175
Sorry for lack of response, have been swamped!  I will look at this tomorrow

[2016-04-29 17:23] connolly commented on #198
We have some early results on scaling of photoz errors with survey
progress  but not in the form of a metric. What are the next milestone
dates?

On Thu, Apr 28, 2016 at 7:48 PM, janewman-pitt-edu <notifications@github.com

[2016-04-29 18:28] rhiannonlynne commented on #379
I think we're ok with the general content.

[2016-04-29 18:28] #379 closed

[2016-04-29 18:31] rhiannonlynne commented on #369
@drphilmarshall we're going to move this PHA text to its own subsection. But -- I need to do some text editing to make it match the pattern for the other subsections. I don't think it's that much to do, but I have some other things I have to finish out first today. If I close this on Monday, will that work?
Otherwise, we could just leave this section out (but it's kind of a pity, because the metri

[2016-04-29 18:32] willclarkson commented on #355
I have implemented Astrometry Figures of Merit 1.1-1.4 (proper motion and parallax uncertainty for the inner plane and main-survey respectively) to allow direct comparison of the impact of better plane coverage on the rest of the survey. It turns out to be fairly low, although more work is needed.

Table 4.7 values have been filled in for Baseline, PS1 and WFD-plane, a figure has been added showin

[2016-04-29 19:19] willclarkson commented on #355
The Galactic Supernova figure of merit has also been evaluated for WFD-plane (astro_lsst_01_1004), and the results included in section 4.2.3 and Table 4.6. This is probably a fairer comparison to Baseline than the PS1 cadence because it visits the same regions of the sky as Baseline (minion_1020 does not try to include dec < -60 or so).

[2016-04-29 19:39] janewman-pitt-edu commented on #198
As I understand it, it�s OK to present a plan for a metric at this point, rather than the metric itself.

Best,

Jeff

On Apr 29, 2016, at 1:23 PM, Andrew Connolly <notifications@github.com> wrote:

[2016-04-30 12:02] rhiannonlynne commented on #369
Done.

[2016-04-30 12:02] #369 closed

[2016-04-30 18:40] ohadshemmer commented on #252
Hi @tanguita , I think we can check boxes #1, 3, 4, and 8 from above. The others will have to wait for the "Future Work" section.

[2016-05-01 22:12] drphilmarshall commented on #290
Good. This might be something your reviewer comes back to you and asks for,
so you could think of adding it "during review".

On Thu, Apr 28, 2016 at 6:12 PM, Eric Gawiser <notifications@github.com>
wrote:

[2016-05-01 22:17] drphilmarshall commented on #138
I'm happy for you to make a note of this idea wherever you like, either in
your Future Work section, or just in your own notes, as long as you close
or postpone this issue ASAP :-)

On Thu, Apr 28, 2016 at 7:43 PM, Ashish Mahabal <notifications@github.com>
wrote:

[2016-05-01 22:19] drphilmarshall commented on #379
Hooray, Solar System! A completed chapter, ready for review :-) Thanks for
all your efforts, all.

On Fri, Apr 29, 2016 at 11:28 AM, Lynne Jones <notifications@github.com>
wrote:

[2016-05-01 22:42] drphilmarshall commented on #369
Nice work, Lynne - the solar system chapter is looking really good.

On Sat, Apr 30, 2016 at 5:02 AM, Lynne Jones <notifications@github.com>
wrote:

[2016-05-01 22:47] drphilmarshall commented on #198
Yeah, that's right - and if you have quantitative results that depend on
any OpSim-output quantity, that qualifies as a result and your own section
(rather than an entry in "Future Work"). I don't see any content in
`Cosmology/photoz.tex`, so I'm going to assume this will be a late entry to
version 1 at best, and more likely a contribution to version 2. Deadline
for the final draft was Thursday, a

[2016-05-02 00:26] tanguita commented on #252
Hi @ohadshemmer ,

Done... moved to the Tucson project and community meeting 2015

[2016-05-02 16:00] phartigan commented on #321
Hi,

A couple of questions...

I seem to have the ssh-keygen working. and successfully downloaded my
github fork
to my local machine with the clone command. However...

As I feared, 'make' does not work locally because it uses a style file that
is not in my latex package. It fails on subcaption.sty.  I found
subcaption.sty
on the web and put it in the directory with my other .sty files, but now it

[2016-05-02 16:04] lmwalkowicz commented on #321
Hey Pat,
Going over the text and editing it is actually on my plate at the moment--
I took it on at the editorial meeting and will be working on it this week.
Cheers
L

On Mon, May 2, 2016 at 11:00 AM phartigan <notifications@github.com> wrote:

[2016-05-02 16:06] pmmcgehee commented on #321
That's great,  Lucianne...

Peregrine

On Mon, May 2, 2016 at 6:04 PM, Lucianne Walkowicz <notifications@github.com

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-02 17:13] phartigan commented on #321
sounds good. What's there looked like blocks of text and did not flow, but
if the merge is not done then I won't worry about it. Looks like I have
more to learn/setup anyway before I can incorporate changes.

My sense is that FU Oris and the like will be found as a matter of
course with any
standard cadence. I think the main contribution will be that LSST will be
able to routinely follow >10^4 TTS

[2016-05-02 17:52] pmmcgehee commented on #321
There will be similar statistics for the EXors, which have outburst
timescales more on the order of years.

P

On Mon, May 2, 2016 at 7:13 PM, phartigan <notifications@github.com> wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-02 17:57] rhiannonlynne commented on #321
Re: Updating your fork of the LSSTScienceCollaborations/ObservingStrategy
whitepaper

You can do this in two ways.
1 - If you do not have content in your fork which is different from the
main repository, and you don't care about your fork, you could delete your
fork (go to your fork's repository on github, go to 'Settings', then look
for "Delete Repository". You will get a big warning, but you can

[2016-05-02 18:13] willclarkson commented on #355
Hi @rhiannonlynne and @drphilmarshall -- where did we land on including **astro_lsst_01_1004** in the whitepaper? From what I read above I think this would require: 1. adding an \opsimdbref definition for astro_lsst_01_1004, and 2. Including some words in Chapter 2 to describe this run. Are those changes likely to happen by mid-May?

[2016-05-02 18:20] rhiannonlynne commented on #355
I can do that by mid-May, given that you have gotten so far evaluating the other implications for astrometry and galactic supernova.

At some point we need to think how to make sure that everyone runs their relevant metrics on all of the runs under consideration (probably this needs to be something taken on by the MAF crew at UW, once everything is well defined with metric to be run).

(@drphilmar

[2016-05-02 20:04] phartigan commented on #321
yes, and both should be found easily

[2016-05-02 20:07] phartigan commented on #321
Thanks, I'll try this. I was reforking, and as you note, it was unhappy.

[2016-05-02 20:35] pmmcgehee commented on #321
true enough... although characterization of TTS color variations might be
problematic due to complex and irregular variability.

On Mon, May 2, 2016 at 10:04 PM, phartigan <notifications@github.com> wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-03 01:37] phartigan commented on #321
I don't expect the colors to behave necessarily so they can be picked out
in some clever color-color-amplitude-time diagram. But if they are in
a star formation
region and they suddenly brighten by 2 magnitudes we will see them easily
With LSST. The LSST depth is such that enough such objects are being monitored
that we ought to finally be able to get some statistics on the longevity
and frequency

[2016-05-03 02:55] jasondrhodes commented on #272
Phil-  Have you gotten what you need yet?  I just got back from a few days off and want to make sure you have what you need.

Jason

From: Phil Marshall [mailto:notifications@github.com]
Sent: Thursday, April 28, 2016 10:34 AM
To: LSSTScienceCollaborations/ObservingStrategy <ObservingStrategy@noreply.github.com>
Cc: Rhodes, Jason D (3268) <jason.d.rhodes@jpl.nasa.gov>; Mention <mention@noreply.git

[2016-05-03 05:04] drphilmarshall commented on #355
Thanks Lynne! Let's re-assign this to "Submit to LSST Pub Board" but try to
have it done by mid May, as you say. Really glad to see this going in! :-)

On Mon, May 2, 2016 at 11:20 AM, Lynne Jones <notifications@github.com>
wrote:

[2016-05-03 05:28] drphilmarshall commented on #272
Hi @jasondrhodes - @rubind submitted a nice pull request at #397 , which we are now discussing. There's some dots to join with the cosmology chapter, but otherwise it looks a straightforward addition.

[2016-05-03 16:08] phartigan commented on #321
Hi,

I created a summary web page for how to use GitHub with LSST
for a first-time user.

http://sparky.rice.edu/~hartigan/github.html

This is mainly for me, but perhaps it could be useful to
others. Let me know if you see any glaring errors.

Pat

[2016-05-03 21:54] willclarkson opened #398 "Galaxy: Astrometry - discussion of HADegen metric needs updating"
(This issue writes up the outcome of recent email discussion): The description of the Parallax degeneracy metric needs updating to more accurately reflect what the currently-implemented MAF metric "ParallaxHADegenMetric" is doing.

The recently-developed Astrometry Figure of Merit 1.5 should also be added, albeit with a warning in the text that this is preliminary in the face of imminent updates t

[2016-05-03 23:17] eteq opened #399 "More overlap with 21-cm surveys?"
Has there been much/any discussion about what level of value there is in pushing some shallower bits of survey north to get more overlap with the large Arecibo HI surveys (i.e., [ALFALFA](http://egg.astro.cornell.edu/index.php/) and [GALFA-HI](https://sites.google.com/site/galfahi/)) and in the future, maybe even [FAST](http://fast.bao.ac.cn/en/)?  The Arecibo surveys are more-or-less 0 < Dec < 30

[2016-05-05 05:53] rbiswas4 opened #403 "If we want to add packages (like AMS math) do we do this in the .sty file"
I seem to be unable to get symbols like greater sim which are usually in AMS packages. Should I try to add this to LSST_Observing_Strategy_White_Paper.sty or is there a more appropriate place?

[2016-05-05 14:57] MichelleLochner commented on #290
Ok, I'm closing this for now. We'll see what the review says.

[2016-05-05 14:57] #290 closed

[2016-05-05 14:58] MichelleLochner commented on #289
I think this will be too much for this iteration of the white paper. I'll close this for now and we'll work on this in parallel.

[2016-05-05 14:58] #289 closed

[2016-05-05 14:58] MichelleLochner commented on #288
I think this won't be ready for internal review, we have an approximation for the current draft though. I'll leave it open for future work.

[2016-05-05 14:59] MichelleLochner commented on #287
Supernova section is now ready for internal review!

[2016-05-05 14:59] #287 closed

[2016-05-05 16:11] drphilmarshall commented on #403
Great if you can add it to the .sty file - thanks, Rahul!

On Wed, May 4, 2016 at 10:53 PM, rbiswas4 <notifications@github.com> wrote:

[2016-05-05 16:28] drphilmarshall commented on #290
Brava! :-)

On Thu, May 5, 2016 at 7:57 AM, MichelleLochner <notifications@github.com>
wrote:

[2016-05-05 16:29] drphilmarshall commented on #289
Another option to turn this issue into an "Epic", and use it to organize
the large amount of work involved with analyzing the sims. Agree that you
should at least move it to a later milestone: feel free to create your own!

On Thu, May 5, 2016 at 7:58 AM, MichelleLochner <notifications@github.com>
wrote:

[2016-05-05 16:31] drphilmarshall commented on #287
Hurrah! Well done, all :-)

On Thu, May 5, 2016 at 7:59 AM, MichelleLochner <notifications@github.com>
wrote:

[2016-05-05 16:51] drphilmarshall commented on #321
Nice, Pat - thank you! I like your diagram a lot, I often act that out by
hand waving when trying to explain git and GitHub to people. I should copy
it and put it in the Getting Started FAQ. I guess I would make a
distinction between "clone" and "pull" though, the latter is really the
opposite of "push", while "clone" is what you do just once, to get a local
copy of the repo in the first place.

O

[2016-05-05 18:48] drphilmarshall commented on #184
@knutago and @dnidever tell me offline that option 2) is the way to go for now, with the MCs chapter making a re-appearance at a later date. I will take care of shifting the content (including the proper motions science case) to the special surveys chapter, as soon as I can. Thanks!

[2016-05-05 20:25] lundmb commented on #184
I'll quickly note that there is an exoplanet case that I wrote up and
should be in the directory for the Magellanic Clouds, although it does
reference the other exoplanets section for a more in depth discussion of
metrics, though it's possible to reproduce the metric results in that
section if that's preferred.

On Thu, May 5, 2016 at 3:49 PM, Phil Marshall <notifications@github.com>
wrote:

[2016-05-05 20:25] knutago commented on #184
Thanks, Phil.

[2016-05-05 22:00] drphilmarshall commented on #184
OK, thanks Mike - I'll try and remember to take a look when I get to this.

On Thu, May 5, 2016 at 1:25 PM, lundmb <notifications@github.com> wrote:

[2016-05-06 19:12] willclarkson opened #405 "Galaxy chapter: Microlensing discussion update"
Following the informal microlensing skypecon Fri May 6th 12:00 Noon EDT, the discussion on microlensing needs to be updated in the Galaxy chapter. Will will draft the updates (highlighted in blue) for the microlensing experts to review.

@willclarkson and @lundmb to work on implementing figure of merit 4.1.

cc @akvivas @davidpbennett @mtpenny, @lundmb, David Ciardi, Rachel Street, Laura Chomiuk

[2016-05-08 13:08] fedhere commented on #378
close: left as todo for the future

[2016-05-08 13:08] #378 closed

[2016-05-08 13:08] fedhere commented on #377
closed: thightened up, but no metric design included.

[2016-05-08 13:08] #377 closed

[2016-05-09 00:22] jasondrhodes commented on #273
@drphilmarshall @mtpenny @jasondrhodes I had a question about this claim: "These will allow microlensing parallax measurements to
determine the distances and masses of a representative sub-sample of the rogue planets found by
the WFIRST  microlensing survey. These measurements will be crucial for the interpretation  of
WFIRST’s rogue planet discoveries, and they cannot be obtained by another metho

[2016-05-09 00:30] jasondrhodes commented on #273
@drphilmarshall Sorry for the belated reply.  I made some changes to the latex files for weaklensing, microlensing,and the wifirst intro.  I will try to check those into GitHub (but I have had trouble doing that before).  If it doesn't work, I will send those latex files.  I thought you had some supernova text from @rubind  but I did not see it in the supernova latex file I downloaeded.  Can you c

[2016-05-10 00:48] drphilmarshall commented on #273
OK, thanks Jason! I will merge your changes in first, and then David's
(which are waiting in pull request #397 ), and then look to get them
reviewed.

On Sun, May 8, 2016 at 5:30 PM, jasondrhodes <notifications@github.com>
wrote:

[2016-05-10 01:03] drphilmarshall commented on #272
In #397, I wrote the following:

I'm just reproducing this feedback here so that you can address it before we close this issue. I needed to merge the PR so that @jasondrhodes could get up to speed easily.

[2016-05-16 10:30] MichelleLochner commented on #307
@drphilmarshall do you want to list some general guidelines for what we should be focussing on and thinking about as we review a section? This is slightly different from refereeing a standard journal article.

[2016-05-22 23:29] jhrlsst commented on #159
This issue and discussion results in
"Rolling Cadence Optimized for SN Cosmology"
at
https://github.com/LSSTScienceCollaborations/ObservingStrategy/blob/master/opsim/Proposal_SN.md.

[2016-05-22 23:29] #159 closed

[2016-05-23 15:35] drphilmarshall opened #411 "Observing Strategy at the Tucson 2016 Project and Community Workshop"
Hi @LSSTScienceCollaborations/observing-strategy-white-paper-editors @LSSTScienceCollaborations/observing-strategy-white-paper-contributors

Apologies for radio silence of late: the beginning of May turned out to be unanticipatedly busy! One good thing about my absence is that the white paper has had a little more time to become stable: thanks for all your work on that.

Meanwhile, this summer's b

[2016-05-23 15:36] #411 closed

[2016-05-24 04:11] rhiannonlynne commented on #355
Written into chapter 2 - https://github.com/LSSTScienceCollaborations/ObservingStrategy/pull/412

[2016-05-24 04:35] drphilmarshall commented on #399
Hi Erik ( @eteq ) !  There has not been much discussion of this, no. On the cosmology side, there have been wonderings about pushing the survey area further north to overlap more with DESI, but the gains have not been well quantified yet. What metric(s) would you use to argue for such a change in survey region? Numbers of discovered objects, precision in some statistical model parameter, or what?

[2016-05-24 04:37] drphilmarshall commented on #72
I am assuming this has been left behind long ago!

[2016-05-24 04:37] #72 closed

[2016-05-24 04:38] #76 closed

[2016-05-24 04:46] drphilmarshall commented on #175
Revisiting this: the DDFs are explained in Chapter 2, and are available in the OpSim outputs for people to quantify. I think we should leave them out of the special surveys chapter, and use that space to focus on *new* ideas for special surveys - there does not seem to be high demand for investigation of the white paper ideas. Closing this out: we can always re-issue ourselves with providing more

[2016-05-24 04:46] #175 closed

[2016-05-24 04:47] drphilmarshall commented on #303
I guess all three of us will be working on this during the review time! :-)

[2016-05-24 04:47] #303 closed

[2016-05-24 04:51] drphilmarshall commented on #321
Looks like @lmwalkowicz did not have time to merge the text together any better that I did already, so let's close this and see what the section's reviewer makes of it. Perhaps it will pass muster! Thanks for all your contributions - if you want to take on the editing job of removing all remaining redundancy, please let me know.

[2016-05-24 04:51] #321 closed

[2016-05-24 05:04] phartigan commented on #321
Would you like me to do it?  Now is not a bad time for me.

ph

[2016-05-24 05:08] pmmcgehee commented on #321
Thanks for volunteering, Pat. I can also it over if you wish.

Peregrine
On May 23, 2016 22:04, "phartigan" <notifications@github.com> wrote:

[2016-05-24 05:18] drphilmarshall commented on #273
Closing this: I am effectively reviewing (and editing!) your WFIRST WL text in PR #413

[2016-05-24 05:18] #273 closed

[2016-05-24 05:20] drphilmarshall commented on #272
Thanks again, @rubind  - closing this out while I go find you a reviewer. I may do some editing myself, like I'm doing for @jasondrhodes :-)

[2016-05-24 05:20] #272 closed

[2016-05-24 05:22] AshishMahabal commented on #321
Pat/Peregrine, please go for it!

[2016-05-24 05:44] drphilmarshall commented on #271
Thanks for the info, @davidpbennett - hopefully @kem0cook can get back to you with the baseline cadence LSST coverage of that field at some point. In the meantime, I started reviewing your text. I'll submit a pull request so you can see my suggested changes.

[2016-05-24 05:53] drphilmarshall commented on #306
All "Final Draft" issues are now either closed or punted. Yes!

[2016-05-24 05:53] #306 closed

[2016-05-24 05:55] drphilmarshall opened #415 "Make a "Draft for Review" release"
Including the PDF, trickily. This is the PDF we'll be asking people to issue feedback on.

[2016-05-24 05:55] phartigan commented on #321
ok. give me a day and I'll see what I can do with it and then we
can iterate if need be. Which sections, specifically, need to be
downloaded and merged?

ph

[2016-05-24 06:00] drphilmarshall opened #416 "Give the pub board some advance notice"
Contact Pat B, tell her when the v1 WP will be submitted, and advise on it's unusual nature.

[2016-05-24 06:12] drphilmarshall commented on #415
Done: https://github.com/LSSTScienceCollaborations/ObservingStrategy/releases/tag/v0.8
Reviewers can now either be pointed at this release page, or the [v0.8 PDF](https://github.com/LSSTScienceCollaborations/ObservingStrategy/raw/issue/415/draft-for-review/whitepaper/LSST_Observing_Strategy_White_Paper.pdf) directly.

[2016-05-24 06:12] #415 closed

[2016-05-24 06:18] drphilmarshall opened #417 "Feedback on Cepheids Section 5.2"
@AshishMahabal @lmwalkowicz Who wrote the Cepheids section in your chapter, please?@StephenRidgway provided the following comments for them, below. Thanks!

Comments on "5.2 The Cepheid Mass-Luminosity Relation"

"once the evolve " -> once they evolve

"B20 and references therein" - B20 is not defined

The Fourier decomposition looks odd.  The term phi_k looks like a phase, should it be inside the

[2016-05-24 06:23] drphilmarshall opened #418 "Feedback on ZZ Cetis Section 5.3"
Hi @keatonb - @StephenRidgway has reviewed your section, and has the following comments! See what you think.

Comments on "5.3.1 The Case for ZZ Cetis"

"Strategies that maximize photometric precision and total number of visits in all filters optimize the survey toward this goal, but the tradeoffs between these dual requirements are complicated and must be explored in MAF to be understood."

I do

[2016-05-24 06:28] drphilmarshall opened #419 "Feedback on Young Stars Section 5.4"
@phartigan - I think you are actually best placed to tidy up Section 5.4 after all. @StephenRidgway read through it, and has the following comments (which I'm sure make sense to you!). He is suggesting that you make your proposal  for a new survey in its own subsection, I think - this what other groups have done, and it helps keep the concepts of survey evaluation and survey optimization separate.

[2016-05-24 06:35] drphilmarshall commented on #419
Just seen your recent messages on the old thread, #321. Thanks for volunteering, @phartigan ! You asked:

Can you please `git pull` to get the most recent version of the whole paper, and then work on `Variables/youngstars.tex`? The whole section needs reading through and editing so that it makes sense, and is as concise as possible. Then, Steve's other comments above need attending to. Thank you!

[2016-05-24 13:39] drphilmarshall opened #420 "Include link to `sims_maf` documentation"
As provided by @rhiannonlynne :  https://sims-maf.lsst.io/ :-)

[2016-05-24 13:47] drphilmarshall opened #421 "Feedback on Preface and Introduction?"
Hi @michaelstrauss

It would be _great_ if you would review the Preface section and Introduction chapter for us. What we need is to make sure that we have correctly framed the paper, and explained the living document concept well. It might be good to skim the rest of the paper to check for consistency as well.

Here's the "final draft" of the paper:

https://github.com/LSSTScienceCollaborations/Ob

[2016-05-24 14:20] pmmcgehee commented on #321
Hi Pat,

I'll have a look over your first pass.

Thanks,
Peregrine

On Mon, May 23, 2016 at 10:55 PM, phartigan <notifications@github.com>
wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-24 14:49] willclarkson commented on #355
Thanks for adding this @rhiannonlynne !! I will update the relevant parts of the Galaxy chapter with the new opsimdbref during the coming week.

cc @akvivas

[2016-05-24 16:13] drphilmarshall opened #422 "Feedback on Chapter 2 Introduction (2.1) and Baseline Cadence (2.2)"
@AshishMahabal Would you be willing and able to read and comment on 2.1 and 2.2 please? We need the baseline cadence section to contain a sufficient description of the main OpSim output that the science analyses are using, and the introduction needs to present it well. I think its good to read both together, and in the light of what you know is coming in, for example, the transients and variables

[2016-05-24 16:15] drphilmarshall opened #423 "Feedback on Chapter 2 Alternative Strategies"
@willclarkson Would you mind reading and commenting on sections 2.1 and 2.3 please? I think its good to read the introduction as well as the alternative strategies section together, and in the light of what you know is coming in, for example, the galaxy chapter.

You can [download and view the v0.8 PDF here](https://github.com/LSSTScienceCollaborations/ObservingStrategy/raw/issue/415/draft-for-rev

[2016-05-24 16:18] drphilmarshall opened #424 "Feedback on Section 2.4 Rolling Cadence"
@egawiser  Would you be willing and able to read and comment on section 2.4 please? Rolling cadence gets referred to multiple times in the white paper, and so it would be good to make sure (using your PDF viewer's search facility) that those cross-references make sense (and are enabled by hyperlinks where appropriate).

You can [download and view the v0.8 PDF here](https://github.com/LSSTScienceCo

[2016-05-24 16:24] drphilmarshall opened #425 "Does the Preface explain the white paper concept sufficiently well?"
@bethwillman Would you mind reading the white paper Preface and letting me know what you think? It's important to communicate the white paper concept well, so both our readers and our prospective contributors understand what they are looking at. Should this be done in the Introduction or the Preface, do you think? Thank you!

[2016-05-24 16:43] drphilmarshall opened #426 "Feedback on the Solar System Chapter"
@davidtrilling You suggested that we ask Mike Solontoi and JJ Kavelaars for feedback on the Solar System chapter. I will look up their email addresses and point them at this issue, and ask if they can help us out!

What we are looking for at this stage is the following:
1. Does the chapter tell a coherent story about the science that is being planned?
2. Each science section (eg Sections 3.2 - 3.7

[2016-05-24 16:53] drphilmarshall opened #427 "Feedback on the AGN Chapter"
Hi @lmwalkowicz - would you mind please reading and commenting on Chapter 8 please? The AGN group have put in a lot of work laying out their science cases, and have suggested AGN experts to review them - what I think we also need is a high level review of the chapter to make sure that it tells a coherent story, and to check that the quantitative / metric analysis is presented well (eg with appropr

[2016-05-24 17:46] bethwillman commented on #425
Hey Phil - Whats my deadline for this?  I could do it late next week with
deadline of ~June 3.

On Tue, May 24, 2016 at 9:24 AM, Phil Marshall <notifications@github.com>
wrote:

--
Beth Willman
LSST Deputy Director
Associate Astronomer, Steward Observatory
933 North Cherry Avenue
Tucson, Arizona 85721
520-318-8473

[2016-05-24 18:54] drphilmarshall commented on #425
That would be perfect, thanks Beth! I've pushed the internal review
milestone back to June 3rd: I can work on addressing your comments in the
week following that.

On Tue, May 24, 2016 at 11:07 AM, Beth Willman <notifications@github.com>
wrote:

[2016-05-24 19:22] drphilmarshall commented on #426
Emails sent, waiting to hear back.

[2016-05-24 19:32] drphilmarshall opened #428 "Feedback on Galaxy Section 4.2 Populations in the Disk"
Hi @ebellm ! Thanks for agreeing to do some section reviewing :-) Would you mind taking a look at Section 4.2 of the Galaxy chapter, please? I pushed the internal review milestone back to June 3rd, so you've got until the end of next week - although the sooner you can get back to us, the sooner we can get this section finished and ready to submit.

What we are looking for at this stage is to addre

[2016-05-24 19:38] drphilmarshall opened #429 "Feedback on Galaxy Section 4.3 Positions, Proper Motions and Parallax"
Hi @dnidever  Would you mind doing some section reviewing, please? It would be great if you could take a look at Section 4.3 of the Galaxy chapter, and give them some feedback. I think you'd be good to do this, given that the primary science case that you and Knut identified for the Magellanic Clouds was also astrometry-focused. I pushed the internal review milestone back to June 3rd, so you'll ha

[2016-05-24 19:43] drphilmarshall opened #430 "Feedback on the Galaxy Chapter intro, further work etc"
Hi @lundmb - as part of our internal review, would you mind taking a look through the Galaxy chapter and giving some high level feedback, please? The sections are out for focused review already, but I think it would be good to get your impression of the chapter as a whole. Does it hang together well? Are there any pieces you feel are missing, having read it through?

Thanks for helping out with th

[2016-05-24 19:49] rhiannonlynne commented on #426
JJ Kavelaars - @ijiraq
Mike Solontoi - @solontoi

[2016-05-24 20:27] lundmb commented on #430
I'll get on this in the next 2-3 days.

On Tue, May 24, 2016 at 3:18 PM, Phil Marshall <notifications@github.com>
wrote:

[2016-05-24 20:51] keatonb commented on #418
Thanks for your comments on this section @StephenRidgway
[code]

The tradeoff here has to do with exposure times.  We could obtain higher photometric precision with longer exposure times, but we would end up with fewer visits overall.  The MAF analysis favors the strategy with 60-second _u_ band visits, providing greater photometric precision in _u_.  I know there are some other existing OpSim run

[2016-05-24 21:09] drphilmarshall commented on #430
Thanks, Mike! :-)

[2016-05-24 21:13] drphilmarshall commented on #426
Thanks @rhiannonlynne :-)

Mike, JJ: you can read more about what we're looking for from you in the [top comment on this thread](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/426#issue-156555444). We're trying to get each section reviewed by June 3rd - hopefully you'll enjoy reading the chapter, and can make some quick comments for the editors to respond to. Feel free to st

[2016-05-24 21:33] willclarkson commented on #430
Thanks @lundmb ! Two-three days works well, we may have some more microlensing material to go in there in the next 1-2 days.

[2016-05-24 21:35] drphilmarshall opened #431 "Not all sections have navigation bars"
I'll make a pass through and fix this.

[2016-05-24 21:40] drphilmarshall opened #432 "Feedback on Young Transients Section 6.2"
Hi @AshishMahabal   Would you mind taking a look at Section 6.2 of the Transients chapter, and giving @fedhere and @svalenti some feedback, please?  I pushed the internal review milestone back to June 3rd, so you'll have until the end of next week - although the sooner you can get back to us, the sooner we can get this section finished and ready to submit :-)

What we are looking for at this stage

[2016-05-24 21:43] drphilmarshall opened #433 "Feedback on Supernovae Section 6.3"
Hi @jhrlsst   Would you mind doing some section reviewing, please? It would be great if you could take a look at Section 6.3 of the Transients chapter, and give @fedhere some feedback. It'd be really good to make sure that the transients and cosmology chapters' treatment of supernovae are well cross-referenced. I pushed the internal review milestone back to June 3rd, so you'll have until the end o

[2016-05-24 21:47] drphilmarshall opened #434 "Feedback on GRB Afterglows Section 6.4"
Hi @pkurczynski Would you mind doing some section reviewing, please? It would be great if you could take a look at Section 6.4 of the Transients chapter, and give @ebellm some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you can get back to us, the sooner we can get this section finished and ready to submit :-)

[2016-05-24 21:52] drphilmarshall opened #435 "Feedback on Gravitational Wave Sources Section 6.5"
Hi @soares-santos  Great to see you the other day, thanks for agreeing to help with the white paper internal review :-) It would be great if you could take a look at the Gravitational Wave Sources Section 6.5 of the Transients chapter that you started, and give the writing team (including @raffaellamargutti  and @zodoctor) some feedback, via this issue or other new ones. Our internal review milest

[2016-05-24 21:55] drphilmarshall opened #436 "Feedback on Transients Chapter 6"
Hi @MichelleLochner

Would you mind please taking a look through the Transients chapter 6 and giving some high level feedback to the editors, @fedhere and @ebellm ? The individual sections are out for review already, but it would be great if you could skim the whole thing, and comment briefly on the introduction and further work sections. Does it all hang together well? Is there anything missing?

[2016-05-24 22:15] drphilmarshall opened #437 "Feedback on the AGN Census Section 8.2"
Hi @rhiannonlynne   Would you mind doing a spot of section reviewing, please? It would be great if you could take a look at Section 8.2 of the AGN chapter, and give the writing team ( including @ohadshemmer @gtrichards @cmp346 @nielbrandt @AstroVPK ) some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you can get

[2016-05-24 22:17] drphilmarshall opened #438 "Feedback on AGN Disk Intrinsic Variability Section 8.3"
@ohadshemmer I just promoted the Disk Intrinsic section to the main part of the chapter (git pull!), and have appointed myself your section reviewer :-) I'll post comments and questions here before June 3rd.

[2016-05-24 22:22] drphilmarshall opened #439 "Feedback on the AGN Microlensing Section"
@ohadshemmer and @tanguita suggested that we ask George Chartas (GitHub username unknown) to review the AGN microlensing section. I will send him an email and if he is willing, point him at this issue. Our internal review milestone has a due date of June 3rd, so he'll have until the end of next week - although the sooner he can get back to us, the sooner we can get this section finished and ready

[2016-05-24 22:42] phartigan commented on #419
ok.

[2016-05-24 23:38] StephenRidgway commented on #418
Ah, yes, u band.  By all means.  Perhaps I was reading carelessly and extrapolated down the wrong path.  Your point about an order of magntiude increase is also perfectly fair - that is easy to understand as significant.

[2016-05-24 23:44] keatonb commented on #418
Okay.  I've just submitted a pull request with my clarified revision.

[2016-05-25 02:56] keatonb commented on #417
Attention @ShashiKanbur, I believe these comments are for you.

[2016-05-25 12:44] ShashiKanbur commented on #417
Hello, I tried to address some of these comments - the section on "Description of relevant Metrics" was not written by me. Let me know if there are any other points. Thanks.

[2016-05-25 13:59] akvivas commented on #429
Thanks @drphilmarshall and @dnidever. We are expecting also comments from Todd Henry on this sub-section. We will merge both Todd and David's comments.

[2016-05-25 14:41] drphilmarshall opened #443 "Feedback on Cosmology LSS Section 9.2"
Hi @jmeyers314   Would you mind doing a spot of section reviewing, please? It would be great if you could take a look at Section 9.2 (dithering, uniformity for LSS) of the Cosmology chapter, and give the writing team ( including @egawiser ) some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you can get back to us

[2016-05-25 14:43] drphilmarshall opened #444 "Feedback on Cosmology Weak Lensing Section 9.3"
Hi @jasondrhodes    Would you be willing to help out with the internal review of the white paper, please? It would be great if you could take a look at Section 9.3 (weak lensing) of the Cosmology chapter, and give the writing team ( including @jmeyers314 ) some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you ca

[2016-05-25 14:45] drphilmarshall opened #445 "Feedback on Cosmology Supernovae Section 9.5"
Hi @svalenti  Would you mind doing a spot of white paper section reviewing, please? It would be great if you could take a look at Section 9.5 (supernovae) of the Cosmology chapter, and give the writing team ( including @MichelleLochner @jhrlsst @rbiswas4 ) some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you ca

[2016-05-25 14:47] jasondrhodes commented on #444
Phil-  Sorry I cannot do it on this time scale.  The annual Euclid Consortium meeting is next week in Lisbon and as US lead for Euclid, this is typically my busiest week of the year. Could I suggest a couple of alternatives:

Tim Eifler
Michael Schneider

Sorry to skirt this responsibly, but I don’t want to commit to something that I don’t have time to do well on the needed timescale.
Jason

From:

[2016-05-25 14:47] drphilmarshall opened #446 "Feedback on Cosmology Strong Lensing Section 9.6"
Hi @rbiswas4  Would you mind doing a spot of section reviewing, please? It would be great if you could take a look at Section 9.6 (strong lens time delays) of the Cosmology chapter, and give the writing team (i.e. me!) some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you can get back to us, the sooner we can ge

[2016-05-25 14:57] drphilmarshall opened #447 "Feedback on Special Surveys Chapter"
Hi @yoachim

Would you mind taking a look at Chapter 10, Special Surveys, as part of our internal review, please? It's currently missing a section on the Magellanic Clouds, which I am tasked with providing as part of #184, but the other two sections (Solar System mini-surveys and Short Exposures) are there already.

What I'm looking for is feedback for the writing team ( @dnidever , @knutago and m

[2016-05-25 15:00] rbiswas4 commented on #446
Sure .. will do.

[2016-05-25 15:04] drphilmarshall opened #448 "Feedback on WFIRST Weak Lensing Section 11.2 (and also introduction 11.1)"
Hi @tonytyson    Would you mind doing a spot of white paper section reviewing, please? It would be great if you could take a look at Sections 11.1 and 11.2 (WFIRST introduction and weak lensing science section) of the WFIRST chapter, and give the writing team ( including @jasondrhodes  ) some feedback. I think you'll enjoy seeing how the synergy with LSST is being explored.

Our internal review mi

[2016-05-25 15:08] drphilmarshall opened #449 "Feedback on WFIRST Supernovae Section 11.3"
Hi @rbiswas4   Since the SL section should be easy to review, would you mind please also taking a look at Section 11.3 (WFIRST supernovae), and giving the writing team ( including @rubind ) some feedback? I think you'll enjoy seeing how the synergy with LSST is being explored - Section 11.1 contains the basic introduction to the WFIRST survey. It would also be good to look for how well this sectio

[2016-05-25 15:10] drphilmarshall opened #450 "Feedback on WFIRST Microlensing Section 11.4"
Hi @lundmb     Would you mind also taking a look at Section 11.4 (WFIRST exoplanetary microlensing) of the WFIRST chapter, and give the writing team ( including @mtpenny and @davidpbennett  ) some feedback? I think you'll enjoy seeing how the synergy with LSST is being explored. I've been helping them with the structure a bit, so hopefully this one will be relatively straightforward.

Our internal

[2016-05-25 15:17] tonytyson commented on #448
Phil,
I'd be pleased to do by next week.
Tony

On 5/25/16 8:07 AM, Phil Marshall wrote:

[2016-05-25 15:18] drphilmarshall opened #451 "Feedback on section and chapter structure in the Variables chapter"
@StephenRidgway already reviewed the variables science sections for content; I will read through the chapter and give feedback to the chapter editors @AshishMahabal and @lmwalkowicz on the overall structure (at both chapter and section levels). Are there Figures of Merit proposed? Is the route to calculating these metrics laid out? Is the ongoing program clear? Etc.

[2016-05-25 15:19] drphilmarshall commented on #307
Alright! All sections are now assigned to reviewers. Looking forward to seeing what they all come up with by June 3rd.

[2016-05-25 15:19] #307 closed

[2016-05-25 16:53] rbiswas4 commented on #449
Sure I would be happy to look into this and see how we could coordinate the two sections.

[2016-05-25 17:06] drphilmarshall commented on #444
Thanks for letting me know, Jason!

@mdschneider, would you be willing and able to review the WL section of the
Observing Strategy white paper? Details further up this issue thread.
Thanks!

[2016-05-25 17:06] drphilmarshall commented on #446
Thank you! :-)

On Wed, May 25, 2016 at 8:02 AM, rbiswas4 <notifications@github.com> wrote:

[2016-05-25 17:06] drphilmarshall commented on #448
Excellent, thanks Tony.

On Wed, May 25, 2016 at 8:21 AM, tonytyson <notifications@github.com> wrote:

[2016-05-25 17:31] drphilmarshall commented on #426
@solontoi, @ijiraq : apologies, I just noticed that this thread does not yet contain a link to the PDF file itself. Please use this one:

https://github.com/LSSTScienceCollaborations/ObservingStrategy/raw/issue/415/draft-for-review/whitepaper/LSST_Observing_Strategy_White_Paper.pdf

It's a stable version - the master branch of this repo is still being worked on, and sometimes the auto-compiled PDF

[2016-05-25 17:33] drphilmarshall commented on #449
Great, thanks Rahul!

On Wed, May 25, 2016 at 10:03 AM, rbiswas4 <notifications@github.com> wrote:

[2016-05-25 17:44] solontoi commented on #426
@drphilmarshall - sorry I switched "chapter" and "section" in my e-mail, didn't mean to say that I was going to focus on 3.3, although I'm certainly going to go over it.

[2016-05-25 18:27] AshishMahabal commented on #432
Will do

[2016-05-25 18:28] AshishMahabal commented on #422
Will do

[2016-05-25 18:30] mdschneider commented on #444
@drphilmarshall Yes, I can review this by next week.

[2016-05-25 18:37] yoachim commented on #447
Sure. Can you give me a deadline (that is >= June 3)?

[2016-05-25 18:38] drphilmarshall commented on #426
Ah, OK - great! It'll be good to get an overview by looking through all of
chapter 3. Thanks again!

On Wed, May 25, 2016 at 10:51 AM, Mike Solontoi <notifications@github.com>
wrote:

[2016-05-25 18:39] drphilmarshall commented on #432
Thanks! :-)

On Wed, May 25, 2016 at 11:29 AM, Ashish Mahabal <notifications@github.com>
wrote:

[2016-05-25 18:39] drphilmarshall commented on #422
Great, much appreciated.

On Wed, May 25, 2016 at 11:30 AM, Ashish Mahabal <notifications@github.com>
wrote:

[2016-05-25 18:39] drphilmarshall commented on #444
Super! Thank you, Michael :-)

On Wed, May 25, 2016 at 11:32 AM, Michael D. Schneider <
notifications@github.com> wrote:

[2016-05-25 18:40] drphilmarshall commented on #447
Marvellous. I choose `deadline = 'June 3'` :-) Thank you!

On Wed, May 25, 2016 at 11:38 AM, Peter Yoachim <notifications@github.com>
wrote:

[2016-05-25 19:04] mdschneider commented on #444
@StephenRidgway @jmeyers314
In the WL section of the Observing Strategy document, did you consider adding a discussion of survey depth vs area tradeoffs? @tonytyson wrote a document to the DESC WL list about a year ago describing many of the considerations in this aspect of global survey design that have potentially large impacts on the WL science. And, it seems that considering the total survey a

[2016-05-25 19:11] rhiannonlynne commented on #437
Will do.

On Tue, May 24, 2016 at 3:15 PM Phil Marshall <notifications@github.com>
wrote:

[2016-05-25 19:37] phartigan commented on #419
ok, I've merged it all and think I've submitted a pull request.

The mini-survey part is a standalone that could be moved en-masse to
another section if desired.

Pat

[2016-05-25 20:27] pmmcgehee commented on #419
Hi Pat,

Yes, I see your pull request - looking at the changes now.

Peregrine

On Wed, May 25, 2016 at 12:38 PM, phartigan <notifications@github.com>
wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-25 20:45] drphilmarshall commented on #437
Thanks, Lynne! :-)

On Wed, May 25, 2016 at 12:11 PM, Lynne Jones <notifications@github.com>
wrote:

[2016-05-25 21:57] pmmcgehee commented on #419
Pat et al.,

That's fairly concise cleanup - and in general looks good. Three minor
comments on the changes I see in youngstars.tex.

o The shortest wavelength band in LSST is "u", so the upper case "U"s
should be replaced by "u".
o What is the reference for d=414 pc for Orion, and which cloud/complex
within Orion does this refer to?
o Table {table:pseudoForExor} needs to fleshed out.

Thanks!
Per

[2016-05-25 22:45] phartigan commented on #419
That's fine, change U to u if you like. I kept your table
in there. If you don't want it, you can remove it without affecting the flow.
Personally I don't think that level of detail is too crucial since it
ought to be fairly straightforward to identify eruptive variables, but
your call.

The reference for Orion at 414 +/- 7 pc is Menten et al 2007, A&A 474,
515. It is
a VLBA distance. It replaces

[2016-05-25 22:57] drphilmarshall commented on #419
Sounds good! @pmmcgehee I re-assigned this to you to finish off and close out. Thanks!

[2016-05-25 23:39] pmmcgehee commented on #419
Ok.. I'll do that.

Pat, thanks for the reminder of the Menten+2007 VLBA trig parallax values.
The 414+/-7 pc value is specifically for the ONC. I don't think we need to
cite it in the paper.

Peregrine

On Wed, May 25, 2016 at 3:57 PM, Phil Marshall <notifications@github.com>
wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-25 23:47] pmmcgehee commented on #419
Phil - could you please go ahead and merge Pat's changes? Then I will edit
from there.

Thanks
P

On Wed, May 25, 2016 at 4:39 PM, Peregrine McGehee <
peregrine.mcgehee@gmail.com> wrote:

--
Dr. Peregrine M. McGehee
Santa Clarita, CA    (626) 993-4199

[2016-05-26 08:01] lundmb commented on #450
I'll add this to my Friday to-do list

On Wed, May 25, 2016 at 10:13 AM, Phil Marshall <notifications@github.com>
wrote:

[2016-05-26 16:52] dnidever commented on #429
I'm super busy until the beginning of July.  So I'd happy to help then but that doesn't seem to fit into your timescale.  Sorry.

[2016-05-26 17:59] svalenti commented on #445
Hi Phil,

this is bad timing for me. I will not be able to take a look before June
2nd, but I will do what I can .

cheers
s.

On 5/25/16 7:45 AM, Phil Marshall wrote:

[2016-05-26 21:46] drphilmarshall commented on #445
OK, thanks for letting us know, Stefano. I'll try asking Iair as well.

[2016-05-26 21:46] lmwalkowicz commented on #427
Hi all,
Chapter is looking good! I think it lays out the work done so far and the future work fairly well. Suggestions below for the future work section:
@ohadshemmer: the AGN clustering paragraphs seem like fragments, it might be helpful to spell out what the future work associated with this question would be, ideally.
Section 8.4.2 looks good, but the "Discussion" bit could have the first two se

[2016-05-26 21:47] drphilmarshall commented on #445
Hi @arcavi !

Would you mind doing a spot of white paper section reviewing, please? It would be great if you could take a look at Section 9.5 (supernovae) of the Cosmology chapter, and give the writing team ( including @MichelleLochner @jhrlsst @rbiswas4 ) some feedback. Our internal review milestone has a due date of June 3rd, so you'll have until the end of next week - although the sooner you ca

[2016-05-27 00:53] drphilmarshall commented on #429
OK, thanks for letting us know, @dnidever .
@akvivas can you please point Todd at [the first comment in this thread](https://github.com/LSSTScienceCollaborations/ObservingStrategy/issues/429#issue-156591560) so he can see what we want the reviewers to think about, as well as the technical details of the science case. Thanks!

[2016-05-27 17:02] jhrlsst commented on #445
I am still updating the supernova cosmology section with Rahul and Michelle. The current text is not convincing enough for new cadence. We are making the justification stronger. I appreciate if you can give us another week to finish up the chapter.

[2016-05-27 17:11] jhrlsst commented on #433
OK. I will do this. But I will let you know the time schedule as soon as I finish SN cosmology section.

[2016-05-30 16:22] soares-santos commented on #435
Hi @raffaellamargutti, @zodoctor, et al.:

I am glad to see that this effort is going forward.
I will group my comments according to the 4 points that @drphilmarshall highlighted:

1. Does the chapter tell a coherent story about the science that is being planned?

The chapter in general does a good job of presenting the science case at hand, and makes the case for the need of a TOO program (withou

[2016-05-31 15:51] MichelleLochner commented on #436
Oops! Sorry I didn't reply. No problem, I'll get feedback to you all by the end of this week. :)

[2016-05-31 23:21] yoachim commented on #447
@dnidever @knutago @drphilmarshall
Here are my comments on Chapter 10.

Overall:
These are all interesting projects that clearly need an LSST-like facility to work.  The sections are a bit heterogeneous at the moment.  It might help to impose a bit of order and have each proposed project summarize the main science outcomes that can’t be achieved with the baseline and how much time it would take aw

[2016-05-31 23:23] davidtrilling commented on #447
i think some of these fixes (in the solar system projects) are for me. --david

[2016-06-01 16:10] jmeyers314 commented on #443
I think pdf linked above is corrupted.  The Section 9.2 text is limited to just page 172, though there are relevant figures (unmentioned in the text) beyond that.

From the first page, my only comment is that "leading to an increase in median survey depth in each filter of 0.08 magnitudes" could be helpfully augmented with something like "and decrease in the rms depth of XYZ."

[2016-06-01 16:33] egawiser commented on #443
Thanks, Josh.  I think this is because I didn't manage to update the section in time - apologies.  Let me push (forwards on) that and find a way to get you an updated PDF.  That's a nice suggestion about quoting the reduction in rms - will keep you posted.

[2016-06-01 23:50] willclarkson commented on #430
Hi @drphilmarshall (cc @lundmb and @akvivas ) - what's the cutoff deadline for any updates to the WP at this point?

From the discussion with the microlensing experts, I now have a prototype microlensing figure of merit worked up in a maf-friendly way, that could be written up for insertion into WP chapter 4. However, I probably wouldn't be able to add it before the June 3rd deadline (possibly *on

[2016-06-02 00:17] AshishMahabal commented on #432
Will be talking tomorrow (Thu) to Stefano/Fed to understand a few things that are not clear to me. Meanwhile here are my brief comments anyway.

1.	Does the chapter tell a coherent story about the science that is being planned? 

In each subsection it is kinda assumed that the science is important - and perhaps that is OK. It seems to be the nature of the white-paper to talk of bits and pieces in

[2016-06-02 00:33] ohadshemmer commented on #427
Hi @lmwalkowicz

Thanks for reviewing the chapter.
As for the "clustering" section - I'm not sure why it was resurrected - we commented it out completely back in Tucson in Nov.
As for microlensing (8.4.2 and 8.4.3) - I think this has since been edited by @tanguita - Timo can you please check this out and confirm?

[2016-06-02 18:20] lundmb commented on #430
Sorry about the delay on this, I think I'm still just in under the deadline on this, barely.

Introduction: This may be sufficiently covered elsewhere in the paper, but I'm approaching this as someone primarily looking at this section. In the second paragraph of the introduction, the current limitations of the galactic plane are only somewhat referred to. It may be more beneficial to be explicit r

[2016-06-02 18:36] lundmb commented on #450
The section broadly seems very straight forward in format. The one thing that I'm curious about that seems unaddressed is that there's a discussion of what would be the outcome at the specific cadence that is designed. I think it would benefit from some discussion of the cadence as it currently exists. For example, because of the lower number of observations for the galactic plane, I would assume

[2016-06-02 19:29] davidpbennett commented on #450
Hi,

With the currently planned cadence, I’m pretty sure that the science
output from a joint WFIRST-LSST observations of the WFIRST Exoplanet
microlensing fields will be = 0. But, we can’t do an evaluation of
this without knowing how often the fields will be observed. We asked
about this a month ago, but as far as I know, we are still waiting on
a reply.

The WFIRST seasons are Feb 13 - Apr 26 an

[2016-06-02 20:32] lundmb commented on #450
@davidpbennett I think I can put together something in MAF to look up the observing schedule for that position in the sky by the weekend.

I do also already have files from a past OpSim for the observing schedule for a somewhat generic deep drilling and wide-fast-deep field. I can email those to either you or @mtpenny for this. The files contain time of observation and band, which looks like the t

[2016-06-02 20:33] willclarkson commented on #430
Thanks @lundmb !! cc @akvivas

@drphilmarshall - do we now need to get these comments addressed by Jun 3rd?

Best -- Will

[2016-06-02 20:37] tanguita commented on #427
Hi @lmwalkowicz, @ohadshemmer,

I think you might have read a rather old version. There is no discussion section in 8.4.2. I did fix the BELR issue though.

Thanks!

Timo

[2016-06-02 21:11] ohadshemmer commented on #427
@tanguita

Would you mind also verifying that the "AGN Clustering" section is now gone too (I think it was 8.5.1 in the version I read - not sure - currently traveling...). Thanks!

[2016-06-02 21:22] tanguita commented on #427
@ohadshemmer

Indeed AGN Clustering is part of the Future Work section.

[2016-06-02 21:24] ohadshemmer commented on #427
@tanguita

Can you please comment it out completely?
We removed the "clustering" section back in Nov. around the Tucson meeting,
in consultation with Michael Strauss.

[2016-06-02 21:28] tanguita commented on #427
@ohadshemmer DONE

[2016-06-02 22:23] AshishMahabal commented on #432
Thank you Fed/Stefano for the call.

Just for completeness, generating new issues with your names.

[2016-06-02 22:25] AshishMahabal opened #459 "Sec. #6.2 'Young' transients"
Clarify what you mean by the term, and which subset is covered @fedhere @svalenti

[2016-06-02 22:28] AshishMahabal opened #460 "Sec. #6.2 linking MAF output"
@fedhere @svalenti you have figures just before #6.2 that are relevant (you said). Please refer to them in the section.

[2016-06-02 22:30] AshishMahabal opened #461 "Sec. 6.2 3 visits"
@fedhere @svalenti You mention that 3 visits (2 in one band and one in another) in a night will be useful to separate and understand the young transients. If you can quantify it just a bit more that will be useful. How and why the 3-visit OpSim run that is included is inadequate could be one of the points

[2016-06-02 22:31] AshishMahabal opened #462 "Sec. 6.2 minor points"
Watch this space for a few very minor points that may have to be straightened. @fedhere @svalenti

[2016-06-02 22:40] ebellm commented on #428
Hi @willclarkson, @caprastro, @cbritt4, @chomiuk, here's are my (mostly minor) comments on Section 4.2:

Overall the section does a nice job advocating for improved Plane coverage with some detailed presentation of several science cases.  The draft figures of merit are well-developed (although they indicate the challenges of doing population-level analysis with the MAF!).

One question the chapter

[2016-06-02 22:43] rhiannonlynne commented on #450
@davidpbennett
So sorry we couldn't get to this sooner - I actually have many more pressing things to do for LSST in-critical-path issues, plus I was working on writing the solar system chapter for this whitepaper). I suppose I should have suggested a simple SQL query of the LSST sqlite pointing history would have provided this same information.

The attached files are confusing -- the first group

[2016-06-02 22:46] ebellm opened #463 "Standardize numbering of Figures of Merit"
Different chapters use different conventions for numbering the Figures of Merit; some chapters do not use any numbering scheme at all.  I suggest we devise a unique numbering scheme.

[2016-06-03 00:10] willclarkson commented on #428
Thanks @ebellm ! You make a number of excellent points here.

Regarding the filter-set issue, one possibility might be to do periodicStarMetric for a very red or very blue fiducial object (like a qLMXB at some fiducial apparent magnitude). We could even scale the recovery fraction with the stellar density (so basically the Galactic Supernova case with the sinusoid replacing the transient). Then th

[2016-06-03 00:18] lundmb commented on #428
@ebellm does make a point I should''ve noticed in there. I'm a little bit
uncertain of the intent, but TripletMetric may be getting slightly misused
in this context. It might help to know what the desired goal is from
TripletMetric a bit more. There is some issue that the current instance
doesn't address overlaps in the triplets.

On Thu, Jun 2, 2016 at 7:10 PM, Will Clarkson <notifications@github

[2016-06-03 00:25] willclarkson commented on #428
Thanks @lundmb - the intention there was to use a metric that returns the fraction of events of type X that could be noticed by LSST.

I thought that's what TripletMetric does, based on the time distribution of the observing dates only (so a rise might be noticed if events separated by delta-t1 and a fall noticed if separated by delta-t2).

From this discussion, however, it sounds like it returns